[2020-08-25 09:51] ami-day commented on #118
Ami Secondary review:

**Edited version:** https://docs.google.com/spreadsheets/d/1VovZyygCNPI87doP3G0GgcZPdxI_B4Ix/edit#gid=1885177057

**Project**
- The insdc project and study accessions need to be swapped

**Contributors**
- The primary wrangler name is surname,,firstname (Sapena Ventura,,Enrique). It should be firstname,,surname
- There is no primary contact email address. I suggest we search

[2020-08-25 13:59] ESapenaVentura commented on #118
Thanks for the review Ami!

- I have added the email that appears in GEO and added that as a corresponding contributor
- I have looked at your corrections and applied them!

I think it's good to go!

[2020-08-26 10:03] ESapenaVentura commented on #118
Dataset is ready for export. Closing the ticket!

[2020-08-26 10:13] ESapenaVentura opened #120 "Move all the finished datasets to "Projects - Finished" in GDrive"
**Description of the task:**

The datasets that are already finished* should be moved to the `PROJECTS - FINISHED` folder within GDrive, in order to avoid confusion about which datasets are finished and which are still in progress.

**Finished**: No more wrangling required, the dataset and its files are already valid, in ingest and gone through secondary review.

- [x] Assess how many folders ther

[2020-08-26 13:53] ESapenaVentura commented on #120
There are currently 75 folders under `IN PROGRESS`. I have created a list (Attached [here](https://github.com/ebi-ait/hca-ebi-wrangler-central/files/5130239/dataset_classification.rtf.gz)) that divides the folders in 4 categories:

- `IN PROGRESS`: These folders will be left in the same folder
- `DCP1 Datasets`: These will be moved to `PROJECTS - FINISHED`
- `DCP2 MVP/Not in DCP1`: These will be m

[2020-08-27 09:58] mshadbolt commented on #91
@rays22 this is ready for secondary review when you have time

[2020-08-27 12:49] mshadbolt commented on #107
@rays22 would you also be able to review this one? it is pretty small and simple

[2020-08-27 14:32] mshadbolt opened #121 "Add additional human data to organoid dataset"
**Dataset/group this task is for:**
**[ingest](https://contribute.data.humancellatlas.org/projects/detail?uuid=005d611a-14d5-4fbf-846e-571a1f874f70)**

**New 2nd submission:** https://docs.google.com/spreadsheets/d/1iF0JnTjk89UxZ6HJAu42CdzaXvyfleKPYsLaYjSZNBA/edit#gid=208686926

https://contribute.data.humancellatlas.org/submissions/detail?uuid=6baac52c-93e0-4278-96cf-cd869d501178&project=005d611a

[2020-08-27 18:42] rays22 commented on #107
Secondary review
----------------

* HCA metadata spreadsheet [GSE130973.xlsx](https://drive.google.com/file/d/10OtiVeOs9rVg2APP3gnT-qQ3awlIG4Sz/view?usp=sharing)
**passed** validation by the `ingest-graph-validator`. However, Ingest submission [Aug 4, 2020, 11:08:32 AM	e984c0a8-7a8d-4a23-ac2a-596b3ab2b128](https://contribute.data.humancellatlas.org/submissions/detail?uuid=e984c0a8-7a8d-4a23-ac2a-

[2020-08-27 19:11] rays22 commented on #91
* HCA metadata spreadsheet: `E-MTAB-8581.thymus_MS_v4.xlsx` passed validation by the `ingest-graph-validator`.
* The experimental design in the spreadsheet looks OK to me. I have uploaded the experimental design graph `E-MTAB-8581.thymus_MS_v4_graph.svg` to the Google drive folder of this dataset. The experimental graph is shown without any protocols to make it clearer.

Still to do:
* I have not

[2020-08-28 09:00] mshadbolt commented on #91
Thanks Ray, would it be possible for you to capture how you generated the graph somewhere? I assume it is some sort of cypher query?

Is it also possible to save it in an image file that can more easily be opened? I am not sure how to open an svg file.

There is no need to check the data files.

[2020-08-28 10:14] rays22 commented on #91
You can open svg files in a web browser (Firefox, Chrome, Safari, etc.). I have considered what format to use for the image export from neo4j, and decided to use a standard vector image format (svg) as opposed to a bitmap file format. Some graphs can be quite large, like the one for this dataset, and vector images scale better when zooming in.

[2020-08-28 11:00] mshadbolt commented on #107
Thanks @rays22 I forgot to run it through the ontology filler script

Would you agree that the inguinal region they took their skin samples from would be best described by the ontology term `skin of pelvis`? https://ontology.staging.archive.data.humancellatlas.org/ontologies/hcao/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FUBERON_0001415

[2020-08-28 13:35] rays22 commented on #107
For *'the sun-protected inguinoiliac region'* in the paper the term `inguinal part of abdomen (UBERON:0008337)` looks correct to me. I think the pelvis region would be more lateral relative to the [inguinal region](https://i.warosu.org/data/sci/img/0090/27/1499735236484.jpg), but not very far off.
I guess you would like the most specific term to be part of `zone of skin`, but the term `skin of the

[2020-08-28 16:51] rays22 commented on #91
### Reviewing ontology terms and labels
* There are missing ontology terms in the *'Library preparation protocol'* tab, for example:

[code]

I need more time to check the ontology labels for
`cell_suspension.selected_cell_types.ontology_label`
, because I found some suspicious labels. For example, I thought *'EPCAM-positive'* cells must be epithelial cells. I am not sure if EpCAM is a leukocyte m

[2020-09-01 09:00] mshadbolt commented on #91
thanks ray, these are the cell types you had put in the original spreadsheet so I had assumed they were correct. I have now changed it to epithelial cells in the latest version (v5).

I also fixed the authors in the publication to follow the right format.

I also added the ontologies you mention above. let me know if you find anything else

[2020-09-01 10:48] ami-day opened #122 "Bug: error message when running move_from_insdc.py script"
**Description of the task:**

When I run the following command:

python3 move_data_from_insdc.py -s SRP162461 -o s3://hca-util-upload-area/3f2f2a39-9d8f-4b61-9edf-7f7d470a5b5f

I get the below pasted error message.

I am not sure what this error message is indicating. It would be great to get it fixed so that I can transfer the data. This is not urgent as I am waiting on a new ontology term for th

[2020-09-01 10:49] ami-day commented on #122
`During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/lib/python3.7/urllib/request.py", line 1542, in ftp_open
    fp, retrlen = fw.retrfile(file, type)
  File "/usr/lib/python3.7/urllib/request.py", line 2410, in retrfile
    sys.exc_info()[2])
  File "/usr/lib/python3.7/urllib/request.py", line 2406, in retrfile
    conn, retrlen =

[2020-09-01 10:58] mshadbolt commented on #84
Simone got back to me and has provided me reviewer login for their 10X submission and a spreadsheet with their SS2 metadata.

I will be converting the 10X submission to HCA format and helping them convert the SS2 to both HCA and ArrayExpress format. They are hoping to have the SS2 submission complete by the time the manuscript has gone through first round reviews (Octoberish)

[2020-09-02 08:57] ESapenaVentura commented on #18
There are already issues filled to investigate the steps left so I think this ticket has filled its purpose.

I'm closing the ticket but if you do not agree feel free to open.

[2020-09-02 09:18] ESapenaVentura commented on #17
The outstanding issues with this are addressed in a more specific ticket.

I will close this ticket for now but feel free to reopen if necessary.

[2020-09-02 09:27] ESapenaVentura commented on #92
@aaclan-ebi issued a fix for the pooled samples issue.

I suggest we try archiving this dataset this sprint as a test.

[2020-09-02 09:30] ESapenaVentura commented on #112
I think this ticket can be closed now @ami-day ?

[2020-09-02 09:41] ESapenaVentura commented on #35
@ami-day this was included in the export so I am guessing we can close the ticket now?

[2020-09-02 09:42] ESapenaVentura commented on #97
Leaving the ticket open as we have a missing donor.

Once we have the ability to update, we should look back into this dataset.

[2020-09-02 13:06] ESapenaVentura opened #123 "Assess wrangling the new MVP datasets into SCEA"
**Description of the task:**

For the 17 datasets that will make it into the MVP, we want to assess the possibility of including them in the next Single Cell Expression Atlas (SCEA) release.

In order to achieve this:

- [x] Check with SCEA when is their next release date.
- [ ] Ask SCEA to look if any dataset is unsuitable
- [ ] Assess wrangling capacity (If suitable)

**Acceptance criteria for t

[2020-09-02 13:10] ESapenaVentura commented on #73
Looking in the EGA-archive webpage (https://ega-archive.org/search-results.php?query=EGAS00001003412) I see that looking for this dataset actually redirects to the ENA webpage.

What is the difference between ega-archive and normal ega? (e.g. https://www.ebi.ac.uk/ega/datasets/EGAD00001004544)

In the first it is redirected, in the second it isn't

[2020-09-02 14:42] ESapenaVentura opened #124 "Identify outstanding gaps in data lifecycle SOPs"
**Description of the task:**
As a member of the EBI ingest team, I would like to have a clear idea of what are the SOPs followed through the life cycle of data in ingest.

Currently, wranglers have [a visual index](https://ebi-ait.github.io/hca-ebi-wrangler-central/) with somewhat incomplete SOPs, and developers have combination of a [wiki](https://github.com/ebi-ait/hca-ebi-dev-team/wiki) and [go

[2020-09-02 15:09] ESapenaVentura opened #125 "Identify and document acknowledgment of datasets"
**Description of the task:**

As a data wrangler, I would like to set up a regular cadence at which we acknowledge new datasets and assess them. Before writing/updating a SOP, we should identify:

- How many data sources we have:
   - ArrayExpress
   - GEO
   - Single cell studies database

- If it's possible to set up a programmatic way to extract new data from those sources and compare it with t

[2020-09-04 16:10] mshadbolt commented on #108
All files we have received have been uploaded to the provided google storage area and the UCSC team have been informed about them on HCA slack dcp2 channel

I consider this one done, I am confused by a couple of the acceptance criteria above but if someone disagrees feel free to reopen

[2020-09-04 16:10] #108 closed

[2020-09-07 07:21] lauraclarke commented on #108
@mshadbolt The last one was so we knew the numbers and when UCSC post their summary table for the release we could confirm that nothing had been misattributed

[2020-09-07 10:31] ESapenaVentura commented on #83
Received latest spreadsheet on friday, saved it in the drive folder

[2020-09-07 11:12] ESapenaVentura commented on #83
Updated the spreadsheet with a couple of corrections and additions:
- Added Ray, Marion and myself as wranglers
- Added an enrichment protocol column in cell suspension to link the enrichment properly.
- Added ontologies. There is no ontology for Illumina Novaseq S4, so I need to request the term.

@rays22 will secondary wrangle this dataset.

[2020-09-07 17:56] rays22 commented on #83
Spreadsheet version `hca_spreadsheet-2020-Lawlor_ES_no_vcf_v5_ontologies.xlsx` has failed the following graph validator tests:

[code]
The problems might stem from the way the pooled cell suspensions are modelled in the metadata spreadsheet.
There are 10 distinct cell suspensions in the spreadsheet. Shouldn't there be only a single pooled cell suspension, linked to 10 distinct specimen, linked to

[2020-09-08 10:50] rays22 commented on #83
The metadata in the spreadsheet and the experimental design graph look correct to me for spreadsheet version `hca_spreadsheet-2020-Lawlor_no_vcf_v6_ontologies_Ray_review.xlsx`.[
![graph_issue83](https://user-images.githubusercontent.com/25171986/92467388-6dbc5100-f1c9-11ea-8f79-2f2007346153.png)
](url)

[2020-09-09 09:56] ESapenaVentura commented on #123
Ask about establish adding data in a regular flow - Requirements, how to, is it possible?

[2020-09-10 08:28] rays22 commented on #91
I have updated the selected cell type ontologies in the spreadsheet. I am going to double check the spreadsheet and upload it to Ingest UI.

[2020-09-10 13:14] #73 closed

[2020-09-10 13:36] ESapenaVentura commented on #120
On the meeting @rays22 said he will take this task so re-assigning

[2020-09-10 14:28] ESapenaVentura commented on #96
There is not enough metadata to begin wrangling this dataset. Once the manuscript is ready or they come back to us, I will begin working on this. For now I'll put it in the icebox

[2020-09-10 16:07] rays22 commented on #91
The latest spreadsheet version is `E-MTAB-8581.thymus_MS_v6.xlsx`.
What has changeged?
- [x] Line 43: changed `principal investigator  EFO:0009735` to `principal investigator  EFO:0009736` in sheet name="Project - Contributors".
- [x] Line 19: fixed spelling from `cannibis` to `cannabis` in sheet name="Donor organism".
- [x] Updated the selected cell type ontology terms in sheet "Cell suspension".

[2020-09-10 17:42] rays22 commented on #91
* I have uploaded the spreadsheet `E-MTAB-8581.thymus_MS_v6.xlsx` to Ingest UI (production). It has passed metadata validation.
* I have found only 240 of the 309 fastq.gz data files listed in the spreadsheet. The 240 files are in the EBI s3 backup bucket mentioned in ticket [Jongeun Park: Thymus study for GA #180](https://github.com/HumanCellAtlas/hca-data-wrangling/issues/180).
    * I need to f

[2020-09-14 13:33] MightyAx commented on #78
Correct.

@mshadbolt I agree, separate emails seems like a good solution to mitigating the threat of the folder-name being buried in an email thread. We could mention the AWS key in the normal instructions and be specific with the contributor about the impact of the secret folder knowledge: "You will receive an separate email with your secret folder name, keep this confidential. In the unlikely ev

[2020-09-14 17:07] rays22 commented on #91
I have double checked three s3 buckets, but none of them have a complete set of 309 sequence data files listed in the metadata spreadsheet. I have found only 276 of the fastq.gz files in s3 buckets.

* Two s3 areas (old DCP1 upload area and EBI 'wrangler backup' area) are mentioned in <https://github.com/HumanCellAtlas/hca-data-wrangling/issues/180>. The EBI `wrangler backup` area contains 276 fas

[2020-09-15 08:08] mshadbolt commented on #91
Hi @rays22 , we should submit the files with indices for the ones we have them for. I am guessing it is the VDJ files that are missing from the s3 bucket.

I would prefer to use the files we have in our s3 for those we have and use the arrayexpress files for the ones we don't. If we submit files without index files then they can't be processed by pipelines.

[2020-09-15 08:22] mshadbolt commented on #91
I can sort out the files if you want to move on to wrangling a new dataset

[2020-09-15 10:03] rays22 commented on #91
No, thank you. I am fine sorting out the files. I see the inconsistency of the partial pre-publication data in the s3 buckets and the peer reviewed data in the paper that have been deposited in public archives  as a problem with your suggested solution. I would like to check why the pipelines would require the sample indices for demultiplexed data before we decide how to best address the issue of

[2020-09-15 11:33] mshadbolt commented on #91
@rays22 as secondary wrangler you don't actually have to do as much as you have done.

Given this is a WSSS dataset and I am supposed to be handling it I would prefer to take on the completion of the dataset.

[2020-09-15 12:00] rays22 commented on #91
@mshadbolt , OK, that is fine with me. Thanks.

[2020-09-16 07:55] rays22 commented on #91
@mshadbolt
FYI: You can find some of the data files that you might need in
`data/E-MTAB-8581FASTQs`
on the wrangler EC2 instance.

[2020-09-17 08:53] ESapenaVentura commented on #83
- CITE-Seq data is archived under ENA (Accessions under latest spreadsheet)

- VCF data is currently being archived

[2020-09-17 17:29] mshadbolt commented on #24
Found out today that Stanford are wrangling this so I am closing

[2020-09-17 17:29] #24 closed

[2020-09-21 13:13] ESapenaVentura commented on #124
There is a big gap in archiving, as we rely in a google doc instead of an actual SOP in the repo

I have added a new SOP for that part of the wrangling process:

- https://github.com/ebi-ait/hca-ebi-wrangler-central/blob/master/docs/SOPs/archiving_SOP.md

And added it to the wrangler visual index, accessible via clicking the box "submit to dsp"

[2020-09-21 13:29] ESapenaVentura opened #127 "Review archiving SOP"
**Description of the task:**
Related to #124 , I have identified and fixed a gap that we have in the documentation (How to archive).

This ticket will serve for @rays22 to review the documentation, ensuring that there are no gaps and that the steps are clear and can be followed without a deep knowledge of how to run the archiver. I have also looped @aaclan-ebi in this task to review that the docum

[2020-09-21 13:35] ESapenaVentura opened #128 "Scan for MRC publications and start template emails"
**Description of the task:**
To understand where the MRC awardees are in the process of data generation, and if we should provide with any support, I will begin scanning for pre-prints for the 13 datasets and begin working on template emails.

Will update later with sections for each awardee.

Holding off on sending the emails for now until we get notification for project registration availability

[2020-09-21 14:19] ESapenaVentura commented on #128
**Scan**
- Cell atlas of the human female reproductive system across the lifespan: No data
- How heterogeneous are oligodendroglia from normal human brain and spinal cord?: No data
- A cell atlas of the human outflow tract of the heart: No data
- The Joint Atlas: A cellular map of key anatomical structures in the human synovial joint during development and in healthy adults: No data
- Defining reg

[2020-09-21 17:57] rays22 commented on #29
I have transferred all the 27 fastq files originally submitted to SRA using the NCBI cloud data delivery service. The fastq files are in the wrangler/contributor bucket in directory named `Lavaert-issue29`.
[code]

[2020-09-22 20:06] tburdett opened #130 "Estimate average cloud costs by meaningful scientific measures"
We would like to be able to realistically evaluate and project the costs of operating the DCP based on meaningful scientific measures (e.g. projects, cells). This is needed so that our funders and the oversight committee can track the overall costs of running the DCP, and project how much it *might* cost in future based on anticipated growth rates of experimental data in the HCA.

Right now, we ha

[2020-09-23 08:42] mshadbolt opened #131 "Review and prioritise WSSS publications"
I recently received the latest WSSS report which has a list of publications that I would like to review and ensure we have in our tracking sheet.

Acceptance criteria:
- [ ] list of publications for H12020 report reviewed, any missing publications added to tracker
- [ ] any appropriate datasets prioritised and assigned to wranglers for wrangling

[2020-09-23 14:29] danielsotirhos commented on #108
@mshadbolt @lauraclarke According to the spreadsheet the following files should exist but were not found:
[code]

[2020-09-23 15:10] mshadbolt commented on #108
@danielsotirhos apologies for missing those, currently uploading, will let you know when complete

[2020-09-23 15:21] mshadbolt commented on #108
For the FetalLiverHaematopoieis there was a typo in the file name, it is an upper case S i.e.
`https://console.cloud.google.com/storage/browser/_details/hca-prod-ebi-matrices/f2fe82f0-4454-4d84-b416-a885f3121e59-FetalLiverHaematopoiesis/f2fe82f0-4454-4d84-b416-a885f3121e59.supp_table_S6.csv`

some have inconsistencies in the folder naming which I will harmonise

[2020-09-23 15:40] mshadbolt commented on #108
@danielsotirhos can you have another check and see that you can find all the files ok?

[2020-09-23 15:44] mshadbolt commented on #108
just clarifying, 3 files were outright missing, the others had different naming which I largely matched above, though I didn't fix the upper case S in the fetal liver file in the cloud storage, I just updated the name in the google sheet

[2020-09-23 16:00] danielsotirhos commented on #108
@mshadbolt Thank you, using the latest [spreadsheet](https://docs.google.com/spreadsheets/d/1Te1FTUbdn-tFS3eLVTB7uMEApoFU0Il6krSoiq_LAAw/edit#gid=0) (minus rows missing a file name) I found just one missing file.
[code]

Looks like it was placed in an extra subdir?
[code]

[2020-09-23 16:01] mshadbolt commented on #108
d'oh I thought I fixed those, fixing...

[2020-09-23 16:08] mshadbolt commented on #108
I think I fixed it @danielsotirhos

[2020-09-23 16:14] danielsotirhos commented on #108
Perfect, all files on the spreadsheet found in the bucket. Thank you @mshadbolt

[2020-09-23 16:15] mshadbolt commented on #108
Thanks for confirming  @danielsotirhos !

[2020-09-23 16:16] mshadbolt opened #132 "Spreadsheet generator epic"
An epic to keep track of spreadsheet generator issues

[2020-09-23 16:30] #132 closed

[2020-09-23 18:29] rays22 commented on #83
![exp_graph-hca_spreadsheet-2020-Lawlor_no_vcf_v6_ontologies_Ray_review](https://user-images.githubusercontent.com/25171986/94053909-d4995700-fdd2-11ea-978b-02510506ddfe.png)
Full experimental design graph from `hca_spreadsheet-2020-Lawlor_no_vcf_v6_ontologies_Ray_review.xlsx`.

[2020-09-24 09:14] mshadbolt opened #133 "Add extra metadata about the contributor matrices"
**Description of the task:**

As part of the DCP MVP we assembled a list of matrices for the datasets in the ticket #108

The browser team have requested we add columns to the spreadsheet to allow the browser to understand how the matrices have been stratified.

column | expected values
-- | -- |
species | [Human, Mouse]
stage | [Adult, Prenatal]
organ | name as specified in specimen_from_organism

[2020-09-29 17:00] rays22 commented on #133
I have tried to use HCA ontology terms wherever I could.
[code]

[2020-09-30 09:39] lauraclarke commented on #130
@tburdett are you happy with the outcome of this, please close this ticket if you are happy and open a new ticket for future work

[2020-09-30 10:04] tburdett commented on #130
This isn't finished yet AFAIK. I seem to have lost the link to the spreadsheet too. Should this ticket be assigned to @ESapenaVentura?

[2020-09-30 10:07] lauraclarke commented on #130
I have assigned it to @ESapenaVentura
Can you post the spreadsheet link?

What remaining steps are there @tburdett ?

[2020-09-30 10:24] ESapenaVentura commented on #130
Google sheet https://docs.google.com/spreadsheets/d/1oZ-6KHyyccktTCVij5udfOqJAo-kXPyiS1qrXtAJTUA/edit#gid=0

Diagram https://app.diagrams.net/?src=about#G1kC6WV4nBOnIsSm2tYgbBR-TnmszhVSWV

[2020-09-30 11:12] tburdett commented on #130
Thanks for the links @ESapenaVentura!

I think we're here (I'll transfer this checklist to the description in the issue too)

- [x] Insight into how much the DCP costs per cell and per project
- [ ] Insight into how DCP costs per cell and per project have varied over time
- [x] A plot showing the total number of projects over time
- [x] A plot showing the total number of cells ingested over time
-

[2020-09-30 11:17] tburdett commented on #130
On next steps, in case this is helpful:

1. I'll need to produce an executive summary for oversight (I'll create some slides for this, so if you have information about how the costs were calculated that would be useful.
2. Ideally we'd repeat this exercise for the whole DCP, not just ingest, so setting up a spreadsheet with standard formulae in would be amazing, if that can come out as a bi-produc

[2020-09-30 12:09] lauraclarke commented on #130
If we are happy to have dates hardcoded for this first tranche @ESapenaVentura I am happy to help you figure them out between memory and email

[2020-09-30 12:12] tburdett commented on #130
Estimated dates for projects work just fine for this task (aside: might be worth feeding back that original submission date is a useful piece of data to retain).

The other challenge is cost changes over time, though. I guess we have no idea how much the DCP was costing us per-project a year ago?

[2020-09-30 12:17] lauraclarke commented on #130
Yeah, as we haven't been tracking this from the get-go, I don't think there is any way to do that retrospectively without a lot of forensics which probably isn't worth it

[2020-09-30 13:59] tburdett commented on #130
If it's easily obtainable, great (even DCP v1 vs DCP v2 might be interesting), but point taken it might be too much effort. A side effect here might be for us to consider how better to log this information in future (maybe the tagging work @prabh-t is looking into at the moment will help)

[2020-09-30 17:12] rays22 commented on #133
I have updated the `stage` column in
https://docs.google.com/spreadsheets/d/1Te1FTUbdn-tFS3eLVTB7uMEApoFU0Il6krSoiq_LAAw/edit#gid=671636652
based on the feedback we received today.
I have added explicit `species: stage` notation to disambiguate the species-stage relationships in the table.

[2020-10-01 07:38] mshadbolt commented on #133
thanks @rays22. I went through and disambiguated the organs I think.

@danielsotiros are you able to take a look to see if that you will be able to parse through the list?

[2020-10-01 08:29] ESapenaVentura commented on #80
This was already addressed in the meeting

[2020-10-01 08:29] #80 closed

[2020-10-01 11:41] ESapenaVentura commented on #125
Proposal [here](https://docs.google.com/document/d/10yjBLGpxBoyjZORWXnBaGeq1yf17klWcNtbCt8eU9b0/edit#)

If @clairerye , @lauraclarke and @ebi-ait/hca-wranglers could review it, it would be great.

It is a fairly simple SOP, it mainly answers 3 questions: who, when and how

[2020-10-01 13:26] ESapenaVentura commented on #123
Apologies, I skipped the question at the end.

Yes, this sounds like an appropriate outline of what should be done. I can start investigating point 1

[2020-10-01 16:06] danielsotirhos commented on #133
@mshadbolt I just ran the current spreadsheet through the adapter and was able to parse out all the values. Thanks!

[2020-10-01 19:29] danielsotirhos commented on #133
Hi @mshadbolt . Can I ( dsotirho@ucsc.edu ) get edit access to the spreadsheet? I've requested edit access through the spreadsheet itself but I'm not sure who that is sent off to. I'd like to slightly modify the stratification values to avoid having to do extra processing while parsing.

I've also got one question on the current values. In the project `scRNAseqSystemicComparison` three files are l

[2020-10-05 18:07] rays22 commented on #127
The SOP looks good to me. I have just two questions:
* Does this SOP apply only to 10xV2 and 10xV3 datasets?
* What AAP token to use? Is it a personal one or is there a specific one to use with the Ingest Archiver?

[2020-10-07 09:12] #133 closed

[2020-10-07 14:41] lauraclarke commented on #120
@rays22 can you articulate (short google doc is probably a good idea) your new proposal to allow us to easily find metadata spreadsheets/notes about an existing/finished project and understand what status a project has reached

Then we can move forward with the new proposal and close this ticket

Some important matters to discover
1. What is the goal of the new process, what will it allow wrangler

[2020-10-07 14:47] ESapenaVentura commented on #123
I have created a draft based on the docs I've found. @clairerye if you can coordinate with whoever wrangler is in operations so they can take a look and improve this, it would be great.

https://ebi-ait.github.io/hca-ebi-wrangler-central/SOPs/hca_to_scea_tools_SOP.html

[2020-10-09 19:47] rays22 opened #138 "HUTER project - HCA DCP meeting actions"
**Description of the task:**

1. Review HUTER spreadsheet example and clinical information shared with us to map variables to our current standard and identify any gaps.

2. Review HUTER anatomy/phyisological info and map to the ontologies we use. Provide a general summary of the ontologies we use to HUTER so they can build that info into their own platform.

3. Add new paper [Wang W, Vilella F, A

[2020-10-12 09:51] lauraclarke commented on #138
Thanks @rays22 did the example paper of theirs look like something we could prioritize or not?

[2020-10-12 10:01] rays22 commented on #138
It looks like a high priority paper/dataset to me (primary human tissue, healthy donors, 10x technology).

[2020-10-12 11:01] rays22 opened #139 "GSE111976 -- human endometrium during menstrual cycle"
**Primary Wrangler:**
Ray
**Secondary Wrangler:**
Marion

**Associated files:**

Google Drive:
[GSE111976-HUTER-endometrium_MC](https://drive.google.com/drive/folders/1kxtAeVMp7HDJ6HyGFsQ3PRRra2R81wuf)

**Published study links**

Paper:
Wang W, Vilella F, Alama P, et al. Single-cell transcriptomic atlas of the human endometrium during the menstrual cycle. Nature Medicine. 2020 Sep. [DOI: 10.1038/s

[2020-10-12 11:03] rays22 commented on #139
This dataset is part of the HUTER project. See <https://github.com/ebi-ait/hca-ebi-wrangler-central/issues/138>

[2020-10-12 19:11] rays22 commented on #89
Sent query to contributor about the status of the submission and offered help if needed.

[2020-10-13 13:47] rays22 opened #140 "Create a new SOP to update the Dataset Tracking Sheet"
**Description of the task:**

Create a new SOP on who, when and how should update the [Dataset Tracking Sheet](https://docs.google.com/spreadsheets/d/1rm5NZQjE-9rZ2YmK_HwjW-LgvFTTLs7Q6MzHbhPftRE/).

* How often the [Dataset Tracking Sheet](https://docs.google.com/spreadsheets/d/1rm5NZQjE-9rZ2YmK_HwjW-LgvFTTLs7Q6MzHbhPftRE/) should be updated?
* Who are responsible updating the [Dataset Tracking Sh

[2020-10-14 16:40] mshadbolt opened #142 "Update Ontologies SOP with latest process"
**Description of the task:**

Previously we made all ontology requests through our HCA ontology repo but in a meeting with David today it seems like it would be more efficient to make tickets directly in each of the individual git repos for each ontology. This ticket is to both confirm the process that we should use with David and/or Zoe as well as update the SOP documentation here: https://github

[2020-10-15 12:17] mshadbolt opened #143 "Design poster and record video for the 2020 scBiology conference"
**Description of the task:**

Deadline for submitting the poster and video is Monday 26 October

Original work was previously started here: https://github.com/HumanCellAtlas/hca-data-wrangling/issues/410

**Acceptance criteria for the task:**

- [ ] poster designed
- [ ] feedback on poster sought
- [ ] final poster uploaded
- [ ] video scripted
- [ ] video recorded
- [ ] video uploaded

[2020-10-15 13:53] lauraclarke commented on #130
So I couldn't edit @ESapenaVentura's sheet but I took a copy and have slightly more fine grained dates for many of the DCP1 datasets here

https://docs.google.com/spreadsheets/d/1PUkNXDz5kRMLTGgT5oU2Osvdr03DNC8o4QeTIGt16e0/edit#gid=0

There have been two datasets redacted from the system since the DCP began, I don't think we can easily track those here but a quirk we will need to address going for

[2020-10-16 09:35] mshadbolt opened #144 "Broker Heart Cell Atlas project to ArrayExpress"
**Description of the task:**

Carlos has requested raw fastqs be made available to the public, currently the only way of doing this is through ArrayExpress so I will be trying out the process of using the HCA-SCEA tools to convert the metadata spreadsheet to mage-tab and working with AE curators to make a submission.

**Acceptance criteria for the task:**

- [ ] spreadsheet converted to mage-tab a

[2020-10-19 09:24] ESapenaVentura opened #145 "Retrieve and delete all entities from staging area with a submission uuid"
**Dataset/group this task is for:**

- https://contribute.data.humancellatlas.org/submissions/detail?uuid=a7215b2d-429f-4099-96d8-bcfc9c37e271&project=a815c84b-8999-433f-958e-422c0720e00d
- https://contribute.data.humancellatlas.org/projects/detail?uuid=83f5188e-3bf7-4956-9544-cea4f8997756

**Wrangler responsible for this dataset/lab:**

- @ESapenaVentura
- @mshadbolt

**Description of the task:**

[2020-10-19 09:26] ESapenaVentura commented on #145
Will log the steps [here](https://docs.google.com/document/d/1a39KXfqWE22YD_4KzOWPUsscE7_STOGwpn8nH58kHjg/edit)

[2020-10-19 13:04] rays22 commented on #124
* Gaps to fill:
Create a new SOP to update the Dataset Tracking Sheet https://github.com/ebi-ait/hca-ebi-wrangler-central/issues/140
* Documentation update needed:
Update Ontologies SOP with latest process https://github.com/ebi-ait/hca-ebi-wrangler-central/issues/142

[2020-10-19 14:01] ESapenaVentura commented on #145
A json file per dataset can be found [here](https://drive.google.com/drive/folders/1sEffV99eRR18sITsMnls7PCKOoflo11G) with the mapping to the files in the staging area.

[2020-10-19 14:48] ESapenaVentura commented on #145
Checks have been done and documented in the log.

@clairerye What should be the next actions?

[2020-10-19 16:28] mshadbolt commented on #3
@ESapenaVentura I have made a new spreadsheet in the brokering folder here: https://drive.google.com/open?id=1rIxeMhRg7jUFrf4a3dVqj-JTux0ZUuQP If you can do a review that would be amazing. thanks!

Main changes are:
* Replaced publication with the nature publication, it is still early release so doesn't have a PMID as yet
* When there are multiple cell suspensions with the same donor and specimen,

[2020-10-20 12:43] ESapenaVentura commented on #3
@mshadbolt Done! Everything looks alright, I have just added the PMID for the publication ([32971526](https://pubmed.ncbi.nlm.nih.gov/32971526/))

Everything else looks fine!

[2020-10-20 12:44] mshadbolt commented on #3
oh thanks! I literally looked yesterday and couldnt find it, oops! thanks for the review

[2020-10-20 18:28] rays22 opened #146 "Human heart snRNA-seq, snATAC-seq and Visium data"
* Project short name: HumanMyocardialInfarctionSpatialMap
* Ingest project UUID: `e9f36305-d857-44a3-93f0-df4e6007dc97`
* Kuppe C, Ramirez Flores RO, Li Z, et al. Spatial multi-omic map of human myocardial infarction. bioRxiv; 2020. [DOI: 10.1101/2020.12.08.411686](https://doi.org/10.1101/2020.12.08.411686)

### Primary Wrangler:
Ray

### Secondary Wrangler:

### Associated files:

Google Drive:

[2020-10-21 08:01] lauraclarke commented on #138
@rays22 how are you getting on with this ticket? What support do you need to complete it?

@gabsie when is the UX interview scheduled for?

[2020-10-21 08:30] lauraclarke opened #147 "Data retraction SOP"
While we have had to retract data a couple of times we don't have a defined SOP or any documentation about the places where data and metadata needs to be cleaned up from if we get a retraction request for GDPR or another reason

We need a written SOP which can live in https://ebi-ait.github.io/hca-ebi-wrangler-central/ that identifiers all the different places data might live and what steps need t

[2020-10-21 08:40] gabsie commented on #138
Hello - I have an interview with Beatriz only today - to go through the registration and the spreadsheet creation. I have directed them for all their usual questions to continue talking to the data wrangler team.

[2020-10-21 08:54] ESapenaVentura opened #148 "Define wrangling board"
As an operations task this sprint, we have decided to define a wrangling board to better understand where each dataset is in the process of brokering.

**Outstanding tasks**:
- [x] Define how to pull only wrangling tickets
- [x] Define the columns of the board
- [ ] Define clear guidelines on when to move each ticket through the board.

[2020-10-21 09:19] #119 closed

[2020-10-21 09:34] rays22 commented on #138
@aaclan-ebi , @clairerye
A meeting has been scheduled for
5 November, Thursday 13:00-13:30 BST /14:00-14:30 CEST
[to find out more](https://docs.google.com/document/d/11TMo2NKkf4W3DRU80uzLAMKovmRT8RV4Xrw8otSSDUs/) about the requirements of the HUTER project in order to support data flow from HUTER to HCA DCP. The meeting is also to follow up on their technical questions.

* Question 1:

* Question

[2020-10-21 09:38] rays22 commented on #138
I need developer support to follow up on technical questions from HUTER. I think I have that support. Other than that, I would need allocated time to complete the remaining tasks.

[2020-10-21 10:10] mshadbolt commented on #148
I am thinking we can attempt to do this as part of the hackathon tomorrow, because I think some of the things we are trying to define in the tracker might be better suited to being defined in the board and could be answered with some of the reporting functionality of zenhub.

[2020-10-21 14:05] lauraclarke commented on #138
So I don't think this is super urgent as they don't have a dataset they are ready to submit. Do you want to put it back into the product backlog and we can bring it back next time you are on operations?

[2020-10-21 14:15] #14 closed

[2020-10-21 14:16] lauraclarke commented on #140
@mshadbolt do you think the meeting tomorrow will get answers to these questions?

[2020-10-21 14:17] mshadbolt commented on #140
I am hoping so, thanks for pointing our the ticket.

[2020-10-21 14:20] lauraclarke commented on #140
I am reviewing what is in operations to close stuff that isn't useful

[2020-10-21 14:20] #53 closed

[2020-10-22 09:33] rays22 commented on #146
Some of the data is sensitive and may require controlled access.
Alternative approaches to support the contributors in sharing their data: <https://docs.google.com/document/d/189A0zdttGDTc6usimWDKcvapeiFyaCTmrvjHi7d908s/>

[2020-10-23 06:25] ESapenaVentura commented on #145
Using this ticket to keep track of another deletion; We need to delete the heart dataset again (but with new entities) so I'll follow the same procedure again

[2020-10-26 17:34] ESapenaVentura commented on #147
Re-opening as linking the PR closed this issue automatically.

I have mostly finished with the task, I need some input from the @ebi-ait/hca-dev and @ebi-ait/hca-wranglers to finish up a couple of sections.

I have merged to master to be able to visualise [in the git pages](https://ebi-ait.github.io/hca-ebi-wrangler-central/SOPs/data_retraction_SOP.html), but kept the branch for further changes.

[2020-10-27 11:31] ESapenaVentura commented on #127
Hi @rays22 apologies for the delay

- No, it does apply to any technology. The current problem we might face is that DSP doesn't support more than 1 file per run, so technologies like SS2 are not currently supported until we figure out how to send more than 1 file per run/convert the R1/R2 from SS2 to bam.

Are you asking this because in the upload_file_plan structure there's only specified the 10

[2020-10-27 11:57] ESapenaVentura opened #152 "Delete BAM upload SOP"
**Description of the task:**
Delete the BAM upload SOP as it got deprecated.

**Acceptance criteria for the task:**
- [ ] Review SOP to ensure no useful information will be lost
- [ ] Delete SOP

[2020-10-27 11:58] ESapenaVentura commented on #124
All tickets have now been opened so this ticket is not necessary

Closing

[2020-10-27 11:58] #124 closed

[2020-10-27 13:33] mshadbolt commented on #147
First it says to delete a bunch of stuff, then it says before deleting, make sure you save copes of x, y, z. I wonder if upfront we should say something like, create a folder that will hold copies of things you will need later, save x, y, z here and delete the things elsewhere.

Otherwise we risk someone stepping through to that point having deleted the things they need for the subsequent steps. T

[2020-10-27 13:47] ESapenaVentura commented on #147
Otherwise we risk someone stepping through to that point having deleted the things they need for the subsequent steps. Then once the whole process is finished, the last step is to delete that folder we made at the start which is the last copy.

I will review the "before you start" section to include your feedback! It's just a bunch of UUIDs and accessions, nothing that needs a folder, but I will b

[2020-10-27 14:22] lauraclarke commented on #125
Need to merge with https://app.zenhub.com/workspaces/ingest-dev-5cfe1cb26482e537cf35e8d1/issues/ebi-ait/hca-ebi-wrangler-central/140

@mshadbolt thinks at least some of these issues will be resolved by the hackathon on Thursday. A positive outcome of Thursday would be what the next steps are to give the operations team a standard SOP so this could be run every sprint as a standing task

[2020-10-28 09:36] #143 closed

[2020-10-28 10:57] ESapenaVentura opened #153 "Update documentation once DSP is deprectated"
As DSP is deprectated, we will need to update the following documentation:

- Data retraction SOP: Change sections involving DSP.
- Archiving SOP: it will need a full refactor

Please feel free to add more documentation that you find will need changes

[2020-10-28 10:58] ESapenaVentura commented on #145
This task was finished, so closing the ticket

[2020-10-28 10:58] #145 closed

[2020-10-28 12:55] lauraclarke commented on #147
Thanks for this @ESapenaVentura I have reviewed and put some first comments here

https://docs.google.com/document/d/1iOvrlGoOrsaRpW_a35Zv8HCapnPVV7-qghUJbQ9XaMI/edit#

Some specific things, this is solely from the wrangler perspective. We need to get @ebi-ait/hca-dev input and have one SOP which covers everything that needs doing and has better instructions for infrastructure cleanup than as a de

[2020-10-28 14:05] ESapenaVentura commented on #147
I was writing this from a wrangler perspective, I will update with the dev details then! There are some specifics that wranglers can't carry on their own, and some others that will need scripts to be easily reproducible by everyone (e.g. modifying the DSP metadata for a submission)

I have flagged some sections as [script missing] so @clairerye can prioritise the dev work on that

I think I have c

[2020-10-28 14:52] lauraclarke commented on #142
Based on our conversation with Paola yesterday, it might be better to default to using the HCAO repo and only post issues to the specific ontology repos when we have certainty that a new term is needed

[2020-10-28 14:53] ESapenaVentura commented on #127
We've gone through it and, at a first glance, it looks fine.

We have agreed that is a hard SOP to evaluate without someone actually going through it so once another wrangler archives following the SOP they should update it if they find difficulties.

@lauraclarke I think this ticket is ready to be closed

[2020-10-28 15:01] #127 closed

[2020-10-29 09:29] rays22 commented on #146
Today I sent a [follow up email to Rafael Kramann.](https://docs.google.com/document/d/17M3C2MUjNxBmOR3YkuoMpz26DtrtFys0xyx-_nfznWU/).

[2020-10-29 13:54] lauraclarke commented on #147
@ESapenaVentura I just wanted to list what we discussed yesterday and briefly this morning

This document should cover all tasks to do with retraction regardless of which members of the team who can do that. Including statements what permissions someone needs to be able to complete each step

If there is a step which needs database statements or unix commands right now but ultimately should be aut

[2020-10-29 13:57] lauraclarke commented on #147
For backup cleanup, the requirement for a backup expiration policy needs to be listed (I think there is already a ticket about this) so we can be clear when backups expire and make a decision if more action is required

[2020-11-02 16:31] rays22 commented on #146
* They have decided to use a Zenodo entry to share processed data to reviewers during the submission process. They are planning to continue with the HCA submission during the paper revision process.

[2020-11-03 09:51] ESapenaVentura commented on #148
The board has been already created, so I guess the last standing item from this ticket would be to update the documentation to reflect the guidelines on when to move the tickets in GH

[2020-11-03 16:06] ESapenaVentura opened #157 "Select a single cell dataset for next CAC meet"
**Next meeting: 16/10/2020**

Select an interesting scRNA-Seq dataset and prepare to show the metadata available and answer any possible questions

[2020-11-04 09:08] lauraclarke commented on #147
@prabh-t just updating this before the operations meeting

The goal is to make sure this SOP has all the instructions needed so one or two people with the appropriate rights in the system can completely remove a dataset we are asked to retract. There are likely to be manual steps right now, the SOP should cover how to complete this step now and once this is finished we should work with @clairerye

[2020-11-04 09:09] lauraclarke commented on #148
Where is the board?

[2020-11-04 09:15] mshadbolt commented on #148
https://github.com/ebi-ait/hca-ebi-wrangler-central/issues/148#workspaces/dataset-wrangling-status-5f994cb88e0805001759d2e9/board?repos=261790554

[2020-11-04 09:55] mshadbolt opened #158 "Annotate organs organ parts with ontologies"
**Description of the task:**

We have been asked to annotate a list of organs and organ parts with appropriate ontologies for a collaborator.

**Acceptance criteria for the task:**

- [x] All organs/organ parts annotated
- [ ] New terms requested for any that can't be annotated

[2020-11-04 09:59] rays22 commented on #89
Progress on this dataset has stalled, because I have not heard from the contributors for awhile.

[2020-11-04 10:04] rays22 commented on #146
Stalled until contributors are ready to progress with their submission after their paper is accepted.

[2020-11-04 11:04] mshadbolt opened #159 "write 'wrangling tracking SOP'"
**Description of the task:**

As wranglers we need an SOP that outlines the new processes we need to follow to track our wrangling tasks.

The SOP should include:
* processes for filling in the tracker spreadsheet
* processes for using the wrangling board
  * expectations about when to move tickets
  * expectations about what labels should be applied

**Acceptance criteria for the task:**

- [ ] d

[2020-11-04 11:07] #148 closed

[2020-11-04 11:27] lauraclarke commented on #120
@rays22 @ESapenaVentura I feel like this ticket has been superseded by all the data tracking updates

Is there any maintenance of the gdrive needed? what is it?

[2020-11-04 11:37] lauraclarke commented on #140
@mshadbolt @rays22 @ami-day I have shifted this to the sprint backlog, for now, I am hoping this can be completed so the first iteration of this can be run during this sprint

[2020-11-04 13:53] ESapenaVentura opened #160 "Update script to retrieve data from NXNs database"
**Description of the task:**

Once the re-ordering of the dataset tracking sheet is definite, update the script to [compare tracking sheet with nxn's database](https://github.com/ebi-ait/hca-ebi-wrangler-central/blob/master/src/compare_tracker_with_nxn_sheet.py)

**Acceptance criteria for the task:**

- [x] The script is updated so it can compare nxn's database with the dataset tracking sheet agai

[2020-11-04 15:14] lauraclarke commented on #18
With the new board, this is being reopened to reflect the fact the EMBL-EBI accessions from this archiving process need to be added back to the ingest record of this project

This ticket can be closed when said archive accessions are added back to the record so it can then be propagated to the DCP

[2020-11-04 15:15] lauraclarke commented on #17
This ticket is being reopened as we need to ensure EMBL-EBI archive accessions are added back to the ingest records for this project so they can eventually be updated in the DCP

[2020-11-04 15:16] lauraclarke commented on #20
This ticket is being reopened as we need to ensure EMBL-EBI archive accessions are added back to the ingest records for this project so they can eventually be updated in the DCP

[2020-11-04 18:09] rays22 commented on #83
* Project label: CITEseqPBMCProject
* Dissecting the protein and transcriptional responses of human immune cells to T cell and monocyte specific activation
Submission `Sep 8, 2020, 10:32:12 AM; dfb86fe3-ef1f-42ed-b559-d74f4b3b3a11` has been archived in BioStudies and BioSamples.
* BioStudies accession: S-SUBS15
* INSDC project accession: ERP124005

@ESapenaVentura :  is there anything else left to

[2020-11-05 11:33] lauraclarke commented on #25
@ESapenaVentura Did this get done? Does it need to be done?

[2020-11-05 15:19] rays22 commented on #120
The gdrive contains subfolders for versions of metadata spreadsheets and other data (e.g. pdf paper reprints, data graph images etc.) associated with individual contributor submissions or datasets from archives. I am not sure if any maintenance of the gdrive is needed, at least not by moving folders around.

* [PROJECTS - IN PROGRESS](https://drive.google.com/drive/folders/118kh4wiHmn4Oz9n1-WZueax

[2020-11-05 15:24] ESapenaVentura commented on #120
We do store the gdrive folder in the tracking tickets, so although it makes it easier to find (no need to click twice), I don't really see the usefulness of adding any URL/folder name column to the tracking sheet

Also, this makes me think: We used to track progress with the folder structure, since we are going to track progress with ZH + dataset tracking sheet, is this really necessary? Can't we

[2020-11-05 15:27] ESapenaVentura commented on #25
Pullapprove is also done, it's just sitting in dev until we start releasing to prod

Snyk still needs changes, will open a quick PR for that

[2020-11-05 15:31] lauraclarke commented on #25
Are there other things in dev which would prevent the release of the pull approve?

[2020-11-05 15:33] lauraclarke commented on #120
I agree with @ESapenaVentura If the status is tracked in the ticket/data tracking sheet, also having it in gdrive seems unnecessary

Having one folder with all the sheets in seems reasonable.

There are some upsides in also having a document link in the tracking sheet as it reduces the number of clicks to get from the tracking sheet to the spreadsheet but I totally get not wanting to maintain that

[2020-11-05 15:45] #112 closed

[2020-11-05 15:45] #68 closed

[2020-11-05 15:52] #69 closed

[2020-11-05 15:53] #82 closed

[2020-11-05 16:04] #70 closed

[2020-11-05 16:04] #153 closed

[2020-11-05 16:05] rays22 commented on #120
Thank you @lauraclarke and @ESapenaVentura for your feedback.
It appears to me that we all agree on that we should not use the folder structure for tracking status.
I also see the point of not maintaining the folder links in the tracking sheet in addition to what we already do which is to store that information in the github tickets for the datasets. Two clicks feel easier to me than two copy and

[2020-11-05 16:10] lauraclarke commented on #120
When you say DCP1 datasets, do you mean contributor conversations which started and weren't finished during DCP1 or datasets which actually made it to DCP1

[2020-11-05 16:11] lauraclarke commented on #123
@ESapenaVentura Given the new wrangling board, is this something better tracked with the individual dataset tickets on the wrangling board?

I assume al datasets which need to go to SCEA should go into the SCEA column?

[2020-11-05 16:21] ESapenaVentura commented on #123
@lauraclarke that is correct, with the newly-discussed procedures (which include SCEA suitability assessment while inputting the dataset in the tracking sheet) they should be tracked with the columns in the ZH board

[2020-11-05 16:21] lauraclarke commented on #125
@ESapenaVentura is this needed anymore with the updates to the data tracker?

[2020-11-05 16:22] #100 closed

[2020-11-05 16:23] ESapenaVentura commented on #125
Yes, this one is needed because the SOP actually reflects how to "mine" datasets from databases (although the title is a little bit misleading). This ticket should be merged with https://app.zenhub.com/workspaces/ingest-dev-5cfe1cb26482e537cf35e8d1/issues/ebi-ait/hca-ebi-wrangler-central/140

[2020-11-05 16:23] lauraclarke commented on #123
What about the 17 datasets we have curated that haven't gone to the SCEA yet? what needs to happen there to get them to the right place in zenhub?

[2020-11-05 16:25] lauraclarke commented on #125
What details in this ticket are needed for 140?

It would be good to kill duplicate tickets so I don't have to ask this question again in a week

[2020-11-05 16:29] ESapenaVentura commented on #123
We need to:

- Re-open the tickets (if closed)
- Move them to the column
- Assign them the proper label

I can work on that tomorrow and we can close the ticket

[2020-11-05 16:30] lauraclarke commented on #123
fantastic, thanks

[2020-11-05 16:31] ESapenaVentura commented on #125
The SOP proposal I already worked on is the only needed document as it summarises some of the questions in there

I will update that ticket!

[2020-11-05 16:31] #125 closed

[2020-11-05 16:32] ESapenaVentura commented on #140
I have written a proposal about this [here](https://docs.google.com/document/d/10yjBLGpxBoyjZORWXnBaGeq1yf17klWcNtbCt8eU9b0/edit#)

I have not had time to work on that proposal for some time but I think it answers most of the questions posed here

[2020-11-05 16:34] rays22 commented on #120
I think the intention of the original task description referring to DCP1 by @ESapenaVentura was to identify and follow up datasets/ contributor conversations which started during DCP1 but have not been finished and we also might have lost track of them. @ESapenaVentura , could you kindly confirm or correct my interpretation?

[2020-11-05 16:37] ESapenaVentura commented on #120
My original intention with this ticket was to be able to get a clear vision of which projects were finished and which not

Currently it's impossible to tell just by looking at google drive because there are many datasets that have not had their location updated (so, even if they're finished, they are still in progress)

Ideally that could highlight "forgotten" datasets(as you mentioned), but that'

[2020-11-05 16:38] lauraclarke commented on #120
Given the data tracker and github should give us this view I wonder if this is needed anymore then, if you guys want to define a new process for how you store things in google drive, great but I don't think this ticket is needed,

Please close it if you agree

[2020-11-05 16:48] #23 closed

[2020-11-05 16:48] #26 closed

[2020-11-05 16:48] rays22 commented on #120
I agree, because I trust that we have not lost sight of any important and unfinished dataset that we could uncover and unblock by reviewing the subfolders on the gdrive. @ESapenaVentura please, re-open the ticket if you disagree.

[2020-11-05 16:48] #120 closed

[2020-11-05 16:49] lauraclarke commented on #122
@ami-day was this resolved?

[2020-11-05 16:54] #6 closed

[2020-11-05 16:54] #8 closed

[2020-11-05 16:55] #71 closed

[2020-11-05 16:55] #106 closed

[2020-11-06 15:06] ofanobilbao opened #161 "Investigate doubling of AWS costs when exporting datasets"
Looking at the AWS October costs, I identified two spikes on the S3 cost, on the 22 (271$) and 23rd (260$), both catalogued by the AWS console as "Data Transfer Out".

Today Enrique confirmed that around those dates only one dataset was re-exported. It was dataset "HeartSingleCellsAndNucleiSeq", that was already in ingest S3 buckets and that has a size of 3054.23GB.

If the dataset was already in

[2020-11-06 15:51] ESapenaVentura commented on #115
Reopening to track SCEA brokering

[2020-11-06 15:54] ESapenaVentura opened #162 "Anna Williams - MS/Unaffected brain"
Related to https://github.com/HumanCellAtlas/hca-data-wrangling/issues/130

Opening ticket to track brokering into SCEA

[2020-11-06 16:00] ESapenaVentura commented on #87
Re-opening so the SCEA brokering can be tracked

[2020-11-06 16:21] ESapenaVentura commented on #144
With the changed processes this ticket is a duplicate of this https://github.com/ebi-ait/hca-ebi-wrangler-central/issues/3

[2020-11-06 16:30] ESapenaVentura opened #163 "Peng He - Human fetal Hindlimb"
Related to https://github.com/HumanCellAtlas/hca-data-wrangling/issues/388

[2020-11-06 16:32] ESapenaVentura opened #164 "GSE132658 DevelopingCardiacSystem"
Related to https://github.com/HumanCellAtlas/hca-data-wrangling/issues/454

[2020-11-06 16:34] ESapenaVentura opened #165 "Elisa Laurenti - AdultHemOrgans"
This ticket is to track the brokering of this project to the SCEA. This project has two submissions. The first one is tracked here: <https://github.com/HumanCellAtlas/hca-data-wrangling/issues/394>. The second (data addition) update is tracked here: <https://github.com/ebi-ait/hca-ebi-wrangler-central/issues/211>.

* HCA project short name: AdultHemOrgans
* Study/project accessions: S-SUBS4, PRJEB

[2020-11-06 16:38] ESapenaVentura commented on #83
If I remember well, the EVA submission gets added to the normal ENA submission so we didn't get any accession from EVA

Might need to double check, though

[2020-11-06 16:39] ESapenaVentura commented on #123
Done!

All datasets are labelled and under either the column "Needs update" or "SCEA/AE brokering"

[2020-11-06 16:40] #123 closed

[2020-11-09 08:40] ESapenaVentura opened #166 "HumanAdultKidneyLiaoMo - GSE131685"
Broker dataset to SCEA

Google Drive folder: https://drive.google.com/drive/folders/1Sw7ZjUwPt32C-X711DeBJy66Q2bNq-OD

Ingest submission: https://contribute.data.humancellatlas.org/submissions/detail?uuid=4cb04823-f4b8-4255-a06f-ecc00991304c&project=2ef3655a-973d-4d69-9b41-21fa4041eed7

No previous ticket was made for this dataset

[2020-11-09 09:52] lauraclarke commented on #161
@prabh-t will you have time to take this on during this sprint?

[2020-11-09 10:41] lauraclarke commented on #83
@ESapenaVentura is this archived already? are the next asks export (when we start that again) and send to SCEA?

[2020-11-09 10:42] ESapenaVentura commented on #83
This is, for the moment, not suitable for SCEA

But yes, it is already archived

[2020-11-09 14:46] prabh-t commented on #147
@ESapenaVentura Some initial dev input to the data retraction SOP can be found in this [branch](https://github.com/ebi-ait/hca-ebi-wrangler-central/tree/data-retract-dev-input).

[2020-11-10 08:51] ESapenaVentura opened #167 "GSE134144 - TestisCellAtlas"
**Primary Wrangler:**
Enrique
**Secondary Wrangler:**
Ami

**Associated files:**

Google Drive: https://drive.google.com/drive/folders/1YuUwBnrDvx9ofzh6QDHR5yCyXzqs1ggN

**Published study links**

Paper: https://www.cell.com/cell-stem-cell/fulltext/S1934-5909(19)30523-5

Accessioned data: [GSE134144](https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE134144)

**Key Events**

- [x] convert publi

[2020-11-10 12:05] mshadbolt commented on #115
This is already in SCEA so will move to finished https://www.ebi.ac.uk/gxa/sc/experiments/E-HCAD-14/

[2020-11-10 12:25] mshadbolt commented on #144
this will be tracked on the dataset ticket directly

[2020-11-10 12:33] mshadbolt commented on #163
As this is already in AE we won't need to specificallly broker it, I will remove label and move to finished

[2020-11-10 15:51] mshadbolt commented on #87
while curating I noticed that the bioarxiv preprint can now be replaced by the journal article here: https://advances.sciencemag.org/content/6/28/eaba1972

[2020-11-10 16:13] mshadbolt commented on #164
This is already in SCEA here: https://www.ebi.ac.uk/gxa/sc/experiments/E-HCAD-16/results/tsne, moving to finished

[2020-11-11 10:12] #159 closed

[2020-11-11 10:14] #2 closed

[2020-11-11 10:21] prabh-t commented on #161
@lauraclarke yes I'll take a look.
@ESapenaVentura was the export probably done in staging (or dev) first, then in prod?

[2020-11-11 10:22] ESapenaVentura commented on #161
@prabh-t @aaclan-ebi will have a better understanding but I think it was done only in prod

[2020-11-11 10:34] prabh-t opened #168 "Ingest Dev docs re-org and clean up"
The Ingest Dev docs [here](https://ebi-ait.github.io/hca-ebi-dev-team/) needs some re-organisation.

- [x] Write System Maintenance in markdown
- [x] add some hierarchy to the dev docs
- [x] clean up (remove duplicates and delete out of data docs)
- [ ] optionally, merge dev with wrangler docs all in one place

[2020-11-11 10:51] prabh-t commented on #161
Ok, I've just checked the UI in all envs, and it looks like the HeartSingleCellsAndNucleiSeq dataset was exported in prod only.

[2020-11-11 13:40] aaclan-ebi commented on #161
It makes sense since it was reexported twice. In the first try, we found out that the file descriptor changes wasn't deployed to production. We had to redeploy the file descriptor changes and reexport the project again :(

[2020-11-11 14:00] ofanobilbao commented on #161
That answers what this ticket was aiming at, which was to understand why if we only exported once we had charges equivalent to having done it twice. From Alegria's explanation it was actually exported twice. So it makes sense. And we don't need to worry about this. @prabh can we then consider this done? Thanks!

[2020-11-11 14:07] ESapenaVentura commented on #161
Makes total sense now. I completely forgot about the file descriptors issue we had.

That solves the mystery!

[2020-11-11 17:52] aaclan-ebi commented on #161
cool, we've also proven that our formula to compute ingest cost is almost accurate!

[2020-11-11 17:59] mshadbolt commented on #61
Is this worth reopening to track for SCEA brokering?

[2020-11-11 22:17] prabh-t commented on #161
Interesting to note we do not run export in pre-prod environments. Not sure if this is for this dataset only, or it is intended so to avoid the data transfer charges. Also there is no way to know if the export was triggered more than once with not history of export maintained.

[2020-11-12 09:46] lauraclarke commented on #161
@clairerye export history sounds like it might need some sort of impact/value analysis, what sort of audit trail is needed here?

[2020-11-12 09:46] lauraclarke commented on #161
Sounds like this ticket can be closed though? @prabh-t @ESapenaVentura @aaclan-ebi do you agree?

[2020-11-12 10:00] ESapenaVentura commented on #61
Meh, this is the dataset that has the multiplexed SS2 files... I haven't heard from the contributor yet

[2020-11-12 11:51] mshadbolt commented on #61
ohhh right, I guess reopening and pushing status back to exporting then?

[2020-11-12 11:54] rays22 commented on #167
@ESapenaVentura :
The metadata spreadsheet `GSE134144_ontologies.xlsx` has passed all the ingest-graph-validator tests without any errors.
I am attaching links to two images. One graph is for the [protocols](https://drive.google.com/file/d/1n4xsB00PzoP800Nf9T-yIpEZTOAP_3xT/view?usp=sharing) and the other for the [biomaterials.](https://drive.google.com/file/d/1oq5aDlc-VXv2vnwlLSE2Y3kw90h6A3Z0/view

[2020-11-12 12:48] mshadbolt commented on #160
I have noticed sometimes the script might introduce weird encoding in the text for symbols it doesn't recognise, e.g. `Single‚Äêcell transcriptomes reveal characteristic features of human pancreatic islet cell types`

Not sure if this is something easy to address

[2020-11-12 12:59] mshadbolt commented on #95
This is now an HCA publication and has a preprint here: https://www.biorxiv.org/content/10.1101/2020.11.05.369363v1

[2020-11-12 13:28] mshadbolt commented on #142
Some information from latest ontology call:
l). Paola suggests a “decision tree” along the following:
Are you requesting a cell type or anatomy term? If yes,
Are you requesting a term that already exists in another ontology?
Then open a ticket in the HCAO tracker and request that we import that term
Are you requesting a term similar to one that already exists in another ontology?
Try to make an ex

[2020-11-12 14:26] ESapenaVentura commented on #160
Weird,  I'll look into that! I do include a utf-8 decoding for valentine's database, as sometimes some symbols would break reading the database, but I always assumed after that all the symbols would be alright

[2020-11-12 17:08] mshadbolt opened #169 "Revise wrangler documentation with recent changes in process"
**Description of the task:**

Ticket to revise wrangler documentation with new processes, specifically:
- process for moving tickets through the wrangling board
- process for uploading files to ingest using hca-util instead of hca-cli

Specifically [this SOP](https://ebi-ait.github.io/hca-ebi-wrangler-central/SOPs/contributor_dataset_SOP.html) needs revision but will do extra checking to see if th

[2020-11-13 10:11] #161 closed

[2020-11-13 10:15] ESapenaVentura commented on #167
@ami-day will be the secondary wrangler when she has capacity

[Ingest UI link](https://contribute.data.humancellatlas.org/submissions/detail?uuid=24435718-d77a-43df-a905-a11db5d22e46&project=e579d0f4-18ef-4d42-90fa-4d2afb60a862)

A couple of notes:
- Still need to discuss biological sex field for the female trans donors
- Biosamples added to first replica of cell suspensions; they created a sampl

[2020-11-13 11:00] ESapenaVentura commented on #157
Selected dataset:
[Structural Remodeling of the Human Colonic Mesenchyme in Inflammatory Bowel Disease](https://data.humancellatlas.org/explore/projects/f8aa201c-4ff1-45a4-890e-840d63459ca2)

I will get the spreadsheet and prepare for questions. Chose a DCP1 dataset so everyone can access it from the data portal

[2020-11-13 11:04] #157 closed

[2020-11-13 13:07] ami-day commented on #167
@ESapenaVentura I have done the secondary review and made changes to a copy located here:
https://docs.google.com/spreadsheets/d/1nVfbUfY_zzxZZHe4IuDb9OvZz6uhFXzP/edit#gid=385545271
I didn't make all the below changes as some require discussion.

In general the metadata looks very complete and accurate but here are some comments:

- I saw you put female as the biological sex field for the female t

[2020-11-13 14:03] ESapenaVentura commented on #167
Thanks @ami-day ! About the points:

- Yeah, this definitely needs discussion. I am currently writing an email to the equity group to see if they can point me out to any guidelines

- That is a great idea, we currently can't modify the schema (and with this even less because it will be a major update), but we can write a ticket to do it once we can evolve the schema

- Thanks for changing the form

[2020-11-13 14:30] ESapenaVentura commented on #167
I have updated the spreadsheet and the submission in ingest!

A little note: I have changed the image file content descriptions, as the content description is an ontologised term (I have moved the description you provided to the file description field)

Once we get some info about the correct way to represent the sex of the transfemale donors, it should be good to go!

[2020-11-13 15:33] ami-day commented on #167
Ok all sounds good!

I didn't think about being able to expand the ontology and I'm not sure exactly what you mean by this - do you mean, a user would check all the parent ontology terms for a given specific ontology ID? It does sound like extra work and I have never seen how this might be done during analyses e.g. if someone wanted to plot a graph or figure with development stage labels. I still

[2020-11-13 15:38] ESapenaVentura commented on #167
What I mean is that (once implemented), they can search for "juvenile" and these samples would appear because they are children of juvenile! but they will also appear if they do a more specific search (e.g, 7 year old human).

This is still far off from being implemented but I feel like we should act as if it is because curating after that feature is in the browser search will be a huge headache!

[2020-11-13 16:20] ami-day commented on #167
Yea that would be great if eventually it will be possible to search for projects in the data portal by an 'expanded' list related to an ontology search term. Hmm sounds complex to implement to me

[2020-11-16 11:46] ESapenaVentura opened #172 "GSE139324 - HnsccImmuneLandscape"
**Primary Wrangler:**
@ESapenaVentura
**Secondary Wrangler:**
Marion

**Associated files:**

Google Drive: https://drive.google.com/drive/folders/16QJM0IVnfidO3S9jTWI6zUqb6uLqmt5v

**Published study links**

Paper: [Immune Landscape of Viral- and Carcinogen-Driven Head and Neck Cancer](https://www.sciencedirect.com/science/article/pii/S1074761319304959?via%3Dihub)

Accessioned data: [GSE139324](ht

[2020-11-16 12:47] ami-day commented on #35
This project has been exported, so closing this ticket.

[2020-11-16 13:00] ami-day commented on #83
This dataset has not been made public yet, we are waiting until they publish the manuscript.

Another problem with this dataset is the multiplexing, which might prove difficult as the pipelines currently don't support that.

[2020-11-16 13:30] ami-day commented on #167
**Outcome of group discussion:**

- We should update our schema to include not only Biological Sex but also Gender. The project is **stalled** for now until we have the ability to make updates to the schema.

- Biological Sex should be entered as the sex at birth and based on X/Y chromosomes. Gender should be entered as what the donor has identified themselves as being, and can include transfemale

[2020-11-16 14:11] mshadbolt commented on #158
emailed the latest spreadsheet to Minal. Hopefully done

[2020-11-16 14:11] #158 closed

[2020-11-16 15:30] ami-day commented on #74
Still waiting for 'chorionic villus' ontology term to be added to HCAO.

[2020-11-17 11:01] ESapenaVentura commented on #172
Files are currently being validated - https://contribute.data.humancellatlas.org/submissions/detail?id=5fb3a736706b4c65fc989e03&project=3089d311-f9ed-44dd-bb10-397059bad4dc

[2020-11-17 11:26] lauraclarke commented on #78
https://github.com/ebi-ait/hca-ebi-wrangler-central/pull/173 for the SOP update

[2020-11-17 11:41] mshadbolt commented on #172
Have you already done the ingest graph validation step and forgot to tick the box or would you like me to do that as part of review?

[2020-11-17 11:42] ESapenaVentura commented on #172
I have asked @rays22 to do it as the ingest-graph-validator is completely broken for me at the moment

If you are happy to do it we can tell him to not continue with the validation!

(Also on another note, apparently some files are invalid so I will need to re-upload to the s3 bucket)

[2020-11-17 11:47] mshadbolt commented on #142
I tried to make a diagram of this flow here: https://app.diagrams.net/?libs=general;flowchart&src=about#G1CSUSllc_1LWz3QG3dKXkIMLe-t_1PqgG

I still have some questions about it so I am trying to set up a time to talk to paola and get those questions answered before incorporating into the SOP.

[2020-11-17 13:48] #78 closed

[2020-11-17 13:48] #38 closed

[2020-11-17 13:50] ESapenaVentura commented on #160
The PR has already been merged.

I will keep an eye on the encoding issue but, for now, I'll close this issue!

[2020-11-17 13:50] #160 closed

[2020-11-17 16:29] ami-day opened #174 "HumanBrainSubstantiaNigra_GSE140231"
Primary Wrangler: Ami

Secondary Wrangler: TBD

Google Drive: https://drive.google.com/drive/folders/1nfROiTEIpWqDjjV6pjJFtkIY6ACY218w

s3 bucket: TBC

Key Events

- [x]  Fill spreadsheet (to a sufficient standard to submit dataset)

- [x] Curate metadata spreadsheet with ontologies

- [x] Get CellType annotation (either from publication supplements or by contacting the authors)

- [x] Get express

[2020-11-18 09:57] mshadbolt commented on #144
This is waiting on fixing the ENA submission

[2020-11-18 10:02] mshadbolt commented on #142
This is waiting on feedback from ontology team on what the process should be, should check back up on it the week of 30/11

[2020-11-18 10:03] aaclan-ebi opened #175 "Clean up analysis submissions"

[2020-11-18 10:31] aaclan-ebi opened #176 "How to track regular operations task"

[2020-11-18 11:11] prabh-t commented on #168
@aaclan-ebi I have some local changes not pushed yet, as I need to review them before. It's mostly fixing the duplicate issues and trying a slightly different hierarchy. I'll try to push asap.

[2020-11-18 11:32] prabh-t opened #177 "SOP for cleaning up dev and staging upload areas"
Currently when cleaning up dev and staging mongodb, we often forget to clean up the data in the upload areas for those environments.
The dev and staging upload areas currently occupies close to 30TB of data in two S3 buckets. This incurs a huge monthly bill (approx. 700$/mo.).

Previously we have deleted data directly in those buckets. We should come up with a correct SOP for this. As data in thes

[2020-11-18 11:32] prabh-t commented on #177
from slack:

deleting directly from the bucket means the upload service isn't updated of this. there is an api endpoint to do that, but it doesn't seem to actually remove the data, it probably just marks the area as deleted in the upload postgres. ideally the postgres entry should be removed.

[2020-11-18 11:42] ami-day commented on #85
@lauraclarke From what I remember, we had a discussion about this dataset between the wranglers, and we decided to not move forward with wrangling this dataset for HCA. We agreed it was unsuitable for the HCA, due to the samples being obtained from genetically-modified mice. Also, the organ type is the Lung, for which (I believe) primary human tissue is not so challenging to get hold of that exper

[2020-11-18 11:50] ami-day commented on #75
@lauraclarke Wrangling this dataset was stalled because there was missing mouse donor information for a small number of samples. We should likely still wrangle the samples where the sample metadata is complete but another reason why it was stalled was: the 10X version used varied across samples (v1 or v2) but it is not clear which 10X version maps to which sample. My understanding is that we need

[2020-11-18 13:15] lauraclarke commented on #75
Did you try and get the sample to 10x version assignment from the lab and they said the couldn't provide it?

It would be worth asking the pipelines team how much of a blocker this is, what would the consequences of it all being treated as V2 from an analysis perspective?

[2020-11-18 13:15] lauraclarke commented on #75
Also, should it be closed or should it be put int he blocked columm

[2020-11-18 14:07] ami-day commented on #75
Ok, I'll message them on slack and see. I haven't encountered any 10X v1 datasets yet, I'm not actually sure what the different would be in terms of the UMI length and positions. I'll see what they say.

[2020-11-18 14:32] lauraclarke commented on #104
@rays22 can you add details here of what you need @aaclan-ebi's help with

[2020-11-18 19:39] rays22 commented on #29
* I have uploaded a new version of the metadata spreadsheet ([GSE144870-LavaertHumanThymus.xlsx](https://drive.google.com/drive/folders/1ehg_dhIM0PkQb06W3qObUygF0RBHX0ig)) to the gdrive that has passed all the tests in Ingest [Staging](https://staging.contribute.data.humancellatlas.org/submissions/detail?id=5fb56811f423490510b86dfb). @ami-day : it is ready for secondary review.
* The HCA applicati

[2020-11-19 15:21] rays22 commented on #138
# 2020-11-19 HCA-DCP & HUTER meeting minutes

1. Raw data file uploads (for example fastq sequence files, cell-gene expression matrices, cell-type annotations and possibly image files).
We have discussed the possibility of sub-directories for data files, because the `hca-util` tool does not support [sub-directory structures for data uploads.](https://github.com/ebi-ait/hca-documentation/wiki/How-t

[2020-11-19 15:43] aaclan-ebi opened #178 "Docker pull rate limit fix"
Quay.io docker image builds are failing with the following error:

[code]
For more info on this error, see https://www.docker.com/blog/checking-your-current-docker-pull-rate-limits-and-status/
https://www.openshift.com/blog/mitigate-impact-of-docker-hub-pull-request-limits

To resolve the issue we're moving all the base images of the ingest components to quay.io https://quay.io/repository/ebi-ait/

[2020-11-19 15:44] aaclan-ebi commented on #178
This ticket should have been created in hca-dev-team repo. Keeping this ticket in this repo anyway.

[2020-11-19 15:56] lauraclarke commented on #178
As we view it all through zenhub I don't think it necessarily matters which repo it is in

[2020-11-19 16:01] lauraclarke commented on #138
It looks like this meeting went well.

@rays22 What do you think needs to be done to close off this ticket? Are there further actions for which the ticket is useful to keep on top of?

[2020-11-19 16:36] aaclan-ebi commented on #178
forgot to tag this issue for commit in core https://github.com/ebi-ait/ingest-core/commit/5a8a6b5022d0f9fd77541d15f8e1ec844f06256c

[2020-11-19 16:39] aaclan-ebi commented on #168
@prabh-t the actual pages in the github page https://ebi-ait.github.io/hca-ebi-dev-team/  seems missing

[2020-11-19 16:53] aaclan-ebi commented on #178
The  base images are now moved to quay.io  and Dockerfile updated for all the following components:

ingest-ui
ingest-core
ingest-state-tracker
ingest-broker
ingest-validator
ingest-exporter
ingest-archiver
ingest-file-archiver

[2020-11-19 17:46] rays22 commented on #139
* [ ] Use this dataset to review the HUTER clinical information and metadata variables. Identify any gaps or incompatibilities in HUTER metadata by comparison with HCA standards.
 * [ ] Check the metadata in this dataset and if appropriate, provide the HUTER team a general summary of the ontologies we expect them to use so they can build that info into their own platform.

[2020-11-19 17:51] rays22 commented on #138
I have added the remaining action items from this ticket to <https://github.com/ebi-ait/hca-ebi-wrangler-central/issues/139> so we can close it.
We can make new tickets for any emerging issues that may come up to support the HUTER project. I am closing this issue.

[2020-11-19 18:00] lauraclarke commented on #138
Thanks for clarifying

I reopened it and put it in the done column as that will make it easier to track how much we completed this sprint

[2020-11-19 18:54] rays22 commented on #104
I need help on how I can get all the ontology related metadata field values for all the datasets that we have wrangled in bulk.

[code]

I have tested it and I can get that information for each dataset by using the Ingest API if I know the `submissionEnvelope` and query the appropriate endpoints:

    "submissionEnvelope" : {
      "href" : "https://api.ingest.archive.data.humancellatlas.org/submi

[2020-11-20 11:38] prabh-t commented on #168
@aaclan-ebi that should be fixed now. It haven't completely got how the nav works so I've been playing a bit. I've committed a round of re-org and cleaning up. I think this should be an ongoing process and should be included as a task for the developer on ops.

[2020-11-20 13:36] aaclan-ebi commented on #168
Yeah, I agree. Thanks for fixing it @prabh-t !

[2020-11-20 14:26] aaclan-ebi commented on #175
**Steps to clean up analysis submissions:**
1. Create a whitelist of analysis submissions to be deleted
2. Create a script to delete each submissions
3. Back up the mongo database
4. Run the script against prod data

Nice to do (if time permits):
Think of how to make this step automated easy to do in the future if we have list of submissions to delete.
- Create an SOP in deleting/cleaning up submi

[2020-11-20 14:53] aaclan-ebi commented on #175
Step 1 : Create a whitelist of analysis submissions to be deleted

1. Create a mongo js script to query the analysis  submission ids `query-analysis-submissions.js`
[code]
2. Run it against the mongo ( I have a local copy of prod data , I did this locally.)
[code]

The whitelist of analysis submissions are here: [https://app.zenhub.com/files/261790554/f81450e4-201d-44f8-9b46-564a448d211b/download]

[2020-11-20 16:07] ami-day commented on #29
@rays22 I'm wondering if you created a ticket for the above ontology term update with in the HCAO repo?

[2020-11-23 10:40] ESapenaVentura commented on #122
There were a couple of bugs related to xml to dict conversion + a couple of bugs introduced when trying to fix the errors

The latest version should fix it. Going to test once the EC2 instance is available.

If fixed, I will close this ticket

[2020-11-23 11:57] mshadbolt commented on #3
I believe I have fixed the experiment/run linking in the ENA submission but need to give the database some time to reindex so want to check in tomorrow. the basic process was:
* create new biosamples entries for the new cell suspensions
* create new empty experiments that link to the biosamples above
* use the webin user interface to edit the xml for each run that should link to the new experiment

[2020-11-23 17:10] ami-day commented on #29
@rays22 I have made a copy of the metadata sheet here with changes I made:
https://docs.google.com/spreadsheets/d/1BYfaPb8RVkSik7sZTsWD1XzpLCzqn-BA/edit#gid=1457586729

It mostly looks good to me.

**Here are my review comments below**

- I added names and descriptions next to biomaterial ids and protocol ids.

- I added 'unspecified' to the 'known disease(s)' field since the samples were taken fr

[2020-11-24 11:52] mshadbolt opened #179 "Fix Graph Validator"
The graph validator has a few issues.

1. Linking doesn't seem correct since the change was made to link all entities to project. This may have to do with the `direct_links` attribute of the imported xls

2. The functionality to load a submission from ingest doesn't seem to work, it loads 0 nodes and 0 edges

3. Some users encounter docker issues when reinstalling with the error:
[code]

[2020-11-24 12:42] mshadbolt commented on #172
As discussed the ingest graph validator seems a bit broken. I did my own checking of the links and everything seems ok from my point of view.

I changed the ethnicity to 'european' rather than american as we had discussed

I also removed the 'oral cavity' ontology as the uberon term doesn't seem to have the same meaning as we think of it or as the authors intended.

I think it would be good to add

[2020-11-24 12:57] ami-day opened #180 "HumanLiverImmuneCells_GSE125188"
**Dataset/group this task is for:**

HumanLiverImmuneCells
GEO accession: GSE125188

**Wrangler responsible for this dataset/lab:**

Primary wrangler: Ami

**File location**

https://docs.google.com/spreadsheets/d/1jXH4bIpls-birQicpF8JZJbFU8TLYiYrCuuBH8Dqizs/edit#gid=1240201541

**Acceptance criteria for the task:**

- [x] Convert metadata

- [x] Add ontologies

- [x] Assign secondary reviewer and

[2020-11-24 13:30] ami-day commented on #117
Closing this ticket as a new ticket for this dataset has been created (didn't see this ticket, it wasn't in the tracker).

[2020-11-24 13:30] #117 closed

[2020-11-25 10:31] clairerye commented on #179
We also need to deploy the latest changes in pypi. @aaclan-ebi was adding maintainer/owner access to team members to make this easier to do in the future.
 https://pypi.org/project/ingest-graph-validator/

[2020-11-25 14:00] ESapenaVentura commented on #140
With the SOP created https://ebi-ait.github.io/hca-ebi-wrangler-central/SOPs/dataset_acknowledgement_SOP.html I believe we are done with this.

Moving it to Done!

[2020-11-25 14:03] mshadbolt commented on #144
We changed the status for this because if the data is made available via DCP soon, we won't need to broker to AE but we will still want to create MAGE-TAB files to be able to broker to the SCEA

[2020-11-25 14:03] ESapenaVentura commented on #122
Aside from 421 <too many users connected> error (Which the script should handle better in the future), this specific bug is fixed now.

Moving to "Done"

[2020-11-25 14:04] ESapenaVentura commented on #152
Reviewed doc, no important info will be lost. I am going to delete, push to master and move this ticket to Done

[2020-11-25 14:14] ESapenaVentura commented on #147
@aaclan-ebi agreed on taking a look at the PR https://app.zenhub.com/workspace/o/ebi-ait/hca-ebi-wrangler-central/issues/171

[2020-11-25 15:22] ESapenaVentura commented on #179
The ticket + claire's comments do summarise pretty well the problems we discussed this morning in the operation review meeting.

Please correct me if I'm wrong but our main focus should be:

Development tasks:
- Create a ticket to investigate linking issue related to code that may have to do with ingest's `direct links`.
- Create a ticket to fix the ingest hydrator

Operational tasks:
- Create a t

[2020-11-25 15:30] rays22 commented on #179
The task list looks comprehensive to me. I am happy to do testing when we get to that point in any of the tasks.

[2020-11-25 15:40] ESapenaVentura opened #182 "Discuss best approach to curate dataset tracking sheet"
**Description of the task:**

After the discussion on the hackathon, it was decided that each wrangler would curate ~230 rows. Once into the task, the wranglers decided that was not feasible and other approach should be taken.

On the operations review meeting, there was a discussion about what could be the best approach. The outcomes of this discussion were:
- Curate thoroughly datasets that are:

[2020-11-25 19:14] clairerye opened #184 "Retrieve and host DCP1 project matrix files and host them"
The matrix service is being retired as part of the retirement of DCP1 at the end of the year.
The original plan was to serve the static matrix if you asked for a matrix for a project, and if you asked for a combined matrix across multiple projects, to return a sensible error as part of DCP2. There is now a significant risk of this not being delivered and SCEA and others rely on this.
We need to ge

[2020-11-26 11:02] aaclan-ebi commented on #175
Analysis submissions clean-up is done.

[code]
It took ~5hrs.

[2020-11-26 11:03] aaclan-ebi opened #185 "Spreadsheets for submissions before 15th June 2020 are missing"

[2020-11-26 12:58] mshadbolt commented on #184
Recording some questions here while they are in my head:

* What level of granularity will the projects need to be? i.e. will they need to be split by:
  * technology SS2/10x etc
  * species
  * tissue type i.e. primary vs cell line vs organoid
  * organ
  * developmental stage
  * other?

* will we be expected to maintain this in the future? i.e. when there is an MVP where matrices can be downloa

[2020-11-26 15:46] mshadbolt commented on #107
This is ready for export when we are able to export again. Should also be suitable for SCEA

[2020-11-26 16:38] mshadbolt commented on #105
I requested more info from the authors again, I will move to stalled and if no response by the end of the sprint I don't think this dataset is worth pursuing further.

[2020-11-26 16:52] ami-day opened #186 "New dataset: ComprehensiveTranscriptomicsHumanKidney"
**Dataset/group this task is for:**

ComprehensiveTranscriptomicsHumanKidney

**Wrangler responsible for this dataset/lab:**

Primary wrangler: Ami
Secondary Wrangler: Ray

File location

https://docs.google.com/spreadsheets/d/14qhg6tXRAC8H2lPJtjbO4BOUhga5nqCX/edit#gid=1719629469

**Acceptance criteria for the task:**

- [x] Convert metadata

- [x] Add ontologies

- [x] Assign secondary reviewer a

[2020-11-26 19:40] rays22 opened #187 "How to model CITE-seq metadata?"
[Cellular Indexing of Transcriptomes and Epitopes by Sequencing](https://cite-seq.com/) is a method in which oligonucleotide-labeled antibodies are used to integrate **cell surface protein** and transcriptome measurements into a single-cell readout. CITE-seq is [compatible with existing single-cell sequencing approaches.](https://pubmed.ncbi.nlm.nih.gov/28759029)

1. A [wet lab workflow](https://e

[2020-11-26 19:53] rays22 commented on #187
### Possible approaches to model CITE-seq

1. Using a single library_preparation_protocol that is a combination of CITE-seq and 10x protocols.
![1lib_protocol_model dot](https://user-images.githubusercontent.com/25171986/100387653-8bf35980-3020-11eb-9c91-1cfd4d3716cc.jpg)

This approach would require new CITE-seq EFO ontology child terms for each combination of CITE-seq and the appropriate scRNAse

[2020-11-26 19:54] rays22 commented on #29
This is blocked by <https://github.com/ebi-ait/hca-ebi-wrangler-central/issues/187>.

[2020-11-27 08:45] mshadbolt commented on #180
Changes I made in the MS version of the spreadsheet
* For Project role for wranglers we need to use the text `Human Cell Atlas wrangler` as this is used by the browser I believe
* added information from the supplementary file of the paper, i.e. sex, age, cause of death, death type
* changed alive at collection to 'no'
* I think I would change 'liver transplant' to a different term like collecting

[2020-11-27 10:15] mshadbolt commented on #85
i think it is best to close it, we can reopen it in future if we decide something different.

[2020-11-27 10:15] #85 closed

[2020-11-27 10:21] ami-day commented on #180
Thanks for the review @mshadbolt

There is some confusion about the sample donors: I understood samples were taken from living donors who were receiving a transplant, whereas you have understood it to be deceased organ donors annotated in the supplements. I am going to contact the authors to ask. It might also be a mix: PBMCs from the living donors and liver and spleen from the deceased donors.

A

[2020-11-27 10:42] aaclan-ebi commented on #185
It looks like that the spreadsheets weren't restored when we rebuild our prod cluster for Helm v3 upgrade last 15th Jun 2020. The volumes associated from the previous prod instances are already cleaned up as well. I'm afraid there's no way to easily recover the old spreadsheets.

The Updates spreadsheets feature was released to prod  last [17th July 2019] (https://docs.google.com/document/d/1xbOUn

[2020-11-27 10:46] ami-day commented on #180
Emailed the authors and waiting for a response.

[2020-11-27 10:54] aaclan-ebi commented on #185
I checked the HCA DCP account, and i believe we can still easily recover the 2019 spreadsheets.

We're now just missing the 1st Jan to 15th June 2020 spreadsheets.

@clairerye may I know your thoughts on the severity of recovering this? We can manually upload the missing spreadsheets from the wrangler google drive. It'll be a little tricky and tedious, I may need to provide a way to upload the spr

[2020-11-27 12:38] aaclan-ebi commented on #147
@ESapenaVentura I've updated the branch and added comments in that PR.

[2020-11-27 12:42] aaclan-ebi commented on #147
The doc seems good and well thought of. It would be nice to support the following in Ingest to simplify the data retraction process.

1. Auto delete of submission upload area when submission is deleted via UI/API
2. Auto delete of archive entities in Ingest when submission is deleted
3. Auto delete of spreadsheet when submission is deleted
3. Auto delete of project in TDR when project is deleted

[2020-11-27 12:47] mshadbolt commented on #187
Not sure if that is what you meant by scenario 1, but made this diagram because in my head we should have separate library preps for each type of cite-seq library, typically gex, Hashtag oligotide (HTO) and antibody (ADT). This wouldn't involve changing the current schemas but would involve some edits to the ontology:

* we would need to decide whether the gex library created as part of a cite-seq

[2020-11-27 15:07] clairerye commented on #184
https://humancellatlas.usegalaxy.eu/root?tool_id=toolshed.g2.bx.psu.edu%2Frepos%2Febi-gxa%2Fhca_matrix_downloader%2Fhca_matrix_downloader%2Fv0.0.3%2Bgalaxy0

[2020-11-30 09:58] clairerye commented on #184
Pablo's email comments:
1.- re-write the underpinnings of:

https://github.com/ebi-gene-expression-group/hca-matrix-downloader

so that it would retrieve results from, say, an ftp directory or an object store, after an initial search against something (a json file metadata->data path?) holding the exactly searchable metadata (Project title, Project label or ID) as explained on that repo.

If that

[2020-11-30 11:13] ESapenaVentura opened #188 "Proposal for data sharing for MRC awardees"
**Description of the task**

On a meeting with an MRC awardee, it was highlighted that it would be good for them to have a space where they can share data

I will work on a proposal based on a conversation with @lauraclarke and @clairerye to see if we can help them with that.

**Acceptance criteria**
- [ ] A proposal has been written and reviewed
- [ ] The following AI have been documented

[2020-11-30 12:10] mshadbolt commented on #184
currently working on trying to set up the ftp, we first need to set up a virtual user who will be able to write to the ftp, I have asked @tburdett to follow this up as needs to be requested by the GTL

[2020-11-30 15:24] rays22 commented on #29
I have uploaded a file archive that includes matrices, barcodes and genes to <https://drive.google.com/drive/folders/1mKwzZl8NZ5gBRvME8N6klcDl__IuxVRe>.

[2020-11-30 17:03] lauraclarke commented on #75
@ami-day did these issues get resolved?

Do you think this ticket should be moved to either stalled or closed entirely?

[2020-11-30 18:50] ami-day opened #189 "HealthyAndDiabeticPancreas_GSE101207"
**Dataset/group this task is for:**

HealthyAndDiabeticPancreas_GSE101207

**Wrangler responsible for this dataset/lab:**

Primary wrangler: Ami
Secondary wrangler: Ray

**File location**

https://docs.google.com/spreadsheets/d/115WaxV5-JNi031Wpiwk8UxlyMC9JsZ9HKYl7ids7UmU/edit#gid=1389602319

**Acceptance criteria for the task:**

- [x] Convert metadata

- [x] Add ontologies

- [x] Assign secondar

[2020-11-30 21:01] rays22 commented on #29
@ami-day
* **Figure 1.A** provides some information on the experimental design. It indicates that the `SORT 2` samples correspond to `2 donors / scRNAseq + CITEseq`. I have interpreted this as two pairs of samples from two donors provided input for separate 10x and CITE-seq experiments. This interpretation is supported by the number of sequence files in the dataset and their naming pattern. Figure

[2020-12-01 11:26] ESapenaVentura commented on #147
Those points would be great to work on. Should we open a ticket?

Also, I just finished with the (hopefully) last review. @aaclan-ebi can you check everything is in order and, if it is, can you merge?

Thanks!

[2020-12-01 11:39] lauraclarke commented on #147
Probably best to consult with @clairerye about how to prioritize those issues, they need to be associated with an impact and prioritized again everything else we need to do.

As this isn't something we have to do super often, having manual steps in the first instance might not be the end of the world

[2020-12-01 11:41] lauraclarke commented on #178
Can this be closed? is it finished?

[2020-12-01 11:41] lauraclarke commented on #178
ignore that, I was looking at the wrong column

[2020-12-01 11:42] lauraclarke commented on #144
@mshadbolt What tasks are you tracking with this ticket that aren't part of the standard wrangling process?

[2020-12-01 11:44] mshadbolt commented on #144
if you find tickets like these that you don't want on the operations board, feel free to remove the label and I will track on my own board

[2020-12-01 11:53] lauraclarke commented on #144
It isn't that this shouldn't be on the operations board or any other board. I am trying to understand what is the difference between this ticket and the one Enrique tagged https://github.com/ebi-ait/hca-ebi-wrangler-central/issues/3 which is tagged as submit to Array Express

Happy for us to be tracking active work in tickets, trying to minimize confusion from apparent ticket duplication.

[2020-12-01 13:32] #115 closed

[2020-12-01 14:58] mshadbolt commented on #105
received donor metadata so i will work on incorporating into the spreadsheet then will be ready to secondary review

[2020-12-01 17:02] rays22 commented on #29
The text you added to the **DONOR ORGANISM DESCRIPTION** fields look useful.
The donor names do not appear to differ from the biomaterial ids, so I am not sure if it adds anything useful. Maybe I could add names like `donor 1` instead of `D1` etc?
* * * *

You are correct that we can not state that the donors were healthy.
I see why you would like to add `unspecified` to **KNOWN DISEASE(S)**. I do

[2020-12-02 12:50] #178 closed

[2020-12-02 12:50] #138 closed

[2020-12-02 12:50] #140 closed

[2020-12-02 12:50] #122 closed

[2020-12-02 12:50] #152 closed

[2020-12-02 12:51] lauraclarke commented on #147
@ESapenaVentura can you coordinate with @jacobwindsor on the final merge needed here

The automation that you want to add to the prioritization list, you need to work with @clairerye to record in the right place

[2020-12-02 14:04] mshadbolt commented on #142
Pinged paola to ask if a suitable process and decision tree has been worked out that we can incorporate into the SOP.

[2020-12-02 15:45] lauraclarke commented on #147
Looks like https://docs.google.com/document/d/1h-oUrbOb5OZS8L_F023eYP9mYwyuimTH7jdPQEMGj-E/edit# is the best place to add the automation requirements

@ESapenaVentura is it that and the merge of the PR which are needed for this to be done

[2020-12-02 15:58] ESapenaVentura opened #192 "Improve failed upload on move_data_from_indsc script"
Currently, some of the files being uploaded get truncated when using the move_data_from_insdc.py script

The plan is:
- Detect cases in which the upload has stopped
- Throw a warning and delete a file

In the future, it would be great if it could re-launch those files, but for now this should work so a wrangler can re-launch the script if any process fails.

[2020-12-02 16:21] lauraclarke commented on #182
@ami-day will complete the next steps in this

She will identify the rows that need more curation and setup a filter so they can be found
She will do curation of a subset

Ami also wants to look at the currently unsuitable datasets in the spreadsheet and see if they can be shifted to something which could be wrangled now we are better able to get fastq files from the NCBI

[2020-12-02 17:31] mshadbolt commented on #91
decided as ray suggested to grab the files from arrayexpress instead of using existing files. All metadata and data valid and ready for export.

The other aspect of this project is SS2 data that has not been archived anywhere and have not heard from JP about wanting to archive so will reopen this in the future if we can add to this data to this project

[2020-12-03 10:06] prabh-t commented on #179
1. _since the change was made to link all entities to project_ this change has been done to the core model but the migration hasn't happened yet. @aaclan-ebi @jacobwindsor since we have deployed the change without migration, could this be causing this issue?

2. this seems to be working for some submissions but not for others. for e.g.

this one loads fine
[code]

but not this one
[code]

I am try

[2020-12-03 11:39] rays22 commented on #29
I have reverted the secondary wrangler suggested changes related to enrichment protocol merges, because that makes the metadata invalid and fail validation.
After input from other wranglers, it is clear now that
1. you are not allowed to add two process ontology terms to the same protocol, and
2. it is fine to add two enrichment protocols as in my original version of the HCA spreadsheet.

[2020-12-03 13:56] ESapenaVentura commented on #174
Just finished reviewing:

It looks great! I have only changed 2 things in project - contributors:

- Changed the project_role text to Human Cell Atlas Data Wrangler (The browser and ingest use those strings)
- Changed the contributors that weren't point of contacts to "no"

[2020-12-03 15:15] ami-day commented on #74
@ESapenaVentura Thank you for your review, it looks good.

I made some small changes: I changed the donor organism, specimen and cell suspension ids, names and descriptions to be more human interpretable compared to the ids used in the paper supplements but the overall linking/design has not changed.

The requested HCAO ontology term still hasn't been added, but other than that the metadata valida

[2020-12-03 15:58] ESapenaVentura opened #193 "GSE119212 - Decoding the development of human hippocampus"
**Primary Wrangler:**
Enrique
**Secondary Wrangler:**
TBD

**Associated files:**

Google Drive: TBD

**Published study links**

Paper: https://www.nature.com/articles/s41586-019-1917-5

Accessioned data: [GSE119212](https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE119212)

**Key Events**

- [ ] convert published metadata to HCA spreadsheet
- [ ] manually curate dataset to meet HCA metadata st

[2020-12-03 15:58] ami-day commented on #29
Thanks @rays22 for this feedback.

I understand why you have reverted some changes (or plan to), and it sounds good to me. Also interesting to know about the 'open-world assumption' vs 'closed-world assumption' and agree the open-world assumption makes sense here.

**To answer some of your questions:**

- **The donor names do not appear to be different from the description, I'm not sure it adds an

[2020-12-03 15:59] mshadbolt commented on #184
i forked the repo and setup a branch to begin work on refactoring

https://github.com/ebi-ait/hca-matrix-downloader/tree/hca-dcp-ftp

[2020-12-03 16:06] ami-day commented on #47
This project is stalled due to it involving samples from living donors.

[2020-12-03 16:28] ami-day commented on #75
@lauraclarke I am closing this ticket. The pipelines team need to know whether the version was v1 or v2, due to different cell barcode lengths, so some of the samples cannot be processed. The dataset also consists of transgenic mouse samples so is not a high priority for us.

[2020-12-03 16:28] #75 closed

[2020-12-04 11:19] ami-day opened #194 "Review code review: new code for comparison and filtering of entries in nxn's database"
**Description of the task:**

I recently made updates to the code which compares and filters entries in Valentine's DB compared to the tracker sheet. This was to make the filtering process more stringent and avoid duplicate entries.
Enrique reviewed the code changes, refactored it and made a pull request. However, looking at the pull request, it looks like some of updated functionality might have

[2020-12-04 11:25] ami-day opened #195 "Documentation for new remove_duplicates.py script"
**Description of the task:**

I wrote a new script, remove_duplicates.py, to stringently scan the tracker sheet for duplicate entries based on multiple different fields and after reformatting publication titles to remove non-alphanumeric characters and white space. This is a ticket to update the tracker sheet SOP to include information about scanning for duplicate entries on a regular basis. Any d

[2020-12-04 11:28] ami-day opened #196 "Create first step proposal on better integrating conversion to SCEA with HCA standard and ingest"
**Description of the task:**

- [ ] Put together a draft plan on a first step towards better integrating conversion to SCEA format with the HCA metadata standard and ingest

**Acceptance criteria for the task:**

- [ ] Send a draft to Laura and Claire

[2020-12-04 11:34] ami-day opened #197 "Explore methods for automated curation of tracker sheet rows"
**Description of the task:**

This is a ticket to part automate the curation of the tracker sheet rows.

**Acceptance criteria for the task:**

- [ ] Write script which scans the tracker sheet and automatically checks whether fastq.gz files are available for each dataset (row)

[2020-12-04 12:39] ami-day commented on #174
Thanks @ESapenaVentura uploading the metadata and data to ingest now

[2020-12-04 14:18] aaclan-ebi commented on #185
I checked the stored spreadsheets in the ingest-broker deployment and it looks like that it only contains spreadsheets from 2019-11-25 . It seems that all of those are the integration test spreadsheets. I think i'd have to further check the old volumes to recover 2019 spreadsheets.

[2020-12-04 14:33] mshadbolt commented on #184
Changes to the code are on a branch with a PR here: https://github.com/ebi-ait/hca-matrix-downloader/pull/1

We think the code should work but we are waiting for the ftp folder to be set up and the files to move there before we can test it properly.

@ESapenaVentura downloaded the matrix files to the cluster so they are ready to be moved to the ftp folder when it is created.

After we are confiden

[2020-12-04 15:34] aaclan-ebi commented on #185
After further investigation, it looks like we can recover all spreadsheets from 18 July 2019.

The created timestamp of the files were in the very recent available volume in the EBI AWS account. The volume used before the 15th June 2020  rebuild. I got confused by the created timestamps as it's showing very recent timestamps. Looks like the created timestamps of the files are being overwritten whe

[2020-12-04 16:58] ami-day commented on #180
@mshadbolt I just looked through your review comments again and the paper supplements, and realise you are correct that the samples were from deceased organ donors. I had missed the donor organism info. at the end of the supplements the first time around. Therefore, I have kept the changes you indicate above. I also changed 'liver transplant' and 'biopsy' in the collection protocol tab to 'collect

[2020-12-04 18:06] mshadbolt commented on #142
I made some updates based on the latest communications with Paola but still have some open questions before closing this ticket

[2020-12-07 10:17] aaclan-ebi commented on #185
I've restored the spreadsheets (found from previously used volumes) of old submissions to the current broker deployment.

Interestingly, i still found some missing spreadsheets. Spreadsheets created from 28 Feb 2020 to 15 Jun 2020 are missing.

![Screenshot 2020-12-07 at 10.13.39.png](https://images.zenhubusercontent.com/5b042c754b5806bc2bd426e2/81df9c65-0f1a-4460-8ec6-5f6af3fce11b)

I'll just tak

[2020-12-07 10:59] #175 closed

[2020-12-07 14:14] ESapenaVentura commented on #184
The FTP site is ready and with all the matrix files available

I have tested the code:
- Got UUID with all 3 types of search (UUID, project_shortname, project_title)
- Tested what happens when it doesn't exist (prints and exits)
- Downloaded a mtx file with project name
- Downloaded a loom file with project name

And it works fine. Currently talking with Pablo about what are the best next steps

[2020-12-07 14:32] ESapenaVentura commented on #193
Files are in BAM format, converting them to FASTQ using 10x's tool "BamToFastqConverter" in the EC2

[2020-12-07 15:07] ESapenaVentura commented on #172
Ran ingest graph validator with the latest version, tests succeeded.

I have uploaded the latest files (currently validating) and once I am sure they succeeded I will delete them from my ncbi cloud bucket

[2020-12-07 15:15] ESapenaVentura commented on #184
Since the next steps are on their end (even if we end up helping) should we move this ticket to done @clairerye ?

[2020-12-07 16:35] ESapenaVentura opened #199 "Investigate possible deletion of rows in tracking sheet"
While working with the dataset tracking sheet, I noticed some rows were missing, at least for DCP1 datasets. We need to make a careful check to see if data is missing by comparing it with the backup

[2020-12-07 17:18] ami-day commented on #195
This is now done.

[2020-12-07 19:08] rays22 commented on #139
### Gene by cell matrices and cell type annotations

I have uploaded the GEO Supplementary files

[code]

to the [gdrive folder](https://drive.google.com/drive/folders/1aJitoxjUF10_6rVAnojkzyZgy74NGHdZ) of the dataset.

[2020-12-07 19:47] lauraclarke commented on #199
I found 30 by comparing the publication URL column

https://pubmed.ncbi.nlm.nih.gov/30573816/
https://doi.org/10.1681/ASN.2018020125
https://www.biorxiv.org/content/10.1101/742320v1
https://www.ncbi.nlm.nih.gov/pubmed/31436334
https://doi.org/10.1186/s13059-017-1362-4
https://doi.org/10.1038/s41586-019-0933-9
https://pubmed.ncbi.nlm.nih.gov/30814735/
https://doi.org/10.1126/science.aao4174
https:/

[2020-12-08 09:29] ESapenaVentura commented on #172
Files are valid! It's ready for exporting

[2020-12-08 10:18] ami-day commented on #74
The new ontology term has now been added and the project metadata is uploaded and valid in ingest (yay!). BUT, there is currently an issue with syncing fastq files to ingest prod. (not specific to individual projects). I have messaged the devs about this in slack.

[2020-12-08 10:19] ami-day commented on #174
There is an issue with syncing files to ingest prod. (not specific to individual projects), so uploading the fastq files to ingest prod. for this project is currently blocked.

[2020-12-08 10:44] ESapenaVentura commented on #193
The test run for the conversion went alright (Although it generated too many fastq). Using a higher number of reads/file and re-launching for all the bam files!

[2020-12-08 12:25] ami-day commented on #180
The authors got back and the above issues have been resolved. The metadata is valid in ingest prod. and currently syncing the fastq files.

[2020-12-09 09:44] lauraclarke commented on #176
This is linked to  a document Rodrey wrote before he left
https://docs.google.com/document/d/1jfCClZ8gfNxOWZSPzj9xr1tx99-C9d8Lpcw_G85yvL8/edit

and the operations tasks listed in https://ebi-ait.github.io/hca-ebi-dev-team/operations_tasks/operations_tasks.html

I would like the table in the operations notes updated with what the regular tasks are, and how frequently they should be run
https://docs

[2020-12-09 09:48] lauraclarke commented on #168
Is this done? I know there is a merge between https://ebi-ait.github.io/hca-ebi-dev-team/ and https://ebi-ait.github.io/hca-ebi-wrangler-central/ is desired but we could do that another time?

[2020-12-09 11:01] jacobwindsor commented on #176
Thans Laura - hadn't seen the document.

I had started a branch to document all this as well as some e2e tests and will copy the tasks into that table.

[2020-12-09 13:30] clairerye opened #200 "Onboarding tasks for Wei"
# Tasks

Welcome to the HCA DCP! We are pleased to introduce you to the data wrangling team. Before beginning to work by yourself, you'll be asked to complete a set of tasks and meetings. These will guide you through both the general and specifics of your role, and it will help us make sure you understand how we work in the team. Your introductory tasks are:

- [x] Read the Onboarding doc. https:/

[2020-12-09 15:48] lauraclarke opened #201 "Problem with requirements.txt and remove_duplicates.py"
I installed and am trying to run the data tracker update scripts

I hit this error with remove_duplicates.py which I assume means remove_duplicates has some dependencies which aren't listed in the requirements.txt

C02W829JHV2Q:src laura$ python3 remove_duplicates.py
Traceback (most recent call last):
  File "/Users/laura/Code/hca-ebi-wrangler-central/src/remove_duplicates.py", line 15, in <module

[2020-12-09 16:52] lauraclarke opened #202 "Feature suggestion for the data tracking sheet update script"
Would it be better if stuff loading directly from Valentin's spreadsheet got an uncurated status rather than an acknowledged status, then it would be easier to find the datasets which need to be curated if the person who loaded them didn't curate them?

[2020-12-10 11:13] ESapenaVentura commented on #193
The conversion yielded valid R1 and R2 and, for some reason, empty I1 files - I am re-formatting the spreadsheet to not have the I1 files, as they are not needed (Files already demux)

[2020-12-10 16:19] ESapenaVentura commented on #193
The files have been uploaded and they are valid

Submission here https://contribute.data.humancellatlas.org/submissions/detail?uuid=7d5c9287-cf4a-4948-b4d5-5c6123ad78ad&project=6c040a93-8cf8-4fd5-98de-2297eb07e9f6

I ran the ingest-graph-validator tool and it fails the check for the 5 degree minimum graph, which is expected because this dataset contains bulk data (directly from tissue to files)

[2020-12-11 09:30] ESapenaVentura commented on #184
Pablo said that this is ok and that they will test on their end and put the package in BioConda.

We are done on our side so moving to done

[2020-12-11 11:32] clairerye commented on #184
thanks @mshadbolt and @ESapenaVentura for getting this done so efficiently!

[2020-12-11 12:21] ami-day commented on #194
@ESapenaVentura and I have had a discussion about the code and here is what we have decided to do today and on Monday:

**Today**

- @ESapenaVentura is going to merge the pull request for his refactored code for version 2 of the script (compare_tracker_with_nxn_sheet_version2.py)

- The refactored code is missing some of the functionality initially written in  compare_tracker_with_nxn_sheet_versio

[2020-12-11 21:38] rays22 commented on #139
* I have transferred the original fastq data files (`GSE111976-endometrium_MC-issue139`) to the wragler/contributor upload area.
* I have filled in and uploaded the HCA metadata spreadsheet
to the [gdrive folder](https://drive.google.com/drive/folders/1kxtAeVMp7HDJ6HyGFsQ3PRRra2R81wuf) of the dataset.
    * The metadata spreadsheet is ready for secondary review.

[2020-12-14 10:26] mshadbolt commented on #200
@ami-day @ESapenaVentura @clairerye @lauraclarke @jacobwindsor @aaclan-ebi @rays22

I have assigned you some onboarding meetings with Wei, if you are happy to take on these can you please schedule in meetings with him this week? If you have any questions or concerns let me know. Thanks!

[2020-12-14 14:40] ami-day commented on #193
@ESapenaVentura I have reviewed this, great to see lots of cells and primary brain tissue in this project! I made some minor changes to the sheet linked above.

- I added the fastq creation method to the sequencing protocol tab.

- 1 of the donor organism's name and description was inaccurate/duplicated; I changed it from GW25 to GW27.

- Some of the addresses in the Contributors tab are in Chines

[2020-12-14 16:38] ami-day commented on #74
Exported.

[2020-12-14 16:39] ami-day commented on #174
Exported.

[2020-12-14 20:15] rays22 commented on #186
@ami-day
I have reviewed the metadata spreadsheet `ComprehensiveTranscriptomicsHumanKidney_ontologies.xlsx`.
It looks like you did a nice job filling in the spreadsheet, but I still have found some issues.

1. The URL you provided is a link to the abstract of the paper and not the full text pre-print.
project.publications.url: https://europepmc.org/article/ppr/ppr21054

The link should be either
h

[2020-12-15 09:40] mshadbolt commented on #139
Hi @rays22 I will take on secondary review of this over the next couple of days.

[2020-12-15 13:06] prabh-t opened #204 "Security vulnerability on HCA AWS resources"
The vulnerabilities below were reported by the cloud consultants.  We need to assess each and find out if they are intended, if not then fix them.

[2020-12-15 13:07] #204 closed

[2020-12-15 13:13] prabh-t commented on #204
Created in the `hca-ebi-wrangler-central` instead of `hca-ebi-dev-team` repo by mistake,

[2020-12-15 15:16] mshadbolt commented on #139
Hi @rays22
I have just started looking at the spreadsheet and I am wondering whether you have asked the author of the paper whether they can provide more specific metadata about each donor?
e.g. Age, Ethnicity, BMI

[2020-12-15 15:37] lauraclarke opened #205 "How much HCA data can ingest not currently support (metadata and managed access?)"
The goal of this ticket is to quantify how much data could the ingest system currently not support.

The assumption is that there is a large quantity of data we can't support and there are two reasons we can't support it. This data was collected with requirements for managed access data distribution and/or the data is from a technology or sample type that our metadata schema doesn't currently supp

[2020-12-15 15:44] mshadbolt opened #206 "test project"
**Primary Wrangler:**

**Secondary Wrangler:**

**Associated files:**

Google Drive:

**Key Events**

- [ ] Send initial instructions about contributing, including questionnaire and T&Cs
- [ ] Receive project questionnaire
- [ ] Assign the Primary Wrangler
- [ ] Receive T&C form filled out by at least 1 representative of group/project
- [ ] Send custom metadata template spreadsheet, how-to guide a

[2020-12-15 15:46] #206 closed

[2020-12-15 16:20] rays22 commented on #139
No, and I do not think it would be a good idea to obtain unpublished sensitive metadata about each donor.

In the `Population characteristics` section of the supplement they provide aggregate information on 'de-identified' living donors, such as age and BMI. Apparently, they chose not to disclose that information for individual donors. I trust their judgement.
Even if they were to reveal to the HC

[2020-12-15 16:59] mshadbolt commented on #142
I would like another wrangler to have a quick read through before classifying as done.

[2020-12-15 17:46] mshadbolt commented on #139
I don't think that a 5 year age range, ethnicity and BMI would be considered sensitive information or allow a 'healthy living female' to be identified, genetically or otherwise. I thought that given we have a relationship with the author it would be worth asking whether this information was intentionally left out due to ethics or consent requirements or was simply not included.

I have had example

[2020-12-15 19:13] rays22 commented on #139
FYI: We do not have a relationship with the authors of this paper. Some of the authors of this paper are members of the HUTER project (but this paper is not part of HUTER), but they are not the people we have had meetings with.
This is not a direct contribution from a lab. The data and metadata is coming from public GEO data and the paper.

[2020-12-16 16:48] mshadbolt commented on #139
hi @rays22 I found some issues with missing files/cell suspensions that might have happened during the conversion from geo:
GSM4577312 cell suspension id is in the cell suspension tab but not in the sequence file tab

Following cell suspensions that are listed in the sequence file tab are not in the cell suspension tab tab:

|cell_suspension.biomaterial_core.biomaterial_id |  n|
|:----------------

[2020-12-16 16:56] mshadbolt opened #207 "Revise AUDR SOP with new update/edit process"
As the new update process is under review we need to review this SOP with current process and ensure it is up to date.

[2020-12-16 18:12] rays22 commented on #142
I have read the SOP and it looks easy to follow and clear to me.
I have found a potential typo in the sentence
`Does it already exist in FAO?`.
<https://ebi-ait.github.io/hca-ebi-wrangler-central/SOPs/request_ontology_terms.html#decision-tree>
Did you mean `FMA` in place of `FAO`?
Other than this, the SOP looks fine to me.

[2020-12-17 09:54] ami-day commented on #200
Yea, will schedule a meeting with him for this week.

[2020-12-17 11:46] rays22 commented on #29
* I have uploaded the latest version of the HCA metadata spreadsheet as `GSE144870-LavaertHumanThymus.xlsx` to the [gdrive.](https://drive.google.com/drive/folders/1ehg_dhIM0PkQb06W3qObUygF0RBHX0ig)
* The metadata (excluding file uploads) in this version have passed ingest validation (including two library preparation protocols and the relevant CITE-seq and 10x library preparation ontology terms)

[2020-12-17 12:16] ESapenaVentura opened #208 "Review metadata schema docs in repository"
**Description of the task:**
Review the docs under this folder https://github.com/HumanCellAtlas/metadata-schema/tree/master/docs and make sure they are up to date with the latest procedures.

**Acceptance criteria for the task:**
- [ ] All docs have been reviewed

[2020-12-17 12:22] ESapenaVentura opened #209 "Update data portal to point to metadata update suggestions"
**Description of the task:**
Currently, the data portal (data.humancellatlas.org) has a nice view on metadata fields and how to contribute data, but there is no indication on how to give feedback about the schema or suggest new fields.

We can edit the pages and create a PR to suggest a better disposition of this information in the browser.

**Acceptance criteria for the task:**
- [ ] Identify whi

[2020-12-17 15:13] ESapenaVentura commented on #193
Hi @ami-day , did you overwrite the spreadsheet? I can only see a "v3_noIndex", but I can't find the "v2_noIndex". It should be alright, I'm just curious!

Other than that, I think the changes are perfectly fine. I may have swapped them around because we have the pattern recognition wrong in our schema

About the addresses, I couldn't find the address in english. If you were able to, please let me

[2020-12-17 15:24] mshadbolt opened #210 "Update hca-scea documentation with specification for cells.txt file"
When brokering to the SCEA they like to have cell annotations in a specified format. This ticket is to add to the existing documentation so that wranglers can create this format when they have access to the cell type annotations from the author/contributor.

[2020-12-17 17:17] ami-day commented on #166
preparing for SCEA: E-HCAD-21

[2020-12-17 17:17] ami-day commented on #116
preparing for SCEA: E-HCAD-19 & E-HCAD-20 (split by organism)

[2020-12-18 10:44] rays22 commented on #187
I would be to happy to clarify any specific aspects of scenario 1 as I understand it. I should note that I have listed it, because it had come up in discussions with other wranglers. I have tried to list the full spectrum of suggested models that I am aware of, even those that are not my preferred choices.
Personally, I would prefer a model with at least two distinct library preparation protocols

[2020-12-18 10:47] mshadbolt commented on #187
Have you made an example spreadsheet with the scenario you prefer?

Do we need another meeting to decide on what we are going to do?

[2020-12-18 12:26] rays22 commented on #187
I did make an example spreadsheet with two library prep protocols ([example-2lib_protocols.xlsx](https://github.com/ebi-ait/hca-ebi-wrangler-central/files/5604751/example-2lib_protocols.xlsx)), but after reading your suggested model and some method papers and protocols, I think I would also prefer a three-protocol model, so that spreadsheet does represent my current thinking.
My understanding is t

[2020-12-18 13:53] mshadbolt commented on #187
ok cool thanks for summarising your thoughts

One option I thought of as I was reading was for the lists of antibodies and barcodes, we could attach them as supplementary files and link to the relevant protocol via the 'document' field.

But yes sounds like we need a bit more work and discussion before we can converge on an appropriate solution.

[2020-12-18 17:01] rays22 opened #211 "Update S-SUBS-4 with new data"
We need to update an existing project with new data and metadata.

* HCA project short name: AdultHemOrgans
* Study/project accessions: S-SUBS4, PRJEB36885

**Primary Wrangler:** Ray

**Secondary Wrangler:**

**Associated files:**

Google Drive: <https://drive.google.com/drive/folders/1wPFQvAVYX8_F5rlYlgFIxuI4w-Fmr8J->

**Key Events**

- [x] Send custom metadata template spreadsheet, how-to guide

[2020-12-21 15:44] rays22 commented on #200
We had the onboarding meeting [Linked knowledge: Quick introduction to ontologies](https://github.com/ebi-ait/hca-ebi-wrangler-central/issues/200) on Dec. 17, 2020.

[2020-12-22 13:39] mshadbolt commented on #142
Thanks for the review and feedback, I have fixed the typo and will close this issue, we can update if people come across any further issues

[2020-12-22 15:42] mshadbolt commented on #17
The publication can also be updated from the bioarxiv to: https://www.nature.com/articles/s41587-019-0068-4

[2020-12-22 15:48] mshadbolt opened #212 "HumanMousePancreas"
**Dataset/group this task is for:**

HumanMousePancreas - f86f1ab4-1fbb-4510-ae35-3ffd752d4dfc

https://data.humancellatlas.org/explore/projects/f86f1ab4-1fbb-4510-ae35-3ffd752d4dfc?catalog=dcp2

https://contribute.data.humancellatlas.org/projects/detail?uuid=f86f1ab4-1fbb-4510-ae35-3ffd752d4dfc

**Description of the task:**

Publication needs to be added to the project and exported
https://pubmed

[2020-12-22 16:04] mshadbolt opened #213 "Drop-seq, DroNc-seq, Fluidigm C1 Comparison"
**Dataset/group this task is for:**

Drop-seq, DroNc-seq, Fluidigm C1 Comparison - a9c022b4-c771-4468-b769-cabcf9738de3

https://data.humancellatlas.org/explore/projects/a9c022b4-c771-4468-b769-cabcf9738de3?catalog=dcp1

https://contribute.data.humancellatlas.org/projects/detail?uuid=a9c022b4-c771-4468-b769-cabcf9738de3

**Description of the task:**

Update the bioarxiv publication to the scientif

[2020-12-22 16:46] mshadbolt opened #214 "Diabetic Nephropathy snRNA-seq"
**Dataset/group this task is for:**

Diabetic Nephropathy snRNA-seq - 577c946d-6de5-4b55-a854-cd3fde40bff2

https://data.humancellatlas.org/explore/projects/577c946d-6de5-4b55-a854-cd3fde40bff2?catalog=dcp2

https://contribute.data.humancellatlas.org/projects/detail?uuid=577c946d-6de5-4b55-a854-cd3fde40bff2

**Description of the task:**

Bioarxiv publication needs to be updated to peer-reviewed pa

[2020-12-22 20:26] rays22 opened #215 "`ingest-graph-validator __version__ = "0.6.1"` fails to hydrate datasets from xls and ingest"
### Description of the problem
I have updated the local installation of the `ebi-ait/ingest-graph-validator` to version `__version__ = "0.6.1"`, but I can run the metadata validation tests, because the `ingest-graph-validator` fails to load (`hydrate`) datasets.

1. `git pull` to update local copy.
2. Re-installed `ebi-ait/ingest-graph-validator` in a new virtual environment from github:

[code]

[2020-12-23 08:39] mshadbolt commented on #164
I am reviewing what is currently in ingest and this project has two 'exported' projects and I am not sure which should be kept and which should be deleted:
https://contribute.data.humancellatlas.org/projects/detail?uuid=2086eb05-10b9-432b-b7f0-169ccc49d270
https://contribute.data.humancellatlas.org/projects/detail?uuid=e07897dc-c25e-453d-b04c-27ca33adb630

[2020-12-23 08:54] mshadbolt opened #216 "figure out why two pancreas projects in ingest"
**Description of the task:**

This DCP1 project has two project entries in ingest:
https://contribute.data.humancellatlas.org/projects/detail?uuid=592a97ab-d575-4e91-b68e-547d1d66d087
This one is in 'draft' status

https://contribute.data.humancellatlas.org/projects/detail?uuid=cddab57b-6868-4be4-806f-395ed9dd635a
this is the one that is exported to the DCP

**Acceptance criteria for the task:**

[2020-12-23 15:02] Wkt8 opened #217 "Write skeleton of testing SOP"
Following a conversation with @mshadbolt @Wkt8 and @clairerye it would be useful to have a general SOP for testing changes to the system.

The general SOP for testing will be general and able to be built on, taking in input from different sources.

Link to the doc: https://docs.google.com/document/d/1JCM73n_hC3jA6I2dfp_xB7QATGHwYs42IQdXdyI76uU/edit?usp=sharing

[2020-12-23 17:04] mshadbolt commented on #210
I have made a start on this section here: https://ebi-ait.github.io/hca-ebi-wrangler-central/SOPs/hca_to_scea_tools_SOP.html#cell-type-annotations

I have linked to relevant scea documentation but would like to get a review from Anja in the new year

[2020-12-23 17:44] rays22 commented on #139
Thanks @mshadbolt . Good catch.
I did some investigation. I have found that the missing cell suspensions all came from a donation at menstrual cycle 7. This narrows down the potential donors to `D04` and `D05`.

* The "day" field in supplementary table `GSE111976_summary_C1_day_donor_ctype.csv.gz` can be matched with the "!Sample_characteristics_ch1 time in menstrual cycle: day" field in `GSE11197

[2020-12-23 17:46] mshadbolt commented on #207
I have started editing the SOP and completely changed the name: https://ebi-ait.github.io/hca-ebi-wrangler-central/SOPs/update_a_project_SOP.html

Still needs some filling out and need to come to agreement with wranglers on the right process as well as getting a better understanding of what is actually possible to do at the moment.

[2020-12-23 17:54] rays22 commented on #189
I am sorry, but I have not been able to complete the secondary review yet, because I am having [issues with the ingest-graph-validator.](https://github.com/ebi-ait/hca-ebi-wrangler-central/issues/215)

[2021-01-04 10:22] ami-day commented on #30
@rays22 @lauraclarke I just noticed this ticket is still open, but I think Ray resolved this by adding DCP specific identifiers to the tracker?

[2021-01-04 10:24] ami-day commented on #98
@lauraclarke I think this ticket can be closed now?

[2021-01-04 10:27] ami-day commented on #186
Thank you @rays22 , I will make the relevant changes

[2021-01-04 10:34] ami-day commented on #193
Hi @ESapenaVentura,

- Yes I made changes in the original spreadsheet because they were very minor changes to resolve errors.

- About the addresses: I usually google search the university/institute names separately to find the addresses if they are not available. If you have done this and were still unable to find them in English, I think it's ok to keep the Chinese.

- The other additions you ma

[2021-01-04 10:34] lauraclarke commented on #98
If you identify tickets that you think can be closed, please feel free to close them. Everyone who was associated with that ticket should get an email about it so if they think it is still needed they can reopen it

[2021-01-04 10:40] mshadbolt commented on #104
I got a list of submission envelope IDs and am using this script to get all the relevant ontology mappings : https://github.com/HumanCellAtlas/hca-data-wrangling/blob/master/src/ontology_mappings_extractor.py

@rays22 are you aware of whether the csv that we provide should be non-duplicated, i.e. each match between a provided text field and an ontology occurs only once, or should appear as many ti

[2021-01-04 11:16] ami-day commented on #186
@rays22 I have finished making changes so will upload it to ingest prod. now.
I was also confused about the sample Kidney 4, because there is no donor 4 mentioned in the publication but the sample in SRA is labelled Kidney 4. I think you're right that 2 samples were taken from the same donor (Kidney donor 3).

[2021-01-04 11:22] #98 closed

[2021-01-04 11:22] #30 closed

[2021-01-04 11:24] ami-day commented on #186
Waiting for ingest prod. to become available again (there is an error when ingest tries to access the schema)

[2021-01-04 12:36] ami-day commented on #35
Preparing for SCEA with ID E-HCAD-20

[2021-01-04 12:37] ami-day commented on #74
Preparing for SCEA with ID E-HCAD-23

[2021-01-04 15:49] rays22 commented on #104
Thanks @mshadbolt .
I think the  `text label -- preferred ontology term` pairs should be unique in the csv.
As I understand it, a particular mapping will get more weight in zooma if it appears in multiple independent mappings, not when it appears in multiple times in one source.
I think we will be able to select the HCA-specific mappings, so those HCA-preferred mappings should appear as top hits.

[2021-01-04 17:03] ami-day commented on #174
Brokering to SCEA with ID: E-HCAD-25

[2021-01-04 17:12] ami-day commented on #186
Successfully uploaded to ingest prod. Now converting to SCEA format with ID: E-HCAD-26.

[2021-01-05 15:21] Wkt8 opened #218 "GSE96772 - Integrated Single-Cell Analysis Maps the Continuous Regulatory Landscape of Human Hematopoietic Differentiation"
**Primary Wrangler: Wei Kheng Teh**

**Secondary Wrangler: Marion Shadbolt**

**Associated files:**

Google Drive:
https://drive.google.com/drive/folders/151IIoW36T9i-19ncVXZF8dK5gMS4uRXb

**Published study links**

Paper: [Integrated Single-Cell Analysis Maps the Continuous Regulatory Landscape of Human Hematopoietic Differentiation](https://www.cell.com/cell/fulltext/S0092-8674(18)30446-X?_retur

[2021-01-05 15:53] rays22 commented on #215
If I export the current ingest api uri as an environmental variable
[code]

and try to `hydrate` a spreadsheet,
then I get this error:

ingest.importer.importer.SchemaRetrievalError: There was an error retrieving the schema information to process the spreadsheet. Was unable to read the property migrations file from URL https://schema.dev.data.humancellatlas.org/property_migrations

[2021-01-05 15:59] lauraclarke commented on #215
@rays22 you might have been caught out while @aaclan-ebi is making changes to different version of the schema server. I don't know where it gets that URL from but I think it now has to be https://schema.data.humancellatlas.org/property_migrations

[2021-01-05 16:13] ami-day opened #219 "GSE150132: TCellsNeuroinflammation"
**Wrangler responsible for this dataset/lab:**

Primary: Ami

Secondary: Ray

**Description of the task:**

GSE150132: TCellsNeuroinflammation

~~https://docs.google.com/spreadsheets/d/1vDUU36zcg5h3eUQMqO3GajI8VEKDvuZ0/edit#gid=851060064~~

https://drive.google.com/drive/folders/1uN_y_rAfOpuynQ1sdhP1XJd69zst_HqV

**Acceptance criteria for the task:**

- [x] convert metadata

- [x] add ontologies

[2021-01-05 16:14] ami-day opened #220 "GSE116222: EpithelialDiversityHealthInflammation"
**Wrangler responsible for this dataset/lab:**

Primary: Ami

Secondary: Enrique

**Description of the task:**

GSE116222: EpithelialDiversityHealthInflammation

https://docs.google.com/spreadsheets/d/1vDUU36zcg5h3eUQMqO3GajI8VEKDvuZ0/edit#gid=851060064

**Acceptance criteria for the task:**

- [x] convert metadata

- [x] add ontologies

- [x] get secondary review and make necessary changes

- [x]

[2021-01-05 16:16] rays22 commented on #187
### REAP-seq: RNA and protein expression assay that also uses DNA-barcoded antibodies together with high-throughput scRNA-seq

It is very similar to **CITE-seq**.
The main difference between CITE-seq and REAP-seq is how the DNA barcode is conjugated to the antibodies.

* three-part antibody conjugated oligonucleotide:
    1. 33-bp Nextera Read 1 sequence +
    2. a unique 8-bp antibody barcode +

[2021-01-05 16:16] ami-day opened #221 "GSE157277,SRP279608: TCellsHumanCentralNervousSystem"
**Wrangler responsible for this dataset/lab:**

Primary: Ami

Secondary: Wei

**Description of the task:**

GSE157277,SRP279608: TCellsHumanCentralNervousSystem

https://docs.google.com/spreadsheets/d/1mvrU3S-cPkwR0yQfpgOnpC32xVACe0ct/edit#gid=212382820

**Acceptance criteria for the task:**

- [x] convert metadata

- [x] add ontologies

- [x] get secondary review and make necessary changes

- [x]

[2021-01-05 17:06] rays22 commented on #215
Yes, I suspect that too. I have not found any hard coded reference to the schema url in the ingest-graph-validator code base and config file, but it is apparently a dependency somewhere.

[2021-01-06 10:02] mshadbolt commented on #211
hi @rays22 while reviewing ontology annotations for mappings I found that donor 313C is identified with history of asthma but is annotated as brain cancer in the spreadsheet so perhaps this can be updated when you make the other updates to this project.

[2021-01-06 11:45] mshadbolt commented on #214
I also noticed that the ontology annotation for disease `pleural effusion` is incorrectly `pericardial effusion` so this should also be updated

[2021-01-06 13:18] aaclan-ebi commented on #215
Yes, that is correct @rays22 . The issue is in the hca-ingest (or ingest-client) python module which is a dependency in ingest-graph-validator.  I've released a new version of hca-ingest yesterday. The schema url issue should be fixed in the latest version. I'll just upgrade the version in ingest-graph-validator and do some testing.

[2021-01-06 14:00] aaclan-ebi commented on #215
@rays22 i got a fix in this branch task/update-hca-ingest , could you try testing it by checking out this branch? should follow the same steps. But you should `git checkout  task/update-hca-ingest` before `pip install .` . Many thanks!

[2021-01-06 17:07] rays22 commented on #215
I did some tests, and the issue has been fixed in branch `task/update-hca-ingest`.
Thanks @aaclan-ebi !

[2021-01-06 17:54] ami-day commented on #187
Hi @rays22 and @mshadbolt,
Sorry, coming back to this, I thought we had reached a conclusion more than we had **:-/**
I think a combination of Ray's 2nd & 3rd model and Marion's other suggestions would be good.

- The list of possible library_preparation_protocol.protocol_core.protocol_id ontologies could get very extensive if we combine methods into single terms e.g. CITE-seq 10X v2'. Having 2 (o

[2021-01-06 18:06] rays22 commented on #187
Thanks @ami-day for your comments. They look very useful to me. Yes, we can have a discussion tomorrow or soon after that.

[2021-01-07 08:36] rays22 commented on #211
72 fastq.gz files were uploaded on 2021-01-04.
   Total Size: 94.8 GiB
I am going to query contributors about the metadata spreadsheet.

[2021-01-07 09:29] mshadbolt commented on #187
For @ami-day 's suggestion above, I don't understand how you would distinguish libraries that are gex vs hashtag oligos vs antibody. If all three library preparation methods say `cite-seq||10x v2`, or are you suggesting something like `cite-seq||gene expression||10X v2`, `cite-seq||hashtag oligos||10X v2` etc?

Having multiple ontologies associated with `library_preparation_protocol.method` will b

[2021-01-07 10:19] ami-day commented on #187
@Marion could we not use the sequence_file.file_core.content_description.text field to distinguish the files? maybe expand the ontology terms we can add here to be more specific to hashtag oligos and antibody?

I didn't suggest adding cite-seq in the library preparation method. I think it's important we have a broader term like oligo-tagged antibody protein assay since there are already pipelines

[2021-01-07 10:20] ami-day commented on #187
Let's discuss when @ESapenaVentura is back next week

[2021-01-07 14:40] ami-day commented on #197
Creating a new ticket for this in product development.

[2021-01-07 14:40] #197 closed

[2021-01-07 19:33] rays22 commented on #139
I have added the missing 67 cell suspensions (all from donor D05) based on information from author Wanxin Wang, and uploaded an [updated metadata spreadsheet to the gdrive.](https://drive.google.com/file/d/1WiI8_4RLOWJQ34IpAa1VfbAhkrh8Sh0e/view?usp=sharing)

[2021-01-08 10:00] rays22 commented on #139
@mshadbolt : I am afraid there are privacy policy issues that prevent the sharing of these individual donor characteristics.
One of the authors says in the response to my query:

[2021-01-08 10:03] lauraclarke commented on #139
@rays22 can you put in the age bin?

[2021-01-08 11:01] rays22 commented on #139
It is in the free text of `donor_organism.biomaterial_core.biomaterial_description`:

[2021-01-08 11:10] lauraclarke commented on #139
But I thought you could put binned ages in the age field, is there a reason not to add it there too, then it will be accessible to the browser

[2021-01-08 11:49] rays22 commented on #139
Oh, I see.
OK, I'll add the binned ages.

[2021-01-08 12:04] rays22 commented on #139
I have updated the [metadata spreadsheet](https://drive.google.com/file/d/1WiI8_4RLOWJQ34IpAa1VfbAhkrh8Sh0e/view?usp=sharing).

[2021-01-11 10:34] #185 closed

[2021-01-11 10:34] #195 closed

[2021-01-11 10:34] #168 closed

[2021-01-11 10:34] #147 closed

[2021-01-11 10:34] #184 closed

[2021-01-11 10:34] #182 closed

[2021-01-11 10:34] #142 closed

[2021-01-11 10:34] #200 closed

[2021-01-11 15:30] #205 closed

[2021-01-11 15:31] Wkt8 commented on #205
Most recent statistics can be found here: https://docs.google.com/spreadsheets/d/1iYJl0oSA6qSudAwgL78sZb44Nvui9ZCU/edit#gid=1987761408

[2021-01-12 15:53] lauraclarke commented on #166
Has this been exported @ami-day if it is entirely complete you should move to Done rather that closed as Zenhub doesn't give us good stats otherwise

[2021-01-12 17:53] rays22 commented on #189
1. I have run the current `ingest-graph-validator` test set on the current version of the metadata spreadsheet [HealthyAndDiabeticPancreas_GSE101207_ontologies.xlsx](https://drive.google.com/file/d/1CS2VPp_3PfGn_BKYufmDjlnzOR7FfrPi/view?usp=sharing).
There was one test that did not pass: [file_donthave_outward_links.adoc](https://github.com/ebi-ait/ingest-graph-validator/blob/master/graph_test_set

[2021-01-12 18:05] rays22 commented on #189
I have made a new bug report [#27](https://github.com/ebi-ait/ingest-graph-validator/issues/27) about the false error reported by [file_donthave_outward_links.adoc](https://github.com/ebi-ait/ingest-graph-validator/blob/master/graph_test_set/file_donthave_outward_links.adoc).

[2021-01-13 10:01] lauraclarke opened #223 "Assess HCA publication list, what can we wrangle now? why can't we wrangle the things we can't"
@Wkt8 did an excellent assessment of the HCA publication list which can be found here https://docs.google.com/spreadsheets/d/12IW-H_QAZ3n462iCxXND6TRO_8krMSfE1wDH9skcd9o/edit#gid=1720630627

There are about 12 publications that are unrestricted in terms of data release and don't contain data from living donors

For these we need either

1. start wrangling them to capture the raw data
2. Have a rea

[2021-01-13 11:08] #215 closed

[2021-01-13 11:17] ami-day commented on #189
Ok, thanks @rays22 . I will change the publication link and then upload it to ingest prod.

[2021-01-13 11:54] rays22 commented on #211
It is an update submission related to https://github.com/HumanCellAtlas/hca-data-wrangling/issues/394 .

[2021-01-13 11:58] rays22 commented on #211
There are 144 uploaded fastq files in the contributor upload area, but no HCA metadata spreadsheet yet.

[2021-01-13 12:17] ami-day commented on #47
Hugo has new donors and samples to add so this project is being updated. @aaclan-ebi is working on some ingest fixes and then will start working on archiving this.

[2021-01-13 14:07] mshadbolt commented on #84
This project is quite a large collaboration and includes data from another ENA submission -  ERP125305, as well as further CITE-SEQ data that is yet to be archived. I have updated the main body with the known accessions to date, the AE accessions are not yet public

[2021-01-13 14:55] ESapenaVentura opened #224 "What needs to be prepared to enable metadata updates?"
**Description of the task:**

As described in the [evolving the schema](https://docs.google.com/document/d/1Z4dJJrcgWRMRAdb4dXY9mTjU4EacUUmeH9PmS481rHY/edit?ts=5ffec395#) document, we are currently working on a method to enable to update the HCA metadata schema while causing minimal disruption.

In order to enable this, a list of preparation tasks should be mentioned in the ticket, with links to t

[2021-01-13 17:32] mshadbolt opened #225 "Create a 'published datasets wrangling' SOP"
We are missing an SOP on how to go about wrangling a published dataset.

I have created a stub here to be expanded upon:

https://github.com/ebi-ait/hca-ebi-wrangler-central/blob/master/docs/SOPs/published_datasets_SOP.md

once this is done we should delete https://github.com/ebi-ait/hca-ebi-wrangler-central/blob/master/docs/SOPs/Wrangling%20standards%20and%20guidelines.md as it is superseded by o

[2021-01-13 17:58] mshadbolt commented on #169
I made some critical updates, I think updates to other wrangling docs will be made as they come up. closing

[2021-01-13 19:38] rays22 commented on #219
@ami-day  : The `ingest-graph-validator` reported some errors when I checked the spreadsheet, but all of them looked like false errors.
The metadata spreadsheet looks all right overall, but I have some questions below.

1. `Cell suspension` tab:
You have used the same `process.process_core.process_id` for all the five cell suspensions. I think they should be five separate processes even though the

[2021-01-14 11:25] mshadbolt commented on #29
FYI there is now a project in prod ingest with only project information available here: https://contribute.data.humancellatlas.org/projects/detail?uuid=dbd836cf-bfc2-41f0-9834-41cc6c0b235a

[2021-01-14 14:52] ESapenaVentura commented on #128
As an AI from a conversation with @lauraclarke , I will use this ticket as a template to search for updates to the MRC awardees and seek out to them if necessary.

Moving it to "in progress"

[2021-01-15 09:13] ESapenaVentura commented on #220
I'll add myself as a secondary wrangler as this dataset is under the MRC grant!

[2021-01-15 09:18] ESapenaVentura commented on #128
Definition of human colonic mesenchymal origins and of mesenchymal epithelial cross-talk in health and disease: https://www.nature.com/articles/s41 I think this paper's data was partly funded by the MRC grant, at least according to this https://gtr.ukri.org/publication/overview?outcomeid=5c77be8f7d2266.86092922&projectref=MR/S036377/1

[2021-01-15 09:19] lauraclarke commented on #220
@ami-day you should make sure you charge all the time you spent wrangling this dataset to the MRC cost centre, if you don't have access to it (42687) please say and we can sort it

[2021-01-15 09:23] lauraclarke commented on #128
Is this the MRC Development Cell Atlas or another MRC award, the MRC does have multiple lines of funding and the acknowledgements don't mention it https://www.nature.com/articles/s41586-019-0992-y#Ack1

[2021-01-15 09:27] ESapenaVentura commented on #128
According to the GTR website, the grant associated to this paper is `MR/S036377/1`, which is, unless I'm wrong, the grant of the MRC Dev Cell Atlas.

I found it going here https://gtr.ukri.org/projects?ref=MR%2FS036377%2F1 and looking for publications (although there are many publications that do not relate specifically to single cell, so I don't know what to think)

[2021-01-15 10:43] ESapenaVentura commented on #128
I have searched for the rest of the projects and didn't find anything that caught my attention (Found some mouse datasets, but no human sc datasets aside from the one we already have wrangled)

I will start the emails and attach them in a doc here

[2021-01-15 14:59] mshadbolt commented on #169
i closed this because it is too vague, I think it would be better to make specific tickets with details about which docs need updating and then assign them as needed

[2021-01-15 19:16] rays22 commented on #211
* There are 144 uploaded fastq files now.
* I have also received a draft metadata spreadsheet: [20210113_hca_spreadsheet_SSUBS4_additional_data.xlsx](https://drive.google.com/file/d/1zN06hk5UTZdDN9jpVRWMJ0ib56ssLuq3/view?usp=sharing)

[2021-01-18 11:40] mshadbolt commented on #131
these are all added to the tracker now

[2021-01-18 11:40] #131 closed

[2021-01-18 16:31] #176 closed

[2021-01-18 17:18] aaclan-ebi commented on #47
Thanks @ami-day for providing me the spreadsheet.

I used the spreadsheet here: https://docs.google.com/spreadsheets/d/1HMfdXl2LSYDDb4Etjgg1jJZpMe3oYFYG/edit#gid=668357357 (i renamed it to 2020118_SUBS10_PB_extra_donors_hca_spreadsheet_edit.xlsx)

Here's the new submission in prod https://contribute.data.humancellatlas.org/submissions/detail?id=6005bd74c9762f5f0de9f6c9&project=fc55bd4a-8694-4a28-9

[2021-01-19 10:36] Wkt8 opened #227 "GSE130708: High throughput, error corrected Nanopore single cell transcriptome sequencing (HCA Publication)"
This is a HCA Publication which may require metadata schema evolution for capturing Nanopore metadata.

**Primary Wrangler:**
Marion

**Secondary Wrangler:**
Ray

**Associated files:**

Google Drive:
https://drive.google.com/open?id=1uAeGdrbvx644b9QCyBcickw_8h8WKifT&authuser=mshadbolt%40ebi.ac.uk&usp=drive_fs

Project already in ingest here: https://contribute.data.humancellatlas.org/projects/deta

[2021-01-19 10:41] Wkt8 opened #228 "SRR8703773, syn22213200: Nuclei multiplexing with barcoded antibodies for single-nucleus genomics"
This is a HCA publication which seems to be a proof-of-new-technique type of paper. May require metadata schema evolution for capturing nucleus hashing data.

**Primary Wrangler:**
Wei

**Secondary Wrangler:**
Ami

In ingest here: https://contribute.data.humancellatlas.org/submissions/detail?id=60d09d61e259f0766126379c&project=dc1a41f6-9e09-42a6-959e-3be23db6da56

**Associated files:**

Google Dri

[2021-01-19 10:52] Wkt8 opened #229 "SCP846: Myocyte Specific Upregulation of ACE2 in Cardiovascular Disease: Implications for SARS-CoV-2 mediated myocarditis"
Email was previously sent out as in (https://github.com/ebi-ait/hca-ebi-wrangler-central/issues/54) but received no reply. Should try and get in touch with the corresponding author about location and consent of raw data, as raw data is not in the paper.

**Primary Wrangler:**

**Secondary Wrangler:**

**Associated files:**

Google Drive:

**Published study links**

Paper: https://www.medrxiv.org/c

[2021-01-19 10:54] Wkt8 opened #230 "CNP0000325, GSE134355: Construction of a human cell landscape at single-cell level (HCA Publication)"
**Primary Wrangler:**
Ami

**Secondary Wrangler:**

**Associated files:**

Google Drive: https://docs.google.com/spreadsheets/d/1PEpUcm0C8xWTKv_DIrXhwPluuxC6KjuW/edit#gid=37156403

**Published study links**

Paper: https://www.nature.com/articles/s41586-020-2157-4#data-availability

Accessioned data:  https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE134355
https://db.cngb.org/search/project/C

[2021-01-19 10:56] Wkt8 opened #231 "E-MTAB-8498: Re-evaluation of human BDCA-2+ DC during acute sterile skin inflammation (HCA Publication)"
**Primary Wrangler:**
Ami

**Secondary Wrangler:**
Wei

**Associated files:**

Google Drive: https://docs.google.com/spreadsheets/d/1ko6Ia2L3pFSRZs6149JgPCSzWOKVDBsB/edit#gid=1476656329

**Published study links**

Paper: https://rupress.org/jem/article/217/3/e20190811/132796/Re-evaluation-of-human-BDCA-2-DC-during-acute

Accessioned data: https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE13995

[2021-01-19 11:07] ami-day commented on #219
Thanks @rays22! I'll make the above first 2 changes and upload to ingest. Regarding the 3rd point, I agree it's a little ambiguous but I prefer to leave this blank when blood samples are concerned, because it is not solid tissue and so is not dissociated.

[2021-01-19 11:10] ami-day commented on #219
@rays22 I just realised the same process id in the cell suspension tab was intended, as they all underwent the same process. I'll message you on slack about this.

[2021-01-19 12:26] ami-day commented on #47
We also need to update the project description to include the new cell and sample count. But we need to wait for other changes/fixes first.

[2021-01-19 12:27] ami-day commented on #47
Have uploaded the data files to the submission.

[2021-01-19 17:48] aaclan-ebi commented on #47
We've fixed some linking issues in the dataset.
New spreadsheet: https://docs.google.com/spreadsheets/d/1-O9tnP_AdO7RejP33Yy9iKUe-Z27AI9a/edit#gid=1768425982
New submission: https://contribute.data.humancellatlas.org/submissions/detail?id=600715e4c9762f5f0de9fa67&project=fc55bd4a-8694-4a28-9a35-59a685bda323
Awaiting file upload @ami-day . Thanks!

[2021-01-20 09:44] Wkt8 commented on #221
**Secondary Review**
Hi @ami-day - had some questions / discrepancies I noticed from looking through at the spreadsheet that I hoped you could answer!

- In the Project - Contributors tab, you've added email addresses to the Phone number column

- In the Specimen from Organism tab: I was looking for the information for Post-Mortem Interval (43200) but couldn't find it attached to the paper anywher

[2021-01-20 11:08] ami-day commented on #221
Have had a chat with @Wkt8 and will make the necessary changes, then upload to ingest.

[2021-01-20 11:14] clairerye opened #233 "Email contributors DCP links"
The aim is to email all the contributors/authors of the 16 datasets that have been released in the DCP to tell them their data is now available.

There is 2 versions of a standard email that can be used and tweaked/modified as deemed appropriate (there is one version for primary contributors and one for authors that we have curated the data from publication)
https://docs.google.com/document/d/1coB

[2021-01-20 11:50] ESapenaVentura commented on #187
@ESapenaVentura to set up a meeting to discuss about this

[2021-01-20 14:20] mshadbolt opened #234 "incorporate when to change statuses in tracker sheet into relevant wrangler docs"

[2021-01-20 17:35] aaclan-ebi commented on #47
Current DSP Submission: https://submission.ebi.ac.uk/api/submissions/74d16604-6a2c-497e-b1ca-1e552c30cfcf

Summary of entities to be archived:
6 samples (2 donors, 2 specimens, 2 cell suspensions)
2 sequencing experiments
16 sequencing runs

See details: https://api.ingest.archive.data.humancellatlas.org/archiveSubmissions/6008584cc9762f5f0de9ff3c/entities?size=24

The file archiver jobs are curre

[2021-01-21 08:15] mshadbolt commented on #233
I sent the three emails I assigned myself to

[2021-01-21 09:15] Wkt8 opened #235 "GSE118184: Comparative Analysis and Refinement of Human PSC-Derived Kidney Organoid Differentiation with Single-Cell Transcriptomics"
**Primary Wrangler: Wei Kheng Teh**

**Secondary Wrangler: ** Ami

**Associated files:**
Project Link: https://contribute.data.humancellatlas.org/projects/detail?uuid=16ed4ad8-7319-46b2-8859-6fe1c1d73a82
Google Drive: https://drive.google.com/drive/folders/1d78TfAkb5Ek2-pyITv6Qf8708f8IFONu?usp=sharing

**Published study links**

Paper: https://pubmed.ncbi.nlm.nih.gov/30449713/

Accessioned data: h

[2021-01-21 09:28] #130 closed

[2021-01-21 13:25] rays22 commented on #211
I have uploaded the spreadsheet [S-SUBS4_update-2021-01-21.xlsx](https://drive.google.com/file/d/1nKuFvZ9ncyL7eR9ObxJQj-Tx2FNUcXUy/) to the gdrive with the update. I have added `collection_protocol.uuid` and `dissociation_protocol.uuid` values for the existing protocols that need to be linked to processes.

[2021-01-21 17:02] rays22 commented on #211
1. I have uploaded the metadata spreadsheet to Ingest Production.
* I did not choose the `Update submission` option, because that option would not add the new entities and it would generate missing entity UUID errors.
*  Metadata validation by Ingest: **no** metadata validation errors (other than missing data files).
2. I have uploaded the new fastq data files to the appropriate Ingest upload area

[2021-01-21 17:08] aaclan-ebi commented on #47
We've completed the DSP submission and here are the accessions :

[code]

Could see more details on the entities here: https://api.ingest.archive.data.humancellatlas.org/archiveSubmissions/6008584cc9762f5f0de9ff3c/entities?size=24

[2021-01-21 17:09] aaclan-ebi commented on #211
Great news! Thanks @rays22 ! I'll start the archiving by eod.

Many thanks!

[2021-01-21 17:15] aaclan-ebi commented on #211
Sorry, i will hold off and do it tomorrow. @rays22  said this is awaiting review from secondary wrangler.

[2021-01-21 18:46] ami-day commented on #47
This is great @aaclan-ebi :) Can we edit the project description still to reflect the additional cells & samples since the 1st submission was submitted?

[2021-01-22 09:57] aaclan-ebi commented on #47
Yup, i'll look into that today.

[2021-01-22 10:48] mshadbolt commented on #211
@rays22 here are my comments from the review:

I wouldn't put a cell type as a an organ_part, here we are looking for a part of an organ such as ventricle for heart, etc, I don't think it makes sense to have a cell as an anatomical part of an organ. I think it is fine to leave the organ part out in these cases

The plate labels shouldn't be there because it isn't plate based sequencing

This seems

[2021-01-22 12:09] aaclan-ebi commented on #211
Good catch @mshadbolt, it'll raise an error in the archiver.

[2021-01-22 12:15] aaclan-ebi commented on #211
Do we need to support that scenario?

If we allow 2 lib prep protocols, How would the current mapping for library preparation protocol fields change?

Example field mapping for sequencing experiment:
[code]
https://docs.google.com/document/d/1DvF0S9rL0IxnMdsi9P3qUVRt-IOT25KWqjwwIU7C9_s/edit#heading=h.mjzc4vaccum

[2021-01-22 13:27] rays22 commented on #211
Thanks @mshadbolt .

1. cell type as organ part
    - [x] That was added by the contributor. I have deleted them.

2. plate labels
    - [x] I have deleted them.

3. correct label for OBI:0000415
    - [x] Good catch. I have correct it to PCR which is the correct label for OBI:0000415.

4. gex/hashing/antibody libraries
    - [ ] I will come back to this issue and fix it after we have come up with

[2021-01-22 15:27] aaclan-ebi commented on #211
@rays22 i'm afraid you'd have to redo the spreadsheet upload and sync the files again in a new submission :(

[2021-01-22 15:46] ESapenaVentura commented on #233
I sent the emails I assigned myself to

[2021-01-22 16:59] rays22 commented on #211
That is not a problem. Done. :)
No validation errors.
@aaclan-ebi : the submission is ready to be archived.

[2021-01-25 10:30] Wkt8 commented on #225
After a brief chat with Ami, Enrique, Marion, Ray, we decided it might be better to include the 'published datasets wrangling' SOP together with the existing 'Contributor Dataset SOP', as there is a large amount of overlap between the two SOPs, and this would allow for easier updating. (If the process changes then it is not required to change both SOPs).

I have added and updated the contributor D

[2021-01-25 10:43] Wkt8 commented on #225
I want to check with another wrangler whether we still do this (from the Wrangling_Standards_Guidelines) at the end of a project. The repo was last added to 2 years ago.

Move all the corresponding documents to the finished_projects in hca-wrangling repo and to Google Drive/Brokering/PROJECTS-FINISHED

Still to complete:

- [ ]  Delete the Wrangling standards guidelines
- [ ]  Final edits to contr

[2021-01-25 10:58] Wkt8 commented on #223
I have added 5 publications not in the DCP, with unrestricted raw data that isn't from living European donors to the wrangling queue. They are now in the 'New Issues' column of the Dataset Wrangling Board.

There are a remaining 7 datasets which we cannot wrangle due to managed access, mixed species, or specific issues with the dataset.

For all publications with primary data that isn't already in

[2021-01-25 12:23] Wkt8 commented on #225
Checked with @mshadbolt that we should add the 'Move all the corresponding documents to the finished_projects in hca-wrangling repo and to Google Drive/Brokering/PROJECTS-FINISHED' to the Wrangling Datasets SOP. I have added it and deleted the wrangling standards guidelines.

Finished the actions from this task.

[2021-01-25 14:42] ESapenaVentura commented on #128
Also the new batch of data from valentine's spreadsheet has brought a new dataset into attention: for the project `Definition of human colonic mesenchymal origins and of mesenchymal epithelial cross-talk in health and disease`, there is a paper https://doi.org/10.1016/j.cell.2020.12.016

I have added myself as primary wrangler and will create a ticket soon

[2021-01-25 14:50] ESapenaVentura commented on #162
Need to update so that there is the link to this portal shown
https://cells.ucsc.edu/?ds=oligodendrocyte-ms

[2021-01-26 09:22] aaclan-ebi commented on #211
I started the archiving last friday however I found out that this dataset is not archived using ingest archiver because the existing study and project are using different aliases. Because of this mismatch, the ingest archiver is trying to create:

1 project, 1 study , 8 samples, 6 sequencing experiment and 6 sequencing runs

new dsp submission: https://submission.ebi.ac.uk/api/submissions/84ac0b87

[2021-01-26 09:26] rays22 commented on #211
Yes, we need to do that. I think the spreadsheet that I uploaded has had the lane indices.

[2021-01-26 09:54] lauraclarke commented on #211
@rays22 just a quick check from a experimental design perspective, has this happened because one library was run on multiple machines? Why are there so many fastq files for each library?

[2021-01-26 09:58] rays22 commented on #211
@alegria: I have uploaded the spreadsheet `S-SUBS4_update-2021-01-26.xlsx` to the gdrive with the lane indices.

[2021-01-26 09:58] mshadbolt commented on #211
@rays22 you can't have more than one sequence file with the same read_index on the same lane in the same process id, i think there are some mistakes here.

We see this a lot with 10x because there are 4 sample indices per actual library, and these were sequenced across two lanes

[2021-01-26 11:48] aaclan-ebi commented on #47
@ami-day could you paste here the exact update to the project description here:

current value:
[code]

After a call with Karoly (DSP), we decided to do it manually via BioStudies and ENA UI (pending approval from Melanie) to avoid any issues in updating via DSP. It's just 2 simple updates to project & study so it's not painful to do it manually via BioStudies & ENA UI. DSP is going to be deprecat

[2021-01-26 14:58] rays22 commented on #211
I think I have misunderstood Marion's secondary review regarding lane indices that should have values 1-4.
I have reverted it to the pre-secondary review version where lane 1 == L001 and lane 2 == L002.
I have checked the Illumina documentation for their fastq file naming convention and my interpretation of only two lane indices is in agreement with the Illumina documentation.
I have also reverted

[2021-01-26 15:05] mshadbolt commented on #211
hi @rays22 , we use the lane index in a slightly wrong way for 10x, because of the constraint I specified above.

there can't be more than one sequence_file with the same read_index on the same lane, so you will need to artificially add more lanes to account for that, if there 2 lanes with 4 sets of r1, r2, I1, you actually need 8 lanes

[2021-01-26 15:14] ami-day commented on #47
**New value:**
[code]
Thanks @aaclan-ebi !

[2021-01-26 15:30] rays22 commented on #211
In the current version of the spreadsheet there are no more than one sequence file with the same read index in the same process id on the same lane, because I used 4 different process IDs and there are 2 lanes (that is 3 files in a lane).
I will try to add the artificial lane numbers as I understand your suggestion with one process ID per library. Could you kindly check that version?

[2021-01-26 15:49] rays22 commented on #211
@mshadbolt : Could you kindly check if the latest [spreadsheet](https://drive.google.com/file/d/1eIlIQjEZfSzo1B5JOhvd34-L_Gs6kT4S/) looks correct and agrees to what you are suggesting for lane indices and process IDs?

[2021-01-26 15:57] aaclan-ebi commented on #47
Thanks @ami-day

Karoly(DSP) and I couldn’t use the DSP username+password for the BioStudies UI. It seems like it uses a different email and password. I emailed them to request for the update: biostudies #475915 ( cc'ed you) Let's just keep an eye on it.

[2021-01-26 15:58] aaclan-ebi commented on #47
Karoly is also looking into updating it in ENA Web in portal but their UI is very slow and he couldn't proceed. He's checking with some ENA folks for help.

[2021-01-26 16:11] mshadbolt commented on #211
I think I am quite confused by the structure of the experiment, can we have a call about this tomorrow?

[2021-01-26 17:59] aaclan-ebi commented on #47
Filed an issue to ENA regarding the issue on their webin UI.
![Screenshot 2021-01-26 at 17 56 44](https://user-images.githubusercontent.com/31281398/105884777-39bebc80-6000-11eb-9873-4c6a0dfeeb59.png)

[2021-01-26 19:07] rays22 commented on #211
Yes.

[2021-01-27 10:38] #166 closed

[2021-01-27 10:38] #164 closed

[2021-01-27 10:38] #116 closed

[2021-01-27 11:36] rays22 commented on #139
- [ ] Upload dataset to Ingest UI
- [ ] Convert into SCEA format
- [ ] Export for SCEA

[2021-01-27 12:39] mshadbolt commented on #211
Hi, I have reviewed the spreadsheet again as well as getting an understanding of the TotalSeq protocol and I think the current spreadsheet is ok.

[2021-01-27 13:58] rays22 commented on #211
Thanks @mshadbolt .
@aaclan-ebi : the latest submission (Jan 26, 2021, 3:51:29 PM) is ready to be archived.

[2021-01-27 15:05] ESapenaVentura commented on #187
Key points of the discussion:

- We have agreed to still use 10x/whatever library prep method ontology is used alongside another ontology term to indicate protein surface assay
   - In order to do so, there will be a metadata schema change needed. @ESapenaVentura will write the ticket
   - @ESapenaVentura will also create a ticket for further discussion about the ontology term
- In order to know w

[2021-01-27 15:16] Wkt8 opened #236 "AdultLungElo - A spatial multi-omics atlas of the human lung reveals a novel immune cell survival niche"
**Primary Wrangler:**
Wei Kheng Teh

**Secondary Wrangler:**

**Associated files:**

Paper: https://www.biorxiv.org/content/10.1101/2021.11.26.470108v1

Ingest: https://contribute.data.humancellatlas.org/projects/detail?uuid=957261f7-2bd6-4358-a6ed-24ee080d5cfc

Google Drive: https://drive.google.com/drive/folders/1Ty3xrV-MEcjCDklpUHSC1Yna7pcvv699
Google Sheet: https://docs.google.com/spreadsheets

[2021-01-27 15:17] Wkt8 commented on #235
Currently blocked by ingest-graph-validator issues, see [here](https://github.com/ebi-ait/hca-ebi-dev-team/issues/375 )

[2021-01-27 15:31] ESapenaVentura opened #237 "What changes do we need to define distinct library preparations?"
Related to #187

Based on the discussion [here](https://docs.google.com/document/d/1TMQFXnGThhnpBRMdHHgY0UZ7Dx1oxQ1PuFmrZAW01Mg/edit#), one of the key points was that we need to distinguish between the purpose of different library preparations.

Putting as an example CITE-SEQ, library preparations can contain information for different things: Gene expression, Antibody-derived Tags (ADT) and HTO (H

[2021-01-27 15:38] Wkt8 commented on #223
The HCA publications that need following-up to find the expression matrices as they have not yet been published are as follows.

Sampling artifacts in single-cell genomics cohort studies
Single-cell atlas of a non-human primate reveals new pathogenic mechanisms of COVID-19
Single cell transcriptome atlas of immune cells in human small intestine and in celiac disease

Spreadsheet of analysis found

[2021-01-27 15:50] ESapenaVentura commented on #187
https://github.com/HumanCellAtlas/metadata-schema/issues/1338 Metadata schema ticket for the changes needed for method.

[2021-01-27 16:01] ESapenaVentura opened #238 "Discuss ontology term used for CITE-SEQ data"
**Description of the task:**
Related to #187 and the conclusions of a discussion meeting (Notes [here](https://docs.google.com/document/d/1TMQFXnGThhnpBRMdHHgY0UZ7Dx1oxQ1PuFmrZAW01Mg/edit#)

We need to discuss what ontology would we use for CITE-SEQ data. In the meeting, 2 options arose:
1. Use the CITE-SEQ ontology term in the method.
2. Use a more general term (e.g. Surface protein assay) and ad

[2021-01-28 09:42] aaclan-ebi commented on #211
Thanks @rays22 and @mshadbolt ! Yup, @yusra-haider and I are on it today.

[2021-01-28 11:41] ESapenaVentura opened #239 "GSE158702 - Spatiotemporal Analysis of Human Intestinal Development at Single Cell Resolution"
**Primary Wrangler:**
Irene
**Secondary Wrangler:**
TBD

**Associated files:**

Google Drive: https://drive.google.com/drive/folders/1bO1XfeFXYQJ7Hk0p364-O9DDsqS-upaB

**Published study links**

Paper: https://www.sciencedirect.com/science/article/pii/S009286742031686X#sec3

Accessioned data: [GSE158702](https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE158702)

Ingest: https://contribute.data

[2021-01-28 17:02] ami-day commented on #230
This is a UCSC dataset so I am closing this ticket.

[2021-01-28 17:03] ami-day commented on #231
Contacted the authors as there is no information about sample donors.

[2021-01-28 17:12] lauraclarke commented on #230
@ami-day It would be good to know more about why UCSC decided to leave it, what were the issues they found? We should record this reason in the data tracker so we can report if required

[2021-01-28 17:25] ami-day commented on #233
Same, we're all done now so moving this ticket to done.

[2021-01-28 17:27] ami-day commented on #233
I can't find this ticket in the Zenhub board so I am closing it here.

[2021-01-28 17:39] ami-day commented on #230
Hi @lauraclarke I'm not sure that they did decide to leave it? It looks like a pretty good dataset. There were no issues found. Microwell technology was used which cannot be processed by pipelines but we can still curate the metadata.

[2021-01-29 11:08] ami-day opened #240 "GSE134809: CrohnsTherapyResistance dataset"
**Dataset/group this task is for:**

GSE134809: CrohnsTherapyResistance
Google sheet: https://docs.google.com/spreadsheets/d/1_ahGFfIBDAQOhyJToR4SnUObNeCOYM-Q/edit#gid=1764134611
https://contribute.data.humancellatlas.org/projects/detail?uuid=992aad5e-7fab-46d9-a47d-df715e8cfd24

**Wrangler responsible for this dataset/lab:**

Ami

**Acceptance criteria for the task:**

- [x] fill metadata

- [x]

[2021-01-29 11:10] ami-day opened #241 "GSE138266_SingleCellsMultipleSclerosis dataset"
**Dataset/group this task is for:**

GSE138266_SingleCellsMultipleSclerosis
https://docs.google.com/spreadsheets/d/1AnlN069mq8UK6arLQW-pqtmW17fNckTD/edit#gid=1504906292

**Wrangler responsible for this dataset/lab:**

Ami

**Acceptance criteria for the task:**

- [x] fill metadata

- [x] add ontologies

- [x] validate with graph validator

- [x] validate in ingest staging

- [x] secondary review

[2021-01-29 11:12] ami-day opened #242 "GSE146639_SingleCellsAlzheimers"
**Dataset/group this task is for:**

GSE146639_SingleCellsAlzheimers

Google sheet: https://docs.google.com/spreadsheets/d/1RCyALU0J38R8efXGV5mzVlIATNjZNx0M/edit#gid=2106444307
Ingest: https://contribute.data.humancellatlas.org/submissions/detail?id=6050dc8f91708e06ec075501

**Wrangler responsible for this dataset/lab:**

Ami

**Acceptance criteria for the task:**

- [x] fill metadata

- [x] add o

[2021-01-29 13:37] ESapenaVentura commented on #220
I have reviewed the dataset, overall looks great! Just a couple of things I've changed and bit I would like to discuss:

### Changes
**Project**
- Added their GH source code as a supplementary link
- Added link to PRIDE for their proteomics data in supplementary link

**Enrichment protocol**
- Changed text of method to `cell size selection method` (just for consistency)

### Discuss

**Specimen**

[2021-01-29 13:40] lauraclarke commented on #220
@ami-day would it be possible for you to charge your work on this dataset to the MRC award in your timesheets?

[2021-01-29 14:00] ESapenaVentura commented on #193
I added the consent in the collection protocol and revised the changes.

Ready to go!

[2021-01-29 15:29] yusra-haider commented on #211
@rays22 @aaclan-ebi

here's the list of accessions for the dataset (also attached as a file)[https://app.zenhub.com/files/261790554/5546f75d-e099-4aa2-bd11-f23b2167c0e8/download](https://app.zenhub.com/files/261790554/5546f75d-e099-4aa2-bd11-f23b2167c0e8/download):

`[{"type": "sample", "accession": "SAMEA8112913"}, {"type": "sample", "accession": "SAMEA8112912"}, {"type": "sample", "accession": "

[2021-01-29 16:33] rays22 commented on #211
Thank you @yusra-haider and @aaclan-ebi .
I have sent an email with the new archive accessions to Hugo (contributor).

[2021-02-01 13:09] ami-day commented on #241
This is stalled while I wait for a new collection method ontology term to be added.
Request is here: https://github.com/HumanCellAtlas/ontology/issues/75

[2021-02-01 13:13] lauraclarke commented on #241
Given updates are about to be possible, is this something which needs to wait? how long before the next ontology release?

[2021-02-01 15:57] ami-day commented on #241
@lauraclarke I'm not sure when the next ontology release is, I'll ask Paula

[2021-02-01 16:00] ami-day opened #243 "MultipleSclerosisLineageDiversity"
**Dataset/group this task is for:**

MultipleSclerosisLineageDiversity
https://docs.google.com/spreadsheets/d/1cjAbPo_5Ie_yT9a7wfmDFGA9G13xUyLY/edit#gid=1330482754
https://contribute.data.humancellatlas.org/submissions/detail?uuid=a91a7a21-4443-481d-8466-9282a401c5cf

**Wrangler responsible for this dataset/lab:**

Ami

**Acceptance criteria for the task:**

- [x] fill metadata
- [x]  add ontologi

[2021-02-01 16:02] ami-day opened #244 "AneurysmalHumanAorticTissue"
**Dataset/group this task is for:**

AneurysmalHumanAorticTissue
https://docs.google.com/spreadsheets/d/1EI5edBlJcZbDUAmtU4XbKLOARTpoJVQY/edit#gid=57639059

**Wrangler responsible for this dataset/lab:**
Ami

**Acceptance criteria for the task:**

- [x]  fill metadata
- [x]  add ontologies
- [x]  validate with graph validator
- [x]  validate in ingest staging
- [x]  secondary review
- [x]  upload

[2021-02-01 16:03] ami-day opened #245 "ImmuneCellExhaustianHIV"
**Dataset/group this task is for:**

ImmuneCellExhaustianHIV
https://docs.google.com/spreadsheets/d/1hM8lEwC8yhJ6auiHV0ixFdXrJms2PeaX/edit#gid=541030374
https://contribute.data.humancellatlas.org/submissions/detail?id=601985b3ac1792031eee0bdf

**Wrangler responsible for this dataset/lab:**
Ami
** Secondary wrangler **
Ray

**Acceptance criteria for the task:**

- [x]  fill metadata
- [x]  add onto

[2021-02-01 16:05] ami-day commented on #220
Thanks @ESapenaVentura for this review, I'll have a look at this tomorrow and get back to you

[2021-02-01 16:06] lauraclarke commented on #241
Great, because if it is more than a month away, it might be worth considering if moving forward without the ontology term is the right thing to do

[2021-02-01 16:06] ami-day commented on #240
Added ontologies but need to enter new fastq file names.

[2021-02-01 16:07] ami-day commented on #242
Need to discuss with other wranglers before filling ontologies.

[2021-02-01 17:48] aaclan-ebi commented on #47
@ami-day ENA study is already updated https://www.ebi.ac.uk/ena/browser/view/PRJEB38994

![Screenshot 2021-02-01 at 17.47.39.png](https://images.zenhubusercontent.com/5b042c754b5806bc2bd426e2/e4e27837-f030-475f-8f16-3d1aac6fb75a)

[2021-02-01 20:55] lauraclarke commented on #241
If it is more than a couple of weeks, it would be good to consider releasing while we wait

[2021-02-02 09:49] ami-day commented on #241
Paola got back and said the next release date will be 18th Feb. She also said they will now be updating HCAO around the 18th-22nd of every month, since EFO is updated monthly. I think it makes sense to wait until then?

[2021-02-02 10:17] ami-day commented on #242
This dataset is stalled. I have messaged the dcp2 team about it. A modified version of smart-seq2 was used where there is a 3' end bias and custom primers. This means it is unsuitable for processing by the standard smart-seq2 pipelines. I want to hear back from them about how to indicate a dataset has been curated but the data should not be processed.

[2021-02-02 10:24] ami-day commented on #244
Emailed the authors to ask about the 10X technology version. Waiting to hear back.

[2021-02-02 14:40] rays22 commented on #139
I am blocked here:
I have transferred 4347 data files using `hca-util sync` from the wrangler/contributor upload area to the Ingest production s3 bucket.
I have checked and confirmed that all the files have been transferred and they are all in the destination Ingest upload area.
However, Ingest UI reports that `Data files: 1867 files missing`.
I have tried re-uploading the files using `hca-util` a

[2021-02-02 15:45] ESapenaVentura commented on #193
New submission: https://contribute.data.humancellatlas.org/submissions/detail?id=601970b2ac1792031eee0b88&project=6c040a93-8cf8-4fd5-98de-2297eb07e9f6

Files are validating but I think there is some trouble with validation

[2021-02-02 16:41] Wkt8 commented on #243
Adding myself as secondary reviewer.

[2021-02-03 09:43] Wkt8 commented on #217
I have written a framework for this SOP, and @aaclan-ebi has helpfully filled in some of the gaps.

[2021-02-03 13:57] mshadbolt commented on #91
note that matrix files can be downloaded from zenodo: https://zenodo.org/record/3711134#.YBqmyWT7Rqs
happy to do the transfer once we figure out the process for contrib matrix files

[2021-02-03 14:10] rays22 commented on #139
This issue may be related: <https://github.com/ebi-ait/dcp-ingest-central/issues/159> .

[2021-02-03 15:13] ESapenaVentura opened #246 "Write down tickets for all datasets ready for export"
**Description of the issue**

In advance for the next data release, we need to prepare a list of the datasets that are ready to export and which wranglers will be responsible to collect and upload the contributor-generated matrices as per this [SOP](https://ebi-ait.github.io/hca-ebi-wrangler-central/SOPs/contributor_matrix_addition_SOP.html)

**Tickets**

- [ ] [GSE119212 - Decoding the developmen

[2021-02-04 10:45] aaclan-ebi commented on #47
@ami-day BioStudies project is already updated https://www.ebi.ac.uk/biostudies/studies/S-SUBS10?query=S-SUBS10

![Screenshot 2021-02-04 at 10.41.47.png](https://images.zenhubusercontent.com/5b042c754b5806bc2bd426e2/38b3d455-72ce-46b4-a8e9-e1581ac36c45)

[2021-02-04 13:39] ESapenaVentura commented on #246
@ebi-ait/hca-wranglers please tick the dataset once you've got all the matrices uploaded!

[2021-02-05 15:06] Wkt8 commented on #243
Have finished with the secondary review: the entities in the different spreadsheets match up, and are linked. There are just two things:
- I did not manage to check whether the files in the s3 upload bucket match up to the files in the spreadsheet, but have spoken to @ami-day about this, we normally sync the files to the s3 upload bucket after finishing the secondary review to avoid having to resu

[2021-02-08 11:03] ami-day commented on #243
Hi @Wkt8, I usually don't fill in the read lengths or checksums. I'm going to upload the fastq files so it's ready for export. Thank you!

[2021-02-08 11:15] ami-day opened #247 "GSE152543_OleicAcidMultipleSclerosis"
**Dataset/group this task is for:**

GSE152543_OleicAcidMultipleSclerosis
https://docs.google.com/spreadsheets/d/1_nM-tL6JyLTzhUKY9IxKWVRhPSofuBjl/edit#gid=1600387747

**Wrangler responsible for this dataset/lab:**

Primary: Ami
Secondary: Wei

**Acceptance criteria for the task:**

- [x]  fill metadata
- [x]  add ontologies
- [x]  validate with graph validator
- [x]  validate in ingest staging
-

[2021-02-08 11:16] ami-day opened #248 "GSE153515_HumanCorneaStemCells"
**Dataset/group this task is for:**

GSE153515_HumanCorneaStemCells
https://docs.google.com/spreadsheets/d/17rsKT6gK7FJBgn3ERbGmqAC-EdaZ4El0/edit#gid=989729501
https://staging.contribute.data.humancellatlas.org/submissions/detail?id=6023d5a6f29f510eee560304

drive folder link: https://docs.google.com/spreadsheets/d/17rsKT6gK7FJBgn3ERbGmqAC-EdaZ4El0/edit#gid=989729501

geo link: https://www.ncbi.nl

[2021-02-08 11:17] ami-day opened #249 "GSE148963_ProximalEpididymisCFTR"
**Dataset/group this task is for:**

GSE148963_ProximalEpididymisCFTR
https://docs.google.com/spreadsheets/d/1c3lLM22-C4hOFvuLslJIhoZMH7zzaWp7/edit#gid=541177963
https://staging.contribute.data.humancellatlas.org/submissions/detail?id=6023d561f29f510eee5602dc

**Wrangler responsible for this dataset/lab:**

Primary: Ami
Secondary: Ray

**Acceptance criteria for the task:**

- [x]  fill metadata
-

[2021-02-08 16:43] Wkt8 commented on #235
No longer blocked by ingest-graph-validator! Have validated in the ingest-ui and in the ingest-graph-validator and is now ready for secondary review.

[2021-02-08 17:21] ami-day commented on #248
Emailed the authors asking about age/developmental stage of the donors.

[2021-02-09 12:43] Wkt8 commented on #217
The framework has been written and has generated some required actions so we can test the way we think is right.

- We want to get documentation of all ingest features, which will make it easy to assess if something is a bug, intended or not supported yet.
- Write an automated test plan / test plan for all features of Ingest (documentation will help)

I think I will split these off into separate t

[2021-02-09 13:43] lauraclarke commented on #230
@ami-day did you ever follow up on this?

[2021-02-09 17:21] mshadbolt commented on #91
exported from ingest

[2021-02-09 18:01] mshadbolt commented on #246
I uploaded JPs

[2021-02-10 09:29] Wkt8 opened #250 "Fix datasets with incorrect BAM files to have FASTQ files"
**Description of the task:**

Following on from a discussion about the BAM file header issue (see [here](https://docs.google.com/document/d/132yTXvDfL9Dzwt3eUrvTmrvpDhw5PSUKmqcTScpAxvE/edit?usp=sharing) we decided to go with option 3, which is uploading the raw r1, r2 and index fastq files to the ENA, once it can accept multiple fastq files, via us specifying a fastq file identity in the xml.

Wri

[2021-02-10 09:50] yusra-haider commented on #139
this issue is because of this issue: https://github.com/ebi-ait/hca-ebi-dev-team/issues/370#issuecomment-760179407

here's what I've tried so far:

- for some reason, the `sync` script for `hca-util` fails to assign the `ContentType` as `dcp-type=data` for some files in this dataset. the print statements show that the ContentType does get set to `dcp-type=data`  but it doesn't actually get reflect

[2021-02-10 10:26] #210 closed

[2021-02-10 10:26] #179 closed

[2021-02-10 10:26] #169 closed

[2021-02-10 10:26] #223 closed

[2021-02-10 10:26] #225 closed

[2021-02-10 10:26] #233 closed

[2021-02-10 10:27] lauraclarke commented on #224
@ESapenaVentura I am closing this ticket as I am assuming it has been superseded by product development tickets

[2021-02-10 10:27] #224 closed

[2021-02-10 11:27] lauraclarke commented on #207
@rays22 to update this based on he new process

[2021-02-10 11:27] mshadbolt commented on #91
@jacobwindsor the upload bucket for the files seems to be empty even though the project says it is valid, I will retrieve the files again and try again

[2021-02-10 11:45] lauraclarke commented on #230
Need to follow up on details with UCSC on this

[2021-02-10 11:51] jacobwindsor commented on #91
Thanks @mshadbolt. Let me know if it fails again and I'll look into it

[2021-02-10 11:57] ami-day commented on #247
Need to add bulk samples metadata.

[2021-02-11 15:58] mshadbolt commented on #35
I think this ticket should be in finished, it was exported as part of MVP and is in the browser here:
https://data.humancellatlas.org/explore/projects/42d4f8d4-5422-4b78-adae-e7c3c2ef511c?catalog=dcp2

[2021-02-12 09:27] Wkt8 commented on #236
Had a meeting with contributors Elo and Peng together with @ESapenaVentura - Notes and Email sent out to the contributors here in this google doc: https://docs.google.com/document/d/1wJIjR55kWyGbcZ3FOK8BMOMCKkSMD6oMfcgYLt68mtA/edit

[2021-02-12 13:12] lauraclarke commented on #37
I don't know if it will be easier or more difficult ot get the info from https://www.cambridgecellatlas.org/

[2021-02-13 11:20] rays22 commented on #139
1. I have downloaded the fastq data files from the `hca-util` s3 bucket.
2. I have created a new `hca-util` upload area.
3. I have tried to upload the files in bulk to the new `hca-util` upload area in bulk (using command: `hca-util upload .`), but the upload failed after uploading about ~100 files in 10 hours. I tried that again with the same result.
4. I have successfully uploaded the remaining

[2021-02-15 10:54] rays22 commented on #211
* On 2021-02-11 I tried to export the dataset to Terra.
    - The status of the submission seems to be stuck in `Archived`.
    - There are only 7 objects in the export area at the end of the day:
        - 6 objects in `/links/`
        - 1 object in `/prod/metadata/project/`
* On 2021-02-12, after @jacobwindsor  updated the Prod Ingest, the export appears to have progressed further (314 new obje

[2021-02-15 12:02] ami-day commented on #186
Closing because we have decided it is unsuitable. Both because the read lengths in the raw data were not correct initially, and then the raw data later seems to have been removed from NCBI/ENA. Also because the preprint was published in 2017, but a formal publication was never released.

[2021-02-15 14:01] ami-day commented on #247
Stalled as ingest can't currently accept spreadsheets with this many sequence file names.

[2021-02-16 12:14] ami-day opened #252 "Organoid pilot dataset: Oli stegle, Jeongbin, Anna"
We are using their brain and organoid projects as a pilot to address how we curate and obtain mixed open/managed access and more complex organoid project experimental designs. We have met with Oli, Jeongbin and Anna. I (Ami) am now exploring their data via the links and accessions they sent me.

**Acceptance criteria**

- [ ] Get all their metadata and raw data into HCA ingest and/or archives in c

[2021-02-16 12:56] lauraclarke commented on #252
@ami-day I am confused as to why this isn't a standard new project data ticket? is there something different about Anna's data that isn't suited to that?

[2021-02-16 15:42] amnonkhen opened #253 "AWS Resource Utilisation"
How much AWS resources we use?
Which resources we use?
Can we reduce our costs?
Are we ok in terms of security?

[2021-02-16 15:49] amnonkhen opened #254 "tag hca resources on aws"
Following a discussion with D.C.

Resources need 3 tags: Project, Service, Owner.

See more in the [guidelines doc](https://www.ebi.ac.uk/seqdb/confluence/display/TSI/AWS+Tagging+Resources)

Some do not have them. There is an [AWS console page](https://console.aws.amazon.com/config/home?awsc-custsat-override=promptUser&region=us-east-1#/rules/details?configRuleName=required-tags) showing resources

[2021-02-16 15:55] amnonkhen opened #255 "migrate HCA resources to AIT AWS account"
Following a discussion with C.D:

New account should be ready in March.
Migration should be done by end of Q2.

[2021-02-16 16:04] amnonkhen commented on #253
a dupe of an pic created by Justin.

[2021-02-16 16:04] #253 closed

[2021-02-16 16:13] amnonkhen opened #256 "reduce aws costs"
[] figure out goal for cost reduction (£ or %)
[] use cost explorer to find the budget eating culprits

[2021-02-17 11:02] ami-day commented on #252
I think because I wasn't sure exactly what this task would involve, whether it would involve more than our standard curation process. But I will move it to the data wrangling board.

[2021-02-17 11:03] #252 closed

[2021-02-17 14:45] rays22 commented on #211
- [ ] Uploaded the up-to-date matrix file `20210204_S_SUBS4_4x_annotated_donors_UMI_counts_HCA.h5ad` to the appropriate google bucket.
- [ ] Deleted the matrix file from the google bucket that had been uploaded before the project update: `455b46e6-d8ea-4611-861e-de720a562ada-AdultHemOrgans_455b46e6-d8ea-4611-861e-de720a562ada.20200821_SUBS4_PairedOrgans_expression_annotated.h5ad`

[2021-02-17 15:20] lauraclarke commented on #211
@rays22 I would flag to Daniel Soithos that these files have been changed rather than just added to so he also removed the old file from the browser. the dcp-ops channel is probably the best place for this announcement

[2021-02-17 16:02] rays22 commented on #211
I have sent a slack message about it to Daniel.

[2021-02-18 09:33] ESapenaVentura commented on #246
Received matrices for citeseqpbmc dataset - Uploaded now

[2021-02-18 09:34] ESapenaVentura commented on #246
No response for the other 2 public datasets

[2021-02-18 09:58] rays22 commented on #91
Project short name: `HumanThymicDevelopment`

[2021-02-18 16:26] rays22 commented on #74
This dataset has been exported to the Terra staging area.

[2021-02-18 16:26] rays22 commented on #211
This dataset has been exported to the Terra staging area.

[2021-02-18 16:27] rays22 commented on #219
This dataset has been exported to the Terra staging area.

[2021-02-18 16:27] rays22 commented on #91
This dataset has been exported to the Terra staging area.

[2021-02-18 16:28] rays22 commented on #174
This dataset has been exported to the Terra staging area.

[2021-02-18 16:29] rays22 commented on #220
This dataset has been exported to the Terra staging area.

[2021-02-18 16:29] rays22 commented on #193
This dataset has been exported to the Terra staging area.

[2021-02-19 06:41] rays22 commented on #83
This dataset has been exported to the Terra staging area.

[2021-02-19 06:41] rays22 commented on #221
This dataset has been exported to the Terra staging area.

[2021-02-19 06:42] rays22 commented on #189
This dataset has been exported to the Terra staging area.

[2021-02-19 06:42] rays22 commented on #172
This dataset has been exported to the Terra staging area.

[2021-02-19 09:29] lauraclarke commented on #83
Has this one already gone to SCEA or do they not accept CITE-seq

[2021-02-22 10:54] rays22 commented on #211
@aaclan-ebi : We need to update the Ingest status (`Archived`) in Ingest for the latest submission  (Jan 26, 2021, 3:51:29 PM). I think it should be `Exported` now.

[2021-02-22 11:03] aaclan-ebi commented on #211
This submission was successfully exported but the state tracker had issues so it wasn't able to set the status to Exported.

I've run the ff command to manually set its state to Exported to reflect the correct state.
[code]

[2021-02-22 11:35] aaclan-ebi commented on #107
Hi, just want to note that this submission was affected by the production data files deletion incident which can be tracked in [this ticket](ebi-ait/hca-ebi-dev-team/383),  the data files for this dataset needs to be reuploaded before we can submit it.

[2021-02-22 23:00] mshadbolt opened #258 "Get Aussie/Asia/Pacific data into the HCA"
**Description of the task:**

To date we have had a single submission of data from a lab from Australia. And a couple from China/Japan. This ticket is to track any progress I make in communicating with labs in this region while I am in a more friendly time zone.

**Acceptance criteria for the task:**

- [x] email Andrew Lonie for any contacts
- [ ] email Christine Wells(unimelb)
- [ ] review HCA A

[2021-02-22 23:34] mshadbolt commented on #258
Andrew is head of Melbourne Informatics and has connections and well informed about bioinformatics in Australia

Christine is based in melbourne, lead on Stemformatics, potentially some low hanging fruit to programmatically transform datasets in the stemformatics platform into HCA https://www.stemformatics.org/datasets/search

[2021-02-23 11:12] Wkt8 opened #259 "GSE143753"
**Primary Wrangler:**
Wei

**Secondary Wrangler:**

**Associated files:**

Google Drive: https://drive.google.com/drive/folders/1gOi0opYWhNfBiUIZ731cdR0-fWmhMce8

**Published study links**

Paper: https://www.nature.com/articles/s41422-021-00467-z

Accessioned data: https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE143753

**Key Events**

- [ ] convert published metadata to HCA spreadsheet
- [

[2021-02-24 11:25] ESapenaVentura opened #260 "Check adhoc updates won't be overwritten by updates"
**Description of the task:**
For the DCP2 MVP, we did a couple of ad-hoc updates directly into the staging area to avoid data transfer errors

We need to make sure these updates are reflected in the spreadsheet/ingest so they don't get overwritten if we make updates to a project

**Acceptance criteria for the task:**
- [x] Ad-hoc changes are identified
- [x] Changes are reflected in ingest and lat

[2021-02-24 11:38] #246 closed

[2021-02-24 16:29] Wkt8 commented on #217
Had a discussion with @amnonkhen and he will use the information from this document to make our testing process more reliable.

[2021-02-24 23:59] mshadbolt commented on #248
adding myself as a secondary reviewer

[2021-02-25 00:29] mshadbolt commented on #248
Secondary review:
* could add ORCID for two authors:
  * De-Quan,,Li - 0000-0001-9449-4686
  * Qianmiao,,Gao - 0000-0002-5965-8486
* very annoying that they give basically zero donor metadata, not even which donor is male and which is female, same how they give cell count estimates, but isn't clear which is which...
* none of the ontology fields have been ontologised
* could add Trypan Blue as cel

[2021-02-25 09:41] ami-day commented on #248
Thanks @mshadbolt, the ontologies were missing because I forgot to re-upload the ontologised version from my local dir, uploading it now! Otherwise, i'll make those small changes and email asking for cell type annotations and any extra donor metadata.

[2021-02-25 11:20] ami-day commented on #248
Emailed the authors about cell type annotations, gene expression matrices and any extra donor metdata

[2021-02-25 13:08] ami-day commented on #235
Hi @Wkt8. I've done a 1st secondary review.

It is a bit subjective how to model iPSC and organoid data using our schema but how you have done it makes sense to me. I think it would be useful for us all to discuss this layout and my latest iPSC data to compare in light of slight differences in experimental design. Then use them as a reference to look back to when curating similar projects.

I ende

[2021-02-25 13:09] ami-day commented on #235
Just realised I added tick boxes instead of a list. That wasn't intentional!

[2021-02-25 15:08] Wkt8 opened #261 "Haniffa - Covid19PBMC E-MTAB-10026"
**Primary Wrangler:**
Wei Kheng Teh

**Secondary Wrangler:**
Marion

**Associated files:**
Pre-print: https://www.medrxiv.org/content/10.1101/2021.01.13.21249725v1.full
Google Drive: https://drive.google.com/drive/folders/1uoTWDLj57LTM9ZT2ceUQU8kF5QeWJmTM
Data available in the Covid19 Portal: https://www.covid19cellatlas.org/index.patient.html
Processed data available at E-MTAB-10026: https://www.

[2021-02-26 12:35] ami-day commented on #243
- [ ] Need to check for cell type annotations
- [ ] Need to check for gene expression matrix
- [ ] If any of above 2 missing, need to email authors

[2021-02-26 12:41] ami-day commented on #243
Obtained gene expression matrix from GEO. Emailed authors about cell type annotations.

[2021-02-26 12:51] ami-day commented on #243
Validating data files: check validity later today.

[2021-02-26 12:57] ami-day commented on #219
Converting to scea format.

[2021-02-26 13:00] ami-day commented on #139
hca to scea tool not working for @rays22 . We have decided to install it on EC2 so that the same installtion/repo is available to all users. In the meantime, I have converted this dataset locally, and added them to the dataset folder (same as hca google sheet). It needs further manual curation before sending to SCEA team.

[2021-02-26 13:05] ami-day commented on #220
Converting to SCEA.

[2021-02-26 13:06] ami-day commented on #221
Converting to SCEA.

[2021-02-26 13:06] ami-day commented on #189
Converting to SCEA.

[2021-02-26 13:07] ami-day commented on #180
Converting to SCEA.

[2021-02-26 13:11] ami-day commented on #244
Authors did not get back about 10X tech version. Have removed the library construction method and barcode lengths, offsets from the library prep. tab. We should still submit this without the construction method.

[2021-02-26 13:12] ami-day commented on #242
Requested new ontology term for other plate-based barcoded construction method.

[2021-02-26 13:14] ami-day commented on #242
Added new ontology to sheet: barcoded plate-based single-cell RNA-seq

[2021-02-26 13:18] ami-day commented on #241
Added new ontology term (lumbar puncture)

[2021-02-26 17:42] ami-day commented on #230
Followed up with UCSC, they identified it as not adequate quality due to raw data. Agreed I would look into the data, see if we find any problems, and if not, will curate it on our side.

[2021-02-26 18:07] ami-day commented on #243
Check syncing - 2 files invalid

[2021-02-26 19:01] ami-day commented on #244
It won't validate in staging.
Currently we can't add no construction method, or just 10X sequencing. It requires both a method and also barcode info because '3 prime tag' is indicated: https://staging.contribute.data.humancellatlas.org/submissions/detail?id=60394499f29f510eee57258b
We need to be able to 1. add no construction method or 2. add 10X sequencing without either an end bias or a version

[2021-03-01 16:38] ami-day commented on #244
Authors got back with the 10X versions.

[2021-03-01 16:44] ami-day commented on #244
Graph validator issue on EC2. So not validated by that.

[2021-03-01 16:50] lauraclarke commented on #244
This seems like a sufficiently complex graph that getting the graph validator running seems important. Have you filed a ticket, reached out to @amnonkhen about the issues you are facing with the validator. I know bugs have been fixed recently but I don't know if EC2 has the most recent version or not

[2021-03-01 17:17] ami-day commented on #244
I thought this was the on-going graph validator issue...I'll ask Amnon about it.

[2021-03-01 17:17] ami-day commented on #244
Uploading the fastqs to hca-util upload area.

[2021-03-01 17:54] amnonkhen opened #264 "Connection Refused error running graph validation"
**Description of the task:**
From @ami-day via slack.

**Acceptance criteria for the task:**

graph validation should work

**env**
EC2 - instructions to run on EC2 are here: https://github.com/ebi-ait/ingest-graph-validator

**steps to reproduce**

[code]

**output/logs**

<details><summary>click to see full logs</summary>
<p>

[code]

[2021-03-01 17:56] ami-day commented on #241
Need to request files from NCBI aws service.

[2021-03-01 18:18] ami-day opened #265 "Contributor dataset: DopaminergicNeuronDifferentiation"
**Dataset/group this task is for:**

Oliver Stegle's group
DopaminergicNeuronDifferentiation
https://docs.google.com/spreadsheets/d/10fLTH8eibbep8XElKVURFAESYAXp9RJk/edit#gid=1300886752

**Wrangler responsible for this dataset/lab:**

Ami

**Description of the task:**

- [ ] curate metadata
- [ ] get ontologies
- [ ] graph validator
- [ ] validate in ingest staging
- [ ] secondary review
- [ ] Che

[2021-03-01 22:14] lauraclarke commented on #244
Even if it is an ongoing issue, if it is blocking you from running the SOP, then chasing up where the fix is in the pipeline is a an important and valid thing to do

[2021-03-02 03:02] mshadbolt commented on #84
apparently the manuscript is in review with nature, so we should get some more details in the next few weeks hopefully.

[2021-03-02 12:41] amnonkhen commented on #264
The problem was that the ingest-graph-validator was not running on the EC2 machine.
I restarted it from my account.

[2021-03-02 19:24] rays22 commented on #245
## Secondary review
### Minor issues:
* Project - Contributors
    * Please, add the ORCID ID `0000-0001-5614-030X` for Maile Ann Young,,Karris
* Project - Publications
    * `project.publications.url` : I would use a direct link to the publication (`https://doi.org/10.1080/22221751.2020.1826361`) instead of the link to the PubMed abstract.

### More serious issue
* Sequence files
I am not sure if

[2021-03-02 23:43] mshadbolt commented on #245
hi both
@rays22 is correct, if you have more than one set of fastq files within a single process_id, they need to be given lane indices.

So for example, if there are 24 files that are assigned one process_id, we are saying all of these came from the same library, then each fastq file pair needs to be assigned a lane index to ensure they are paired correctly by pipelines, so you would need to numb

[2021-03-03 01:15] mshadbolt commented on #245
I looked up the ingest-graph-validator and there is a test `ensure_lane_index`, that is supposed to catch this error, @ami-day can you confirm whether it failed this test?

[2021-03-03 11:09] lauraclarke commented on #248
@ami-day needs to upload the raw data before this go to export

[2021-03-03 11:11] ami-day commented on #244
Sorted it now. It's now ready for 2ndary review.

[2021-03-03 11:30] Wkt8 commented on #207
I have updated this with our current process. There are some changes to the part on how we notify downstream components, based on a conversation happening in slack right now: https://embl-ebi-ait.slack.com/archives/C9XD6L0AD/p1613736665028000

[2021-03-03 13:45] ami-day commented on #264
Works for me now.

[2021-03-03 15:25] lauraclarke opened #266 "What types of spatial sequencing and imaging technologies are the community using"
Goal: Find evidence to help choose which spatially resolved sequencing and imaging technology should be chosen for the first pilot data ingestion into the DCP

There is growing use of spatially resolved sequencing technologies for transcriptomic where an anchor image provides spatial information to the location of the cell or cells which have been sequenced associated with a particular sample inde