[2021-07-07 09:21] amnonkhen opened #380 "automate monthly backup verification"
**Description of the task:**

The monthly task of restoring from backup can be automated.
Let's brainstorm a few alternative way to implement it.

**Acceptance criteria for the task:**

- [ ] backup verification is automated
- [x] failures reported in slack/email
- [x] success is logged somewhere (file, grafana, ???)
- [x] docs in ops review doc

[2021-07-07 09:30] clairerye opened #381 "delete incorrect submission for 403c3e76-6814-4a2d-a580-5dd5de38c7ff"
**403c3e76-6814-4a2d-a580-5dd5de38c7ff**

The Developmental Heterogeneity of Human Natural Killer Cells Defined by Single-cell Transcriptome

**Rachel Swchwartz, UCSC**

**Description of the task:**

Project was exported for release 7. There were linking issues found by Hannes. Rachel corrected the issues on the original spreadsheet and uploaded it as a new submission and exported it.
There are no

[2021-07-07 10:53] ofanobilbao commented on #305
@Wkt8 moved to Finished in this board, as it looks as done from DCP perspective. Amend if I did not get it right. Thanks!

[2021-07-07 10:55] ofanobilbao commented on #172
@ESapenaVentura I just moved this to Finished as I believe it's done from DCP perspective. Please, let me know if this was not the case. Thanks!

[2021-07-07 11:03] ofanobilbao commented on #211
@rays22 sorry I am a bit confused about this one. I don't know if it should be brokered to SCEA or not. From DCP perspective I understand that this has already been archived and exported to DCP. Is that correct? Should it go to Finished then on the wrangling board? Thanks!

[2021-07-07 11:10] ofanobilbao commented on #47
@ami-day I have added the SCEA brokering label, assuming this needs to be brokered to SCEA. Please, remove if that's not the case. I have moved it to Finished on the wrangling board as from what I can see it looks like Done from a DCP point of view. Is that correct? Please, let me know or move it as you deem appropriate. Thanks!

[2021-07-07 11:11] ofanobilbao commented on #162
@ESapenaVentura moving this to Finished in the Wrangling board as I believe there is nothing left in the SCP route. Is that correct? Thanks!

[2021-07-07 11:16] ofanobilbao commented on #76
@ESapenaVentura just moved this to Finished on the wrangling board as I believe that from DCP perspective this is exported and archived, is that correct? Feel free to move it where it belongs on the DCP or archiving journey if I didn't get it right. Thanks!

[2021-07-07 11:17] ofanobilbao commented on #118
@ESapenaVentura I have moved this to Finished on the Wrangling board as I believe the DCP journey is complete. Please, feel free to amend if I did not get it right. Thanks!

[2021-07-07 11:19] ofanobilbao commented on #165
@rays22 is this dataset done from the DCP perspective? Can I move it to Finished on the wrangling board? Thanks!

[2021-07-07 11:22] ofanobilbao commented on #193
@ESapenaVentura I moved this to Finished on the wrangling board as I believe this dataset is done from the DCP perspective right? Thanks!

[2021-07-07 11:25] ofanobilbao commented on #3
@ami-day I can't tell by scrolling on the ticket where this dataset is on the DCP journey. I believe it was submitted to DCP. But I don't know if it should be on the Finished column or where. Could you, please, move where appropriate? Thanks! Apart from needing to be brokered to SCEA, does it need any updates or archiving? Thanks!

[2021-07-07 11:27] ofanobilbao commented on #105
@ami-day I have moved this to Finished in the Wrangling board as I believe that's the case on the DCP journey. And that the only thing remaining is conversion to SCEA, which will be tracked on the SCEA board. Please, feel free to correct if I did not get that right. Thanks!

[2021-07-07 11:29] ofanobilbao commented on #298
@ami-day I just moved this to Finished on the wrangling board as I believe that's the state. The only remaining thing would be the SCEA brokering that is being tracked in the SCEA board. Please, feel free to amend if it's not the case. Thanks!

[2021-07-07 11:32] ofanobilbao commented on #311
@rays22 I just moved this to Finished in the Wrangling Board as I believe that this is the state on the DCP journey and that what remains is only the brokering to SCEA, which is going to be tracked on the SCEA board. Is that correct? If not, feel free to move it in the board. Thanks!

[2021-07-07 11:35] ofanobilbao commented on #221
@ami-day I have moved this to Finish on the wrangling board and put it in the Review/QA column in the SCEA board. I believe that the DCP journey is finished. But please, feel free to amend if I did not get it right. Thanks!

[2021-07-07 11:37] ofanobilbao commented on #235
@Wkt8 I have moved this into Finished as I believe that the DCP journey is complete. I have moved it into the Review/QA pipeline in the SCEA board. The SCEA board might need refining depending on all of the wrangler needs. Correct me if I'm wrong please. Thanks!

[2021-07-07 11:38] rays22 commented on #211
@ofanobilbao Yes, I am afraid this one is confusing, because there are several tickets (in different repos) related to this same project.
The purpose of this particular ticket was to track the updating of this project with new data from the contributors. The update is complete, so I am closing this ticket.
There is already a separate ticket to track the brokering of this project to the SCEA: <http

[2021-07-07 11:38] #211 closed

[2021-07-07 11:47] rays22 commented on #311
@ofanobilbao Yes, I believe the DCP journey of this project is complete.
Thanks for moving it to the `Finished` column.

[2021-07-07 13:44] jacobwindsor commented on #177
This is likely not needed anymore since @prabh-t added expiration policies to dev and staging buckets. Thanks for reminding me @aaclan-ebi

[2021-07-08 08:22] clairerye commented on #381
@jacobwindsor the spreadsheet is uploaded, now ready to have data files synced. https://contribute.data.humancellatlas.org/projects/detail?uuid=403c3e76-6814-4a2d-a580-5dd5de38c7ff

[2021-07-08 08:51] rays22 commented on #139
This project is to be brokered to the SCEA.

[2021-07-08 09:04] #114 closed

[2021-07-08 09:11] ofanobilbao commented on #193
@ESapenaVentura I just removed the dataset label. If/when we need updates on this we will need to add the label again so that it shows on the wrangling board. Does that sound ok?

[2021-07-08 09:28] ofanobilbao commented on #3
It really looks like finished so moving it there.

[2021-07-08 09:54] Wkt8 commented on #95
Assigning self as secondary reviewer.

[2021-07-08 10:39] ESapenaVentura commented on #250
Jacob and I had a meeting - AI:

- [ ] @ESapenaVentura will send an email to ENA
- [ ] @ESapenaVentura Identify submissions that need to be updated (Continuation of https://drive.google.com/file/d/1jE2URktUHDBBJzFAi8IuWrk1DC0SHUeK/view)
    - [ ] Create a spreadsheet with submission UUID, run accession and CloudUrl

Optional AI (if time)
- [ ] Check if files are in cloudUrl

No immediate actions f

[2021-07-08 14:51] Wkt8 commented on #95
Hey Ami! Looks good so far - just had a few optional additions and somethings I was confused about.

Donor_Organisms
I think you could add (optionally) that all patients BMI range was 23-28 in donor organisms (it says so in the supplementary methods)

Collection_Protocol
Patients with atopic dermatitis and psoriasis, who donated skin for single cell RNA-sequencing (scRNA-seq), consented to a 6 mm

[2021-07-08 14:53] ami-day commented on #375
Uploading data to hca-util upload area: 9ee13fe4-3f81-4d5a-b234-91133364b986

[2021-07-09 11:19] ESapenaVentura commented on #250
About point one:
I have created a google sheet (continuation of the previous one) with the information required:
https://docs.google.com/spreadsheets/d/1PkoiGKVeQIF3FQAtwl8vhqt5CwEZfQL2zVA83bWBj6g/edit#gid=2088805478

Only 1 submission is missing the run accessions, the TissueStability dataset

[2021-07-09 12:50] ami-day commented on #376
Uploading fastq to hca-util upload area: 7518f6a7-1310-451d-9e19-a4dda2d766fa

[2021-07-09 15:14] ESapenaVentura commented on #250
I sent an email to ENA

Also, I checked all files are in the respective CloudURL, and marked it in the spreadsheet

[2021-07-09 18:00] rays22 commented on #315
I have uploaded a valid [metadata spreadsheet to the gdrive.](https://docs.google.com/spreadsheets/d/1J61Mm_vzfUxxq4QIAB_xW7M7AJkUGnHZ)
Some of the project donors are living Europeans. The raw data related to the Korean donors are controlled access (in EGA).
I am planning to upload the matrix files with the metadata to the DCP.

[2021-07-12 09:31] jacobwindsor commented on #381
Commenting this here as may be useful to other devs/wranglers:

After moving the files from the old to new submission area (via AWS UI), I notified the upload service of the change to trigger validation again with this command:

`BUCKET=d84784da-4a17-49ee-b5aa-ea76a60769ef`

`for file in $(aws s3 ls s3://org-hca-data-archive-upload-prod/$BUCKET/ | awk '{print $4}'); do; curl -i -X POST https://upl

[2021-07-13 09:10] ESapenaVentura commented on #270
The files are not available fully (Only 1 fastq file for paired end sequencing), and the file headers seem to indicate there should be 2:

`@SRR8521732.1 NS500400:396:HYLFGBGXY:1:11101:15952:1058_AGTGTCTT_ACATGTCTGATT_GTAGCGGG/1`

Not worth to spend too much time investigating the issue, moving to stalled

[2021-07-13 09:59] Wkt8 commented on #315
Hey Ray, this looks great!!! Just a few small comments and questions, but overall - it looks really clean, really organised. Well done!

**Project**
Add GSE144735 and GSE132257 into the GEO accessions
Add E-MTAB-8410 and E-MTAB-8412 to the ArrayExpress Accessions

**Enrichment Protocol**
Maximum size for SMC_enrichment_protocol2 is 70um

**Sequencing Protocol**
I believe that GPL20301 may be seque

[2021-07-13 11:06] rays22 opened #382 "Show the `project.ega_accessions` metadata field in Ingest UI."

[2021-07-13 11:09] Wkt8 commented on #372
Hi @jacobwindsor is this done?

[2021-07-13 11:12] rays22 commented on #315
Thank you @Wkt8 for the secondary review.
Adding the EGA accessions is blocked by <https://github.com/ebi-ait/hca-ebi-wrangler-central/issues/382>.

[2021-07-13 11:33] ami-day commented on #95
Thanks @Wkt8 I made the changes.

In terms of the collection protocol, you're right and I realise there are actually 2 different protocols: 1 for healthy, 1 for psoriasis or atopic dermatitis.

I kept the sequencing protocol "paired end" field as "no" as this is a 10X 3' dataset.

In terms of the vdj experiments and smart-seq2 experiments: they do not mention anywhere where this data is available

[2021-07-13 14:56] jacobwindsor commented on #372
Yes but there is a PR still pending https://github.com/ebi-ait/ingest-kube-deployment/pull/25

[2021-07-13 19:09] ami-day commented on #95
submitted metadata and data:
https://contribute.data.humancellatlas.org/submissions/detail?id=60ed7ecfd5d575160aafa4c1

[2021-07-13 19:13] ami-day commented on #265
@amnonkhen unfortunately I need to review this dataset and potentially make edits before it gets exported, so can we please move the milestone from July to August as I won't be back in time to make the updates?

[2021-07-14 09:42] rays22 opened #383 "Some of the ontology term names are displayed in Chinese characters by the HCA OLS instance"

[2021-07-14 09:48] rays22 commented on #383
Some of the ontology term names are displayed in Chinese characters by the HCA OLS instance.
For example:
<https://ontology.archive.data.humancellatlas.org/ontologies/hcao/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FUBERON_0000922>
I think it has a negative impact on finding the correct ontology terms by wranglers.
Expected behaviour: The terms should be displayed in the correct character e

[2021-07-14 12:06] Wkt8 commented on #95
Checked and confirmed that this has exported. Ami to complete the export form when she returns!

[2021-07-14 16:16] aaclan-ebi commented on #292
I'm linking the SOP to setup access Terra staging area buckets here for reference
https://ebi-ait.github.io/hca-ebi-dev-team/admin_setup/Setting-up-access-to-Terra-staging-area.html#using-your-google-account

[2021-07-15 06:53] #366 closed

[2021-07-15 06:54] #365 closed

[2021-07-15 06:55] #372 closed

[2021-07-15 06:55] #381 closed

[2021-07-15 06:56] #177 closed

[2021-07-16 17:32] rays22 commented on #315
Thank you Wei for the secondary review. I have uploaded the [updated metadata spreadsheet to the gdrive](https://docs.google.com/spreadsheets/d/1J61Mm_vzfUxxq4QIAB_xW7M7AJkUGnHZ/edit?rtpof=true#gid=1087179674)
and [Ingest prod.](https://contribute.data.humancellatlas.org/projects/detail?uuid=c715cd2f-dc7c-44a6-9cd5-b6a6d9f075ae)

- [ ] I still need to add the EGA accessions.

* * * *

- [x] Enrich

[2021-07-21 08:50] Wkt8 commented on #380
@jacobwindsor is this complete?

[2021-07-21 13:12] Wkt8 commented on #228
Also needs an update to include sequencing and library preparation protocols to be linked to the analysis_files.

[2021-07-21 15:49] Wkt8 commented on #218
This paper has no donor information. (It says it does in supplementary Table 1, but it contains no useful donor information.) Have previously reached out to the authors who gave fastq information but not donor information.

[2021-07-21 18:52] rays22 commented on #376
## Secondary review notes

* The metadata spreadsheet contains *Project* tabs. I thought the standard practice was to create and curate project level metadata using Ingest UI so that the project shows up in the project catalogue.

### Dissociation protocol: it looks unfinished
* missing ontology terms: `dissociation_protocol.method.ontology`
* `dissociation_protocol.protocol_core.protocol_descript

[2021-07-22 08:37] Wkt8 commented on #218
Moving back to Queued to Wrangling as it is not high in priorities compared to hca-publications.

[2021-07-22 08:49] Wkt8 opened #384 "A molecular single-cell lung atlas of lethal COVID-19 - GSE171524"
### Project short name:
LethalCovidLungAtlas

### Primary Wrangler:
Wei Kheng

### Secondary Wrangler:

### Associated files

* Google Drive:
https://drive.google.com/drive/folders/1PVVRZ3OiNyBI79lFkXfl43VLaCk4FMF5

### Published study links

* Paper: https://www.nature.com/articles/s41586-021-03569-1#code-availability

* Accessioned data: https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE1715

[2021-07-22 09:56] clairerye opened #385 "heart cell atlas data file replacement in ENA"
Sarah Teichmann reports many groups are having trouble accessing the raw reads for our study on the **_Adult Human Heart (Litvinukova et al., Nature, 2020)_** – and then write to us directly.

Project:
   ad98d3cd-26fb-4ee3-99c9-8a2ab085e737
   HeartSingleCellsAndNucleiSeq

- [ ] update the BAM files that are in the ENA so they are usable with cellranger
- [ ] add FASTQ files for this project to g

[2021-07-22 10:01] clairerye commented on #385
this is a specific example of #250

[2021-07-22 11:04] rays22 commented on #315
Thanks to the fix in <https://github.com/ebi-ait/dcp-ingest-central/issues/387>
I can add the EGA accessions now.

[2021-07-22 13:12] rays22 commented on #315
* I have exported the project to the DCP and [filled in the data import form.](https://ebi-ait.github.io/hca-ebi-wrangler-central/SOPs/dataset_wrangling_SOP.html#exporting-the-submission-to-dcp)
* Target: Release 8.

[2021-07-22 21:30] rachadele opened #387 "contributor account for: Xiao-Qing Dai"
* name: Xiao-Qing Dai
* email: xdai@ualberta.ca

Request Details:
* Requested by: Rachel Schwartz, raschwar@ucsc.edu

[SOP link](https://ebi-ait.github.io/hca-ebi-wrangler-central/SOPs/dataset_wrangling_SOP.html#aws-user-for-contributors)

[2021-07-23 15:06] aaclan-ebi commented on #163
There are 2 blocking issues for this (linked in this ticket in ZH):
1. Make sure bam files can be converted back to fastq files ebi-ait/hca-ebi-dev-team#434
2. Fix missing ontology terms in the metadata that we're submitting to the EBI archives ebi-ait/hca-ebi-dev-team#435

For no. 1, we decided to just submit the raw 10x fastq files directly to ENA.

I’ve chatted with Haseeb. And it looks like th

[2021-07-23 18:52] clairerye opened #388 "Delete project 14a26f57-9117-42c2-a613-891e173899cf"
**Dataset/group this task is for:** 14a26f57-9117-42c2-a613-891e173899cf

atlasOfHumanTeeth

**Wrangler responsible for this dataset/lab:**
Rachel Schwartz

**Description of the task:**

Duplicate project was accidentally created in ingest and exported, this needs to be deleted from Ingest and from the google staging area.

https://humancellatlas.slack.com/archives/C9XD6L0AD/p1626974639135500
**Ac

[2021-07-26 10:12] ami-day commented on #95
Done.

[2021-07-26 10:42] ami-day commented on #375
I am removing the July 26th milestone as this has not been secondary reviewed yet. I will change it to the August milestone.

[2021-07-26 12:05] ami-day commented on #265
Working on getting the missing fastq files. Removing the July milestone as it won't be done by then, changing it to the August milestone.

[2021-07-26 12:53] ami-day commented on #376
Thanks @rays22 I have made the relevant updates and am uploading it to ingest prod. now for export.

[2021-07-26 13:55] ami-day commented on #103
I think this is unsuitable for SCEA because there are just 2 samples that are sequenced and they are both IL-10+ CD4+ T-cells from healthy PBMCs. In their guidelines they say they expect at least 3 replicate samples although some exceptions can be made for e.g. rare tissue samples or other novel sample types. I think because the cells are from healthy PBMCs and blood is a commonly used biomaterial

[2021-07-26 13:56] ami-day commented on #103
I will try this now! I had added the file source, but when I add it using an allowed value, the project metadata would not validate, which I believe is a problem with validation in ingest.

[2021-07-26 13:59] ami-day commented on #103
@Wkt8 I have made the update and it says it is valid now, so will re-submit the metadata only.

[2021-07-27 09:21] ESapenaVentura commented on #375
I have reviewed the dataset:

# Review

## Project - Publications

-Authors: Corrected some names with a starting space
-Publication URL: Corrected URL to not include `?via=…`

## Cell line
-Catalog number: Added catalog ID
-Description: Added cell line-specific info to the end of the description
-Organ model: Changed to kidney, which is what organ that cell line is modelling
-Karyotype: added kar

[2021-07-27 09:56] amnonkhen commented on #387
credentials created and sent by email and slack

[2021-07-27 19:53] rachadele commented on #387
Hi, I did not receive the password to the zip file containing the credentials.

[2021-07-27 21:07] rachadele opened #390 "contributor account for: Yan Hang"
Please create an account a contributor.

*Contributor details:*
* name: Yan Hang
* email: yanh@stanford.edu

Request Details:
* Requested by:  Rachel Schwartz
raschwar@ucsc.edu

[SOP link](https://ebi-ait.github.io/hca-ebi-wrangler-central/SOPs/dataset_wrangling_SOP.html#aws-user-for-contributors)

[2021-07-28 08:46] #292 closed

[2021-07-28 09:13] amnonkhen commented on #387
On 2021-07-27 20:53, Rachel Schwartz wrote:

Hi Rachel,
I sent the password directly to Xiao-Qing since it is for her personal
credentials.
Kind regards,
Amnon

[2021-07-28 14:42] ESapenaVentura commented on #31
Data can be found here https://www.ebi.ac.uk/arrayexpress/experiments/E-MTAB-10287/

Preprint is here https://www.biorxiv.org/content/10.1101/2021.01.02.425073v1

This is an MRC + WSSS dataset

[2021-07-28 20:18] rays22 commented on #314
* I have uploaded the metadata spreadsheet to [the google drive folder of the project.](https://drive.google.com/drive/folders/1WJ4dHUWMOXfskU4HU47UZwHKehufAF-o) It is ready for secondary review.
* The project level metadata can be found in [Ingest,](https://contribute.data.humancellatlas.org/projects/detail?uuid=7c75f07c-608d-4c4a-a1b7-b13d11c0ad31) **not in the metadata spreadsheet.**

[2021-07-28 20:23] jacobwindsor opened #391 "Fix ingest-backup-verify"
The ingest-backup-verify cronjob is not fit for purpose, outdated and difficult to update.

The setup.sh file uses a CSV with AWS access credentials. This is not how we do it with other helm charts, they are usually grabbed from the config/environment_ENV files.

The `verify.py` script does not work. It is passing successfully but it should not. It is silently failing due to an error when connecti

[2021-07-29 10:46] ESapenaVentura commented on #314
@rays22 I have reviewed the dataset and overall LGTM! I just have a couple of comments for some specimens:

## Specimen from organism

- Changed some organs labelled with “immune organ” to “immune system” ontology
- Changed organ part from blood specimens from “peripheral blood mononuclear cell” to “venous blood” (Feels more right as an organ part, and the collection protocol does not specify any

[2021-07-29 11:05] rays22 commented on #314
Thank you @ESapenaVentura for the quick review. I will implement your suggestions and then export the project.

[2021-07-29 18:06] rays22 commented on #314
I have exported the project to the DCP and filled in the data import form.

[2021-07-30 08:54] #47 closed

[2021-07-30 08:54] #76 closed

[2021-07-30 08:54] #103 closed

[2021-07-30 08:54] #105 closed

[2021-07-30 08:54] #118 closed

[2021-07-30 08:54] #139 closed

[2021-07-30 08:54] #162 closed

[2021-07-30 08:54] #165 closed

[2021-07-30 08:54] #172 closed

[2021-07-30 08:54] #221 closed

[2021-07-30 08:54] #235 closed

[2021-07-30 08:54] #298 closed

[2021-07-30 08:54] #305 closed

[2021-07-30 08:54] #311 closed

[2021-07-30 08:54] #338 closed

[2021-08-02 11:38] ami-day commented on #265
Emailed Oli about the missing samples on 02/08/2021. Some samples in the ENA study are missing from the dataset files they provided us with and some samples in the files are missing from ENA.

[2021-08-02 11:43] ESapenaVentura opened #392 "GSE143380, GSE143356 - Female primordial germ cells"
### Project short name: TBD

### Primary Wrangler: TBD

### Secondary Wrangler: TBD

### Associated files:

* Google Drive:

### Key Events
(This is a published dataset so the first steps are skipped)

- [ ] Receive data, matrix and cell annotation files (to a sufficient standard to submit dataset)
- [ ] Curate metadata spreadsheet with ontologies
- [ ] Upload sheet to validate metadata
- [ ] Run

[2021-08-03 08:09] ESapenaVentura opened #393 "Update contributor communication SOP with new guidelines"
Based on a discussion with @amnonkhen and Will, we need to update the contributor communication SOP to reflect the new guidelines regarding credentials distribution

[2021-08-03 10:32] ESapenaVentura opened #394 "Update docs/contributor_communication_sop.md regarding managed access data"
Now that we accept managed access data we need to update our guidelines on contributor communication regarding managed access datasets

**Acceptance criteria**:

- [ ] `docs/contributor_communication_sop`: `#### if data is managed access` email section is reviewed

[2021-08-03 12:37] aaclan-ebi commented on #250
This isn't a priority for this sprint. Moving this to Ops Backlog.

[2021-08-03 12:44] aaclan-ebi commented on #385
Closing this in favor of ebi-ait/dcp-ingest-central#399 All work needed for correcting HeartSingleCellsAndNucleiSeq data in ENA is being tracked there.

[2021-08-03 12:44] #385 closed

[2021-08-03 13:48] ESapenaVentura commented on #394
This is being worked on 2 different PRs:

https://github.com/ebi-ait/hca-ebi-wrangler-central/pull/395
https://github.com/ebi-ait/hca-ebi-wrangler-central/pull/389

Once both are ready to go we should be able to close this ticket

[2021-08-03 13:49] ESapenaVentura commented on #393
This is a duplicate issue

[2021-08-03 13:49] ESapenaVentura commented on #393
This is being worked on 2 different PRs:

https://github.com/ebi-ait/hca-ebi-wrangler-central/pull/395
https://github.com/ebi-ait/hca-ebi-wrangler-central/pull/389

Once both are ready to go we should be able to close this ticket

[2021-08-03 13:57] ESapenaVentura commented on #163
Pending actions:
- [ ] Update run accessions in ingest

[2021-08-03 16:58] ami-day commented on #375
Uploaded to ingest production: https://contribute.data.humancellatlas.org/submissions/detail?uuid=04fa73ed-12e1-418b-9330-e372ef3594d5 need to transfer fastq and analysis files to ingest

[2021-08-04 08:24] ESapenaVentura commented on #380
@jacobwindsor is this done? if not please move to in progress

[2021-08-04 08:26] #390 closed

[2021-08-04 08:28] amnonkhen opened #396 "address ops SOP comments"
These PRs have been open since early June.
Please address the review comments.
- [x] ebi-ait/hca-ebi-wrangler-central#346 Update AWS account creation SOP for contributors
- [x] ebi-ait/hca-ebi-wrangler-central#340 Add installation SOP for SCEA tools validators
- [x] ebi-ait/hca-ebi-dev-team#415 Rewrite the Delete project SOP's steps

[2021-08-04 08:32] ESapenaVentura commented on #349
@ESapenaVentura to move this ticket to the schema repo

[2021-08-04 08:40] #392 closed

[2021-08-04 08:45] ESapenaVentura opened #397 "AWS summary stats by scientific metrics"

[2021-08-04 09:18] jacobwindsor commented on #380
Yes it's done. I opened up #391 to cover it as this turns out to be a bigger task than originally thought

[2021-08-04 10:18] #380 closed

[2021-08-04 12:18] ami-day opened #398 "Get fastq using Aspera: sra objects returned"
**Description of the task:**

As I a wrangler I want to use Aspera to obtain fastq files for a project when necessary, using the instructions found here: https://github.com/ebi-ait/hca-ebi-wrangler-central/blob/master/docs/SOPs/dataset_wrangling_SOP.md

However when i run the command with the following accession: SRP292174 the SRA objects are downloaded rather than fastq files, even though the fas

[2021-08-04 12:22] ami-day opened #399 "move_data_from_insdc.py script not returning fastq files"
**Description of the task:**

As a wrangler I want to download fastq files for a dataset. Recently using the `move_data_from_insdc.py` script has been returning no fastq files with a comment `"Couldn't find any mean of downloading the proper fastq. Try with the sratoolkit"`.

An example I found when running the script:
[code]

Is there a reason why the script is no longer returning fastq files? it

[2021-08-04 15:43] ami-day commented on #379
Closing this ticket as Paris has already wrangled this dataset.

[2021-08-05 14:49] ami-day commented on #378
Note for 2ndary reviewer: I have contacted Melissa to get more information about the cell line that was used e.g. was it bought from a commercial provider as an iPSC line or fibroblast line and what is the catalog number, etc.

[2021-08-06 09:32] ami-day commented on #229
It seems there is no raw data or gene expression matrix made available for this study. They have made the expression levels of few specific genes available in the single cell portal. Moving this to stalled and will email the corresponding author to ask about the raw data / matrices.

[2021-08-06 09:40] ESapenaVentura commented on #398
There is an error in the script

it's not returning SRA objects, it's trying to name the fastq objects with the string obtained from `echo organoids_plasticity/{} | cut -d\"/\" -f6 ` .

-f6 indicates the field number, so when you include another field, it doesn't pick it up correctly.

I have simplified the code a bit and put an example of how to do it in these situations in the [Wrangling SOP](ht

[2021-08-06 10:11] ami-day commented on #276
Tagging @Wkt8 in this ticket as I first assigned myself then saw that Wei has links to these contributors.

[2021-08-09 15:54] Wkt8 commented on #339
Am currently focusing on this as the contributor has gotten back to us with answers to my questions.

[2021-08-10 13:21] ami-day commented on #308
Hi @ESapenaVentura Thanks for the review!
I have updated the SOP to reflect the above comments: https://github.com/ebi-ait/hca-to-scea-tools/pull/47
I have removed the sentence about controlled vocabulary as I think the shared doc. from scea is confusing. All the required controlled vocab. terms should be added automatically to the sdrf file. I do think that when unsure about a particular column n

[2021-08-12 08:28] ESapenaVentura opened #402 "AWS summary - Do we need cell count per project?"
As a data curator, I want to discuss the necessity of keeping track of the cell count estimate in the AWS summary report sheet.

Now that we have the [project catalogue](https://www.ebi.ac.uk/humancellatlas/project-catalogue/) and that we can extract more accurate statistics from there, it seems that the cell count and all the associated graphs/calculations are redundant.

Tagging @clairerye @ofan

[2021-08-12 08:37] ESapenaVentura opened #403 "Metadata features needed for the pipelines to run on EGA data"
**Acceptance criteria**:
- [x] Set up a meeting with Nikelle to discuss the requirements for the pipelines to run
- [x] Gather requirements in a document
- [x] Determine next steps based on available metadata

[2021-08-12 08:51] Wkt8 opened #404 "Selecting pilot EGA dataset for raw data + metadata to be sent to Terra"
- [x] Marcos to create a summary of what metadata has been provided for selected studies
- [x] Compare the summary of metadata with the required fields for pipelines (ticket here)
- [x] Document and select the appropriate dataset

**Acceptance criteria for the task:**

- We have selected a dataset / multiple datasets to run as a pilot

[2021-08-12 12:48] ESapenaVentura commented on #393
Tagged @yusra-haider on https://github.com/ebi-ait/hca-ebi-wrangler-central/pull/395 I think if we get her approval we should be able to move on

On the second one I am not so sure, @yusra-haider could you take a look and assess if you should be able to review it + accept when it's complete?

[2021-08-13 08:24] ESapenaVentura commented on #403
Had a chat with Nikelle - She's gonna come back to her team and try to get a list of requirements for the pipelines going.

[2021-08-16 12:22] Wkt8 commented on #261
The EGA submission was successful with accession : EGAS00001005465

The following updates need to be made:
- add the EGA accession to the project field
- update the analysis protocol ontology with the new ontologies

[2021-08-16 12:25] Wkt8 opened #405 "Make tickets for Analysis Protocol Ontology terms"
See: https://docs.google.com/document/d/16mFZZy_6qtXHtQ_Gn8588vbDCt_PTCIkTP_sEVE1IY8/edit#

On Tuesday 17th August, make tickets for the ontology terms in the document.

Acceptance Criteria:
- Tickets for the ontology terms in the document are made in the HCA Ontology Repo according to this SOP (https://ebi-ait.github.io/hca-ebi-wrangler-central/SOPs/request_ontology_terms.html)
- Ontology terms f

[2021-08-16 12:26] Wkt8 commented on #404
Received an email response for data access request for https://ega-archive.org/studies/EGAS00001002325

To request access for datasets, please go to:

https://www.sanger.ac.uk/legal/DAA/MasterController

and follow the instructions at the top of the page.

Please note that to avoid delays in handling your data access request, please ensure:
1) You apply using your institutional email address.
2) Y

[2021-08-17 14:00] ESapenaVentura opened #406 "Discuss with pipelines team multiplexed 10x organoid data"

[2021-08-18 14:55] ESapenaVentura commented on #377
Overall looks good, I just have a couple comments:

- On the project - Funders tab, I corrected a couple of funders
- On cell line and organoid tabs, I changed the cell line IDs to not contain hyphens, as it breaks some tools (e.g. the ingest graph validator)
- On the analysis protocol, it's missing the analysis protocol type (We should have the proper ontologies before the next release, so I'd wa

[2021-08-19 07:39] Wkt8 commented on #378
Hi Ami! I found a few minor errors (some typos and things) but overall it looks great! I liked the organoid_differentiation steps in particular.

Project Tab:
- The project description is the same as the project title - maybe add the abstract instead?

Project - Funders Tab
- remove 'the' from the National Health and Medical Research Council of Australia'

Differentiation Protocol Tab:
- All of th

[2021-08-19 09:42] #398 closed

[2021-08-19 09:59] clairerye commented on #402
There are a lot of errors running this and feedback from Oihane is that it is not accurate enough to use as a single source of truth. We are going to stop doing this for now. And if we need to get this info or more we should be able to use the project catalogue if need to get info.

[2021-08-19 10:02] clairerye commented on #402
@tburdett do you still use this regularly as if you do, we should work out how you can get this info in the future in a more accurate and sustainable way. @gabsie is working on gathering requirements at the moment.

[2021-08-19 10:28] tburdett commented on #402
I'm not sure I know what the "aws summary report sheet" is - can someone send me the link?

[2021-08-19 11:41] tburdett commented on #402
I has a chat with Oihane about this. I don't regularly use the sheet, so we don't need to maintain that. However, there are some key pieces of information we do need to be able to track on a (semi) regular basis for reporting, including

- [ ] Operational metrics - so how many projects, cells we have ingested over time
- [ ] How much ingest costs to run without any data (i.e. baseline costs)
- [ ]

[2021-08-19 14:33] gabsie commented on #402
I have created a little [seedling of a user story ticket](https://app.zenhub.com/workspaces/dcp-ingest-product-development-5f71ca62a3cb47326bdc1b5c/issues/ebi-ait/dcp-ingest-central/419) which hopefully @ofanobilbao and myself can discuss and fill out better at a meeting.

[2021-08-20 08:49] clairerye opened #407 "stuck in export: normalBreastAtlas"
*Project Info*
uuid: 9bab0f03-a725-4a13-9ab1-196e46cd80ed
project short name: normalBreastAtlas
primary wrangler: Will Sullivan

*background*
* slack link: https://embl-ebi-ait.slack.com/archives/C9XD6L0AD/p1629394574040500
* email:

Note:
assign to the current dev on operations.

[2021-08-20 14:08] ami-day commented on #378
Thanks for the review @Wkt8 !

- In terms of the 10X v2 method, I had found that the end bias was 3' based on the umi and cell barcode lengths which are described here: https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSM3273570

- For 10X 3' or 5' data, we standardly enter paired end is 'no' in the hca metadata spreadsheet because 1 read contains only the umi and cell barcode reads, whereas onl

[2021-08-20 14:29] ami-day commented on #378
Downloading the fastq files

[2021-08-20 14:31] ami-day commented on #377
Thanks @ESapenaVentura for making most of these changes! I'll make the analysis protocol changes too. Thanks :)

[2021-08-20 14:38] ami-day commented on #377
Downloading the fastq files

[2021-08-20 15:43] ami-day commented on #384
This looks good @Wkt8 , some comments, mostly minor, below!

- Project tab: I would add the project accession: PRJNA719842

- Contributors: maybe add the orchid id for the contributing authors

- Publication authors: the format appears as First Name, Surname Initial. I think it should be Surname, First Name Initial

- Donor organism: I think you might need to replace 'unknown' with a blank for it

[2021-08-23 09:48] ESapenaVentura opened #408 "Schema prioritisation SOP"
**Description of the issue**
As a member of the HCA metadata team, I would like clear guidelines on the process needed to prioritise schema updates. Currently, there are discussions but no responsibilities or clear definition of an election process, which causes confusion.

**Description of the task**
Create an SOP that establishes the process of schema updates prioritisation, from discovery to cr

[2021-08-23 11:35] Wkt8 commented on #384
Thank you!
I have added the project title, ORCID ID, changed the publication authors, removed the donor organism BMI, removed the 'unknown' and 'not hispanic or latino' ontologies, removed the 'year' age unit, included the COVID-19 disease ontology, only included the diseases affecting lungs, added more detail to the collection protocol column, added underscores to the protocol ids, replaced comma

[2021-08-24 08:39] Wkt8 commented on #339
Waiting for E-MTAB-9532 to become public again

[2021-08-24 08:50] Wkt8 commented on #405
Tickets have been made in the HCA Ontology Repo (https://github.com/EBISPOT/efo/issues/1232) and are waiting to get into the repo next Ontology release

[2021-08-24 10:11] #379 closed

[2021-08-25 08:12] ofanobilbao commented on #349
@ESapenaVentura has this ticket been moved to the schema repo already? Thanks!

[2021-08-25 08:14] ofanobilbao commented on #408
@ESapenaVentura can this be assigned to Gabs and Claire?

[2021-08-25 08:16] ofanobilbao commented on #308
What is the status of this? Is it done? From what I can see it has been reviewed by at least two wranglers, which was the remaining acceptance criteria.

[2021-08-25 08:18] ofanobilbao commented on #208
Has this moved at all? If not I would just add it to the stalled pipeline. It has never really even started, as I understand

[2021-08-25 08:22] ESapenaVentura commented on #349
Done https://github.com/HumanCellAtlas/metadata-schema/issues/1403

[2021-08-25 08:36] ESapenaVentura commented on #208
It has moved - there's a PR in the metadata schema repo, forgot to post it here https://github.com/HumanCellAtlas/metadata-schema/pull/1392

[2021-08-25 08:36] Wkt8 commented on #405
Paola has responded and they should get into the next ontology release.

[2021-08-25 08:37] ESapenaVentura commented on #408
Sure, I've done it but this will need to be reviewed by everybody!

[2021-08-25 09:42] ESapenaVentura opened #409 "Review x-consortia workshop agenda/strawperson proposal"
**Deadline**: 31st August, 2021

[2021-08-25 09:42] ESapenaVentura opened #410 "Review x-consortia workshop agenda/strawperson proposal"
**Deadline**: 31st August, 2021

[2021-08-25 09:42] #410 closed

[2021-08-25 12:55] ESapenaVentura opened #411 "Human fetal atlas"
### Project short name:
dcp6600438190759903

### Primary Wrangler:
@ESapenaVentura

### Secondary Wrangler:
@Wkt8

### Associated files

* Google Drive: https://drive.google.com/drive/folders/1_f0nsFsbLEQldudXAPgBcVHdaF9v44ZA

### Published study links

* Paper: https://science.sciencemag.org/content/370/6518/eaba7721

* Accessioned data: phs002003.v1.p1, [GSE156793](https://www.ncbi.nlm.nih.gov/g

[2021-08-25 14:22] ESapenaVentura commented on #411
Couple of notes:

- I am not super sure about some fields in the analysis protocol, so whoever secondary reviews please pay attention to these
- There are some ontologies missing (sci-RNA-seq3) that will be added in the new release

[2021-08-25 15:26] ESapenaVentura commented on #411
Project info has been updated: https://contribute.data.humancellatlas.org/projects/detail?uuid=a9301beb-e9fa-42fe-b75c-84e8a460c733

[2021-08-25 16:39] ESapenaVentura opened #412 "Review DCP2 repo PR"
https://github.com/HumanCellAtlas/dcp2/pull/38#event-5208055431

[2021-08-26 07:31] ESapenaVentura opened #414 "Make ticket for new technology: sci-RNA-seq3"
To support a new technology, sci-RNA-seq3, I have requested an ontology term.

**Ontology ticket**: https://github.com/EBISPOT/efo/issues/1239

**Useful page to understand sci-RNA-seq3**: https://teichlab.github.io/scg_lib_structs/methods_html/sci-RNA-seq3.html

[2021-08-27 08:14] ESapenaVentura opened #416 "Investigate issue with AtlasOfHumanTeeth"
**Submission**: https://contribute.data.humancellatlas.org/submissions/detail?uuid=96e500d8-11e9-4d25-a2e5-817e0628199f&project=d3446f0c-30f3-4a12-b7c3-6af877c7bb2d

**Issue**: No donors/specimens appear in the data browser

**Context**: https://embl-ebi-ait.slack.com/archives/C9XD6L0AD/p1630016136008400

[2021-08-27 08:56] ESapenaVentura opened #417 "Investigate issue with GSE118184KidneyOrganoid"
**submission**: https://contribute.data.humancellatlas.org/submissions/detail?uuid=68102d9a-0e91-4ba8-bb27-070bdba3c606&project=16ed4ad8-7319-46b2-8859-6fe1c1d73a82

**Issue**: Organoid genus species "unspecified"

**Context**: https://embl-ebi-ait.slack.com/archives/C9XD6L0AD/p1630016648010200

[2021-08-31 07:52] ofanobilbao commented on #260
Moving this ticket to Stalled while Bulk Updates is ready in Prod

[2021-08-31 08:09] ofanobilbao commented on #295
The number of projects missing cell count in the browser has gone up since the ticket was created. There are currently 47 projects missing the cell count.

[2021-08-31 12:20] ofanobilbao commented on #375
@ami-day does this dataset need to be brokered to SCEA? If yes, I will add the label and remove from this board. If no, I will just close the ticket. Thanks!

[2021-08-31 12:23] ofanobilbao commented on #384
@Wkt8 I added the SCEA brokering label and I will remove the Dataset label. That will remove this dataset from this board and only show it in the SCEA brokering board for tracking that independently. Please, let me know if it's not ok and I will revert it back. Thanks

[2021-08-31 15:30] ESapenaVentura opened #418 "Investigate issues with datasets"
For more context: https://humancellatlas.slack.com/archives/C01360XN04S/p1630422384014400

Raised by Valerie Reeves on 31/8/2021

1. **snRNA-seq_for_human_retina**, **CrohnsTherapyResistance**, and **TxDynEndotheilialCellsFromPluriStem** all still have issues with the data that we identified in previous releases, but the issues haven't been fixed yet.
1. **KidneyOrganoidsBioprinting** has a simila

[2021-09-01 08:34] Wkt8 commented on #404
(https://docs.google.com/document/d/15NsoqNYKAh1-tesj9H-G9lw3Nmt_Gu9uyzxcaqDM8hs/edit#heading=h.r43bcafrvlxd)
Steps are now with Tony to push this forward by meeting Sanger to ask if each separate institution needs separate Data Access Requests..

[2021-09-01 08:54] Wkt8 commented on #417
Have followed up with a slack message: https://embl-ebi-ait.slack.com/archives/C9XD6L0AD/p1630486450020300?thread_ts=1630016648.010200&cid=C9XD6L0AD

[2021-09-02 14:39] ESapenaVentura commented on #411
Thanks for the review @Wkt8 !

I have looked and corrected the dissociation protocols and added the 2 enrichment protocols mentioned, as well as updated the linking to the protocols in the cell suspension tab

About the cell suspension tab... It's showing all the descriptions for me?

And last thing: I wasn't sure about the content description for the annotation files. Any ideas?

The new file can

[2021-09-03 08:51] Wkt8 commented on #405
Made additional changes and added references.

[2021-09-03 08:57] Wkt8 opened #419 "GDPR Diagram"
Create a workflow diagram for data that comes from different sources, and comes contains or does not contain living donors, and is available in the public domain / not available in the public domain. Describes for each set of characteristics whether the data is subject to GDPR / data protection, or if it is able to be wrangled by us.

**Acceptance criteria for the task:**
- GDPR workflow diagram c

[2021-09-03 08:58] Wkt8 commented on #419
https://miro.com/app/board/o9J_lzQKwKI=/

https://docs.google.com/document/d/1HD1Z2F9vfevmsqRzKBGd_858_GKiUkzSopXs9bKnTk8/edit#

[2021-09-03 08:58] Wkt8 commented on #419
Now under review by wranglers and Tony

[2021-09-03 09:57] ESapenaVentura commented on #167
This ticket has a dependency on https://github.com/HumanCellAtlas/metadata-schema/issues/1409

[2021-09-03 10:24] Wkt8 commented on #411
Hi @ESapenaVentura!

Nice! Sorry, I did not communicate what I meant about the cell suspension tab properly. In Row 22 on the cell suspension tab, there's the additional description "47,Xy,+18" which is not present in the other tabs.

As for the annotation files I'm not quite sure either. "Annotation operation:0226" works but it is really broad and none of the child terms under "Annotation" are qu

[2021-09-06 08:20] ESapenaVentura opened #420 "No CGMs in DCP9 release"
**Description of the issue**

As per what was discussed in the [slack channel](https://embl-ebi-ait.slack.com/archives/C9XD6L0AD/p1630713676022700), CGMs are not showing up for a lot of projects. This is likely to happen because the `genus_species` field is not filled.

 - [x] [ad04c8e7-9b7d-4cce-b8e9-01e31da10b94](https://contribute.data.humancellatlas.org/projects/detail?uuid=ad04c8e7-9b7d-4cce-

[2021-09-06 12:47] ESapenaVentura commented on #420
@Wkt8  asked about fields used for indexing matrix files

[2021-09-06 13:58] ESapenaVentura commented on #416
I have added the 10 extra processes https://contribute.data.humancellatlas.org/submissions/detail?uuid=96e500d8-11e9-4d25-a2e5-817e0628199f&project=d3446f0c-30f3-4a12-b7c3-6af877c7bb2d

- [ ] Will to add correct linking and re-export

[2021-09-06 14:14] ESapenaVentura commented on #420
`d7845650-f6b1-4b1c-b2fe-c0795416ba7b` dataset is being fixed at the moment

[2021-09-06 14:45] amnonkhen opened #421 "should past team members have access"

[2021-09-06 14:46] amnonkhen commented on #421
See, for example https://github.com/HumanCellAtlas/metadata-schema/settings/access.
Many past team members have permissions there.

The question is also relevant for:
- google drive
- slack
- git

Should they be removed?

[2021-09-06 17:03] Wkt8 commented on #420
Have exported an update (d7845650-f6b1-4b1c-b2fe-c0795416ba7b) as an update to existing metadata for release 10 (sep 27th). This should fix the problem.

[2021-09-07 09:03] Wkt8 commented on #419
@gabsie

[2021-09-07 09:03] ESapenaVentura commented on #419
### AI
@gabsie and @ESapenaVentura to check

[2021-09-07 11:52] amnonkhen commented on #387
XQ has reported problems opening the file via email on 7/9/2021 04:36.
I tested locally the file sent to him and ti seems to be openable.
I asked him to provide more information: OS, zip tool, screenshot, error message.

[2021-09-07 14:54] #396 closed

[2021-09-07 14:55] #412 closed

[2021-09-07 14:55] #394 closed

[2021-09-07 14:55] #409 closed

[2021-09-07 14:55] #403 closed

[2021-09-07 15:04] ESapenaVentura commented on #416
I have corrected the linking and exported - Seems fine

[2021-09-07 20:26] willrockout commented on #420
`79b13a2a-9ca1-42a4-97bd-70208a11bea6` Doesn't have any CGMs so its good

[2021-09-08 07:43] ofanobilbao commented on #322
Just a thought, that maybe this ticket needs splitting in separate tickets.

[2021-09-08 08:41] ofanobilbao commented on #383
Closing as it was resolved. No longer relevant

[2021-09-08 08:42] #383 closed

[2021-09-08 08:45] ami-day opened #422 "Project stuck in "exporting" status"
I have a project stuck in "exporting" status in ingest production. It should have been exported by now: https://contribute.data.humancellatlas.org/projects/detail?uuid=1ea27d07-056b-488e-8b72-b6de5f9774ec&tab=upload

[2021-09-08 08:54] ESapenaVentura opened #423 "Investigate how many matrix files do not have content_description: "Matrix""

[2021-09-08 10:14] ESapenaVentura opened #424 "Summary of metadata issues - Releases"
**Acceptance criteria**
- [ ] A summary with numbers has been written
- [ ] A discussion with @tburdett follows

[2021-09-08 12:19] ESapenaVentura commented on #418
Point 1:
- Crohntherapy issues: https://github.com/ebi-ait/hca-ebi-wrangler-central/issues/240
- TxDynEndothelialCellsFromPluriStem (UCSC dataset): Labelled `file_index` field incorrectly
- snRNA-seq_for_human_retina: More than 1 set of files per bundle. **DCP1 DATASET**

Point 2:
- KidneyOrganoidsBioprinting: More than 1 set of files per bundle, no lane index

Point 3:
- Stress-inducedRNA–chromat

[2021-09-08 13:33] tburdett commented on #424
**Invalid matrix ontology value**: additional context

For the browser to index CGMs correctly, the browser needs both a recognised `file_source` (e.g. GEO, publication) and a recognised `content_description` (exactly equal to `matrix`)

In the ticket #420, we have identified projects with several spreadsheet columns that have been completed by wranglers differently to how the browser expects. To

[2021-09-08 13:47] tburdett commented on #424
There appears to be logic baked into Azul/browser about how the decision is made to display files as contributor generated matrices. This is logic that currently isn't validated in ingest. We need to find out what the rules used by the browser are to determine whether is displayed as a matrix or not.

Additionally, because file_source and content_description are not required fields, any content is

[2021-09-08 14:50] ESapenaVentura commented on #423
Some quick insight on analysis files:
- 414 files that don't have content_description nor file source
- 163 files that don't have content_description but have file_source
- 28 files with content description but not file source
Restrictions applied:
- Analysis Files that have schema version >= 6.3 (When file_source was introduced)
- Analysis files with dcpVersion > 2021-05-21 (Last date we used the

[2021-09-08 15:16] ESapenaVentura opened #425 "Managed taskforce: Wrangle elected dataset"
**Description of the issue**
To avoid as many institutions as possible accessing the [meta]data from EGA, we have set up a task to determine if the metadata needed to run the HCA pipelines can be extracted from metadata available in the public domain.

**Acceptance criteria**
- [ ] Metadata is extracted. If some fields can't be extracted, highlight which ones

[2021-09-08 15:30] ESapenaVentura commented on #423
All the analysis files in ingest, grouped by project UUID:
[https://app.zenhub.com/files/261790554/0780c10c-d7bf-472a-948f-1fbc8a7dc4e1/download](https://app.zenhub.com/files/261790554/0780c10c-d7bf-472a-948f-1fbc8a7dc4e1/download)

[2021-09-08 17:14] theathorn commented on #424
The [DCP/2 System Design specification Section 5.1](https://github.com/HumanCellAtlas/dcp2/blob/main/docs/dcp2_system_design.rst#contributor-generated-matrices-cgms) describes the metadata requirements for CGMs, including:

The content_description field, an ontologized field, is set to:
{
    "text": "Contributor-generated matrix",
    "ontology": "data:2082",
    "ontology_label": "Matrix"
}

[2021-09-08 17:29] pnejad commented on #424
@theathorn "matrix" is not specific enough for users (& wranglers). Here is the list of ontologies we would prefer to use to avoid rework in the future:

Gene expression matrix | data:3112
Count matrix | data:3917
Gene ID | data:2295
Sequence features metadata | data:2914
Sequence coordinates | data:2012
Cell type name | data:2892
Annotated text | data:3779
Molecular property identifier | data:211

[2021-09-08 17:35] tburdett commented on #424
@theathorn the key piece of information we need, which is not clear from the specification, is what values for the `content_description` field are acceptable for the browser to recognise matrices as contributor generated matrices. You mentioned on slack that...

This is clear, however, what isn't specified is what **values** are expected. Just "Matrix" - i.e. edam [data.2082](https://www.ebi.ac.uk

[2021-09-08 17:51] tburdett commented on #424
To provide a specific example of some of the ambiguity that was causing us confusion - for the project [`HumanHeartMaturationsnSeq`](https://data.humancellatlas.org/explore/projects/bd400331-54b9-4fcc-bff6-6bb8b079ee1f/project-matrices), we see two contributor generated matrices (heartFYA.Rds and heart-counts.Rds).

The [explore view](https://data.humancellatlas.org/explore/files?filter=%5B%7B%22f

[2021-09-08 19:59] hannes-ucsc commented on #424
The rule that determines whether a file is a matrix looks like the following pseudo-code:

[code]

The above is a heuristic that we intend to replace with logic that considers the ontology term relationships. Any child term of the most general term for matrix (forgot which one) will be considered as the description of a matrix.

The rule that determines whether a file is a CGM

[code]

[2021-09-08 20:00] hannes-ucsc commented on #424
I neglected to document the heuristic in the spec.

[2021-09-08 20:08] hannes-ucsc commented on #424
@pnejad many of those terms you list aren't children of the Matrix term (data:2082). For example, `Sequence coordinates` (data:2012) is not:

![image](https://user-images.githubusercontent.com/5143256/132578074-75ce1414-267b-40c4-8583-7351a016409b.png)

[2021-09-08 20:13] rachadele commented on #424
@hannes-ucsc @pnejad some files associated with CGMs aren't matrices, e.g. barcode files or gene identifiers. if possible we would still like them to show up under CGMs on the data portal.

[2021-09-08 23:50] hannes-ucsc commented on #424
We don't have a mechanism for associating files with CGMs. The M in CGM stands for matrix so listing a file that is not a matrix but is just associated with a matrix is something we didn't design for.

A) ZIP or TAR the matrix and the associated files and describe the resulting archive file with the `content_description` terms (the property is an array) for each of the files inside the archive. On

[2021-09-09 12:52] ESapenaVentura commented on #423
### Changes done to the list:

- Deleted errored files (Assumed error in file == submission not sent)
- Deleted files from projects not submitted (Status != Exported, Complete)

Questions I tried to answer:
- How many of the files with file source AND content_description have wrong content description?
    - How many files do we need to manually check? 14 projects - 105 files
    - How many files

[2021-09-09 13:32] tburdett commented on #424
The rules (in pseudocode) are very helpful, thanks @hannes-ucsc. I think the wranglers can review whether it's realistic to fix the content to meet these rules for release #9.

So to summarise, and as I mentioned above, these would be the actions if we expect this to be solved purely by wranglers:

Once this is complete, we'll flag if there are matrices that can't be displayed based on the current

[2021-09-09 13:34] ESapenaVentura commented on #163
New accessions have been written to project

[2021-09-09 13:53] ESapenaVentura commented on #411
Ready except for missing ontology

[2021-09-10 08:24] ESapenaVentura commented on #31
https://www.ebi.ac.uk/arrayexpress/experiments/E-MTAB-10287/ is undergoing maintenance to add the new file so will work on this when available

[2021-09-10 08:49] Wkt8 commented on #423
Further details to be agreed at the wrangler call with UCSC today, then meet the browser team after the meeting to handover details.

[2021-09-10 20:54] willrockout opened #426 "CGM fixes for Release 7 and 8"
**Description of the task:**
Fixed content descriptions and project source fields.

**Project List:**

**Release 7**
- [x] [d3446f0c-30f3-4a12-b7c3-6af877c7bb2d](https://contribute.data.humancellatlas.org/projects/detail?uuid=d3446f0c-30f3-4a12-b7c3-6af877c7bb2d) Fix Content Description, Analysis protocol Type, and File Source
- [x] [8a40ff19-e614-4c50-b23b-5c9e1d546bab](https://contribute.data.hu

[2021-09-13 08:30] ESapenaVentura opened #427 "Update documentation for regular task dataset acknowledgement"

[2021-09-13 08:41] ESapenaVentura opened #428 "Review DCP2 repo PRs"
- [x] https://github.com/HumanCellAtlas/dcp2/pull/34

- [x] https://github.com/HumanCellAtlas/dcp2/pull/41

- [x] https://github.com/HumanCellAtlas/dcp2/pull/42

[2021-09-13 08:53] #427 closed

[2021-09-13 10:00] ESapenaVentura opened #429 "GSE168405_organoidendometrial"
### Project short name: dcp4780289864815075

### Primary Wrangler: @ESapenaVentura / @ami-day

### Secondary Wrangler:
@ami-day / @ESapenaVentura

### Associated files

* Google Drive: https://drive.google.com/drive/folders/1SEI5pASMURCDo6IvPvrvWvK5AUt7Tk1V

**Latest google sheet:**
https://docs.google.com/spreadsheets/d/1MKzczXQV94nZHhSCiLWElAMhpeCe7Cjk2bZXZg_4g5Y/edit#gid=390429689

### Publishe

[2021-09-13 10:49] ESapenaVentura commented on #426
@willrockout Are all of these UCSC datasets?

[2021-09-13 15:42] ami-day commented on #418
Point 2 KidneyOrganoidsBioprinting: I updated the spreadsheet with lane indices, but I think the problem is having multiple cell suspension ids for each single run / pair of fastq files. This was intended due to the sequencing experiment being run on pooled sample replicates, though i am not sure if this is an appropriate structure for pipelines to process currently

[2021-09-13 16:03] rachadele commented on #426
@ESapenaVentura yes

[2021-09-13 16:35] willrockout commented on #426
@ESapenaVentura Sorry went over my time completing this on Friday. As Rachel said these are only UCSC datasets, I've listed below which are complete status/need kicking, have been newly exported, and a final one where there is a linking problem:

Need kicking:

1. 403c3e76-6814-4a2d-a580-5dd5de38c7ff
2. 7880637a-35a1-4047-b422-b5eac2a2a358
3. 71436067-ac41-4ace-be1b-2fbcc2cb02fa
4. d012d476-8f8c-4

[2021-09-13 16:39] willrockout commented on #420
@ESapenaVentura As with the other ticket I've listed below the breakdown of our datasets current status:

Complete Status/Needs kicking:

1. ad04c8e7-9b7d-4cce-b8e9-01e31da10b94
2. 34cba5e9-ecb1-4d81-bf08-48987cd63073
3. 56e73ccb-7ae9-4fae-a738-acfb69936d7a
4. 8dacb243-e918-4bd2-bb9a-aac6dc424161
5. da2747fa-2921-42e0-afd4-39ef57b2b88b
6. dd7f2436-0c56-4709-bd17-e526bba4cc15
7. 4af795f7-3e1d-4341-

[2021-09-14 07:02] ESapenaVentura commented on #239
Impossible to demux without submitter input - Runs are missing index files

[2021-09-14 07:14] #393 closed

[2021-09-14 07:16] ESapenaVentura opened #430 "contributor account for: H. E."
Please create an account a contributor.

*Contributor details:*
* email: heather.etchevers@inserm.fr

Request Details:
* Requested by: H. E.

[SOP link](https://ebi-ait.github.io/hca-ebi-wrangler-central/SOPs/dataset_wrangling_SOP.html#aws-user-for-contributors)

[2021-09-14 07:39] ESapenaVentura opened #431 "Update contributor spreadsheet instructions with analysis files information"
**Description of the issue**:
As a contributor, new to the HCA schema and methods for collecting metadata, I would like to know what the `analysis_file` tabs are for and how to fill them out.

**Acceptance criteria**:
- [ ] The [Spreadsheet quick guide](https://ebi-ait.github.io/hca-metadata-community/contributing/spreadsheet-guide.html) has been updated

[2021-09-14 07:54] ESapenaVentura opened #432 "huDevAtlas_cardiovascular"
### Project short name: huDevAtlas_cardiovascular

### Primary Wrangler: @ESapenaVentura

### Secondary Wrangler: TBD

### Associated files:

* Google Drive: https://drive.google.com/drive/folders/1693SCT_JaM4CSp0UOh568NvNghrrbyp9

### Key Events

- [x] Send initial instructions about contributing, including questionnaire and T&Cs
- [x] Receive project questionnaire
- [x] Assign the Primary Wrangl

[2021-09-14 08:21] ESapenaVentura opened #433 "Is terms and conditions form needed?"
**Description of the issue**:
As a contributor, I would like to contribute my data to the HCA. I have filled the dataset questionnaire form, where I have been already ask if my data can be openly released at several levels. Filling out the T&C makes me feel like I am duplicating work.

**Acceptance criteria**:
- [ ] The T&C form is reviewed (Alongside the important information in the dataset quest

[2021-09-14 08:42] ESapenaVentura opened #434 "Investigate HCAO vs HCA EFO slim"
https://github.com/EBISPOT/efo/issues/1248

[2021-09-14 08:54] ESapenaVentura commented on #426
@jacobwindsor

[2021-09-14 09:00] Wkt8 commented on #237
This will be the spatial transcriptomics document that ami is working on

[2021-09-14 09:04] Wkt8 commented on #406
Currently there is no way for EBI to send multiplexed data to analysis components without making pipelines fail. We were asked to demultiplex data before sending it.
- Open question about whether we should be demultiplexing data before we send it to them, or they should be demultiplexing data.
     - From the initial design of the HCA, data should always be demultiplexed before sending to downstre

[2021-09-14 09:08] Wkt8 commented on #239
Meeting with @Wkt8 @ESapenaVentura and @ami-day to talk about demultiplexing.

[2021-09-14 09:14] amnonkhen commented on #387
contacted both Rachel and XQ suggesting a conf call to sort this out.

[2021-09-14 09:27] #375 closed

[2021-09-14 09:27] #377 closed

[2021-09-14 09:40] ESapenaVentura commented on #423
Moving forward, only file_source and entity type will be determinant for what's considered a CGM

That means, we need to correct the files without a file source and (if possible but optional) the content_description

[2021-09-14 09:47] ESapenaVentura commented on #426
@willrockout for the dataset that needs to be soft-deleted:

Why does it need to be soft deleted? You can update the processes to add the enrichment protocol. I think I didn't go through it because we had limited time but if you go to the `process` tab and expand on the processes, you can re-link existing processes (That includes associating protocols)

[2021-09-14 10:37] ESapenaVentura commented on #411
The new ontology is "out"! (Still a couple of days before the deployment is effective) I will correct the dataset with the new ontology: `sci-RNA-seq3` (EFO:0030028)

[2021-09-14 10:56] ESapenaVentura commented on #417
Any news on this?

[2021-09-14 11:27] ami-day commented on #418
I have fixed and resubmitted the metadata for 1. CrohnsTherapyResistance

[2021-09-14 11:29] ami-day commented on #418
Added the internally blocked label because updates to this dataset: KidneyOrganoidsBioprinting are blocked by the inability to pipelines to take multiplexed sequence data. Enrique, Wei and I are meeting this afternoon to discuss way forward.

[2021-09-14 12:28] amnonkhen commented on #418
@ami-day @Wkt8 @ESapenaVentura is this a single ticket? should it be split into 3 tickets (one for each dataset)?

[2021-09-14 13:07] Wkt8 commented on #417
It appears to be an issue with subgraph structure, and how the indexer obtains the genus_species information. It seems that the indexer obtains "genus_species" from donor_organism.genus_species, and the subgraphs in this project do not have donor_organisms.

Additionally, in our schema we have multiple 'genus_species' in order to be agnostic. Hannes has an idea on how to amend the metadata-schema

[2021-09-14 13:15] amnonkhen opened #435 "Release 10"

[2021-09-14 15:13] willrockout commented on #426
@ESapenaVentura Oh didn't know that we could fix graph things is this because it is just attaching to a process rather than creating a new entitity?

[2021-09-14 15:25] ESapenaVentura commented on #426
Exactly :)

We also have programmatic ways of creating new processes (and with this "re-linking" you are effectively creating new processes), but that's a bit more advanced (Happy to teach it if needed, I just don't want to have a "hacker" way of doing this written down!).

Also due to how the data is created in the staging area, you'll need to update the "bundle" process (the process linking a bi

[2021-09-14 15:55] ESapenaVentura commented on #426
In the UI, actually, there's no way to update processes in the spreadsheet currently

[2021-09-15 08:56] amnonkhen opened #437 "Release 9"

[2021-09-15 09:02] Wkt8 commented on #110
Deprioritizing over other datasets for now.

[2021-09-15 09:03] Wkt8 commented on #339
E-MTAB-9532 is public! Picking up wrangling.

[2021-09-15 09:14] amnonkhen opened #438 "Release 11"

[2021-09-15 09:14] amnonkhen opened #439 "Release 12"

[2021-09-15 09:46] ESapenaVentura opened #440 "Input on SCEA's visium SOP"
https://ea-hca-pridecurators.slack.com/archives/C02AHMG5SMP/p1631699110005300

[2021-09-15 10:10] ESapenaVentura opened #441 "Small script to cross-check DCP-SCEA datasets"

[2021-09-15 10:10] ami-day opened #442 "Fastq file removal required to unblock dataset for release 10"
I have an in-progress dataset in which too many files were synced (we are not yet able to sync specific files using hca-util sync, only a directory containing files). In order to submit this dataset some of the fastq files need to be removed from ingest prod.

[2021-09-15 10:24] ofanobilbao commented on #295
I have linked this ticket to the Migration ticket on the Dev Board. I believe once the blocking ticket is done, this will also be complete.

[2021-09-15 10:37] jacobwindsor commented on #426
I have set the following projects to "valid" status so that they are ready to be reexported:

[code]

The project `ebacfc36-19d5-4adb-bc6e-122e8fbbc68a` does not seem to exist anymore.

Please re-export these when ready and ensure you click the "Submit only metadata to the Human Cell Atlas." option

@ESapenaVentura @willrockout

[2021-09-15 10:55] jacobwindsor commented on #420
@willrockout the following projects are now in valid state and are ready to export with the only metadata option:

[code]

[2021-09-15 11:29] gabsie commented on #423
Thanks, Enrique, for the analysis and follow up.

So from your list above, ... how many still need checking? whether their content description is right/wrong/missing?
I guess now we are not that bothered about file source, since the relaxing of the rule?

Thanks!

[2021-09-15 13:05] ESapenaVentura commented on #423
@gabsie the contrary, what is being relaxed is the matrix ontology in the content description

Now we need to make sure that files do have file_source

From the projects above, we have all of them covered in our lists

We can re-run the analysis after we make the fixes to the CGMs

[2021-09-15 14:13] ESapenaVentura commented on #260
Corrected version of the human-readable list from above:

- [ ] Project [2086eb05-10b9-432b-b7f0-169ccc49d270](https://contribute.data.humancellatlas.org/projects/detail?uuid=2086eb05-10b9-432b-b7f0-169ccc49d270)
- ff7925dc-34f2-4e0b-a56b-a5b2f8ad68ef = end_bias: 3 prime tag
- ff7925dc-34f2-4e0b-a56b-a5b2f8ad68ef = library_construction_method.text: 10X 3' v2 sequencing
- ff7925dc-34f2-4e0b-a56b-a5

[2021-09-15 14:14] gabsie commented on #423
Hey - I know the rule about 'matrix' is relaxed for content description, however I feel we need to always have the right one entered there as well as not have missing ones, because if they decide to show that text in the table, we don't want it to appear empty..

So I guess my question is, for how many do we have to update file source?
Additionally, are we confident with the content descriptions w

[2021-09-15 16:31] rachadele commented on #426
for some reason I'm not able to access cfcdff5-dee1-4a7b-a591-c09c6e850b11 ?

[2021-09-15 16:34] rachadele commented on #426
also, the correct UUID for ebacfc36-19d5-4adb-bc6e-122e8fbbc68a is actually 8bd2e5f6-9453-4b9b-9c56-59e3a40dc87e. Can we get the status changed to "valid" on that project?

[2021-09-15 16:50] rachadele commented on #420
I'm not able to access 8dacb243-e918-4bd2-bb9a-aac6dc42416. Also, could we have the status for b9484e4e-dc40-4e38-9b85-4cecf5b8c068 changed to valid as well?

[2021-09-16 07:52] ESapenaVentura commented on #423
I agree, we should always fill those fields to the best of our extent!

All the analysis files with the file_source missing are covered by the other CGM tickets

On the content descriptions side, let me have a look

And to the last question, I meant the other CGM tickets!

[2021-09-16 08:02] ESapenaVentura commented on #423
The content description issue is covered also in the other CGM tickets

[2021-09-16 08:27] ESapenaVentura commented on #208
Done - Merged to master and staging

[2021-09-16 08:32] gabsie commented on #423
shall we close this one?

[2021-09-16 08:32] ESapenaVentura commented on #420
@rachadele 8dacb243-e918-4bd2-bb9a-aac6dc42416 does not exist, are you guys sure it's the proper UUID?

[2021-09-16 08:35] ESapenaVentura commented on #423
I think so 👍

[2021-09-16 09:16] jacobwindsor commented on #420
@rachadele I believe you mean 8dacb243-e918-4bd2-bb9a-aac6dc424161

[2021-09-16 09:29] gabsie commented on #423
Yupeee - they are all filled!

[2021-09-16 09:30] #423 closed

[2021-09-16 09:47] ESapenaVentura opened #443 "How many datasets with erroneous project metadata?"

[2021-09-16 12:51] ESapenaVentura commented on #443
[code]

All these projects shouldn't have version 15.0.0 of the schema

[2021-09-16 12:57] ESapenaVentura commented on #260
On pause until we solve the migration issue

[2021-09-16 13:37] jacobwindsor commented on #426
@rachadele Sorry, that was a typo, fixed now.

8bd2e5f6-9453-4b9b-9c56-59e3a40dc87e is now in "valid" state

[2021-09-16 13:39] jacobwindsor commented on #420
@rachadele b9484e4e-dc40-4e38-9b85-4cecf5b8c068 is now in "valid" state

[2021-09-16 15:22] rachadele commented on #420
@jacobwindsor @ESapenaVentura yes, sorry that was a typo! thank you!

[2021-09-16 19:10] jahilton commented on #418
Confirmed that my team submitted that dataset. Can someone clarify the issue here? I am unfamiliar with the "table" being mentioned here & what "organ info" is.

[2021-09-17 08:09] ESapenaVentura commented on #443
As per the conversation here https://embl-ebi-ait.slack.com/archives/C014HMTV0FN/p1631798343154000

The projects seem fine, so I'll move this to done

[2021-09-17 09:26] ESapenaVentura commented on #419
The diagram looks fine to me!

Only point I am not sure about is about datasets that we archive and contain living donors; needs clarification

[2021-09-17 09:37] Wkt8 commented on #419
To clarify, it would be useful to get someone to double-check the following scenario:
When a contributor comes to us with data that comes from living donors, and explicitly tells us to archive it in ENA, are we considered data controllers?
If so, we presume that we would not be able to submit that to the DCP, as we are data controllers.

[2021-09-17 09:37] Wkt8 commented on #419
@gabsie and @ofanobilbao your input would be valuable here!

[2021-09-17 12:43] ami-day commented on #317
Error when uploading to ingest prod., possibly because of known issues with imaging tabs cause problems with import: https://contribute.data.humancellatlas.org/submissions/detail?uuid=3cf32c24-c2a8-4874-a413-aeb1ab66b2af

[2021-09-17 12:46] ami-day opened #445 "Issues uploading a dataset with imaging tabs to ingest prod."
I am working on an imaging technology dataset, and I am getting an error importing the spreadsheet to ingest production. I think this is because of known problems with the imaging tabs, but it is difficult to interpret the error message I am getting.

submission in ingest production: https://contribute.data.humancellatlas.org/submissions/detail?uuid=3cf32c24-c2a8-4874-a413-aeb1ab66b2af

[2021-09-17 14:50] Wkt8 opened #446 "Updating / Overwriting Lavaert thymus"
**Description of the task:**
Ray exported a project only with processed data due to GDPR concerns
(https://data.humancellatlas.org/explore/projects/dbd836cf-bfc2-41f0-9834-41cc6c0b235a , https://contribute.data.humancellatlas.org/projects/detail?uuid=dbd836cf-bfc2-41f0-9834-41cc6c0b235a&tab=project)

Stanford has now wrangled that project with all of the fastqs
https://humancellatlas.slack.com/arc

[2021-09-20 08:53] Wkt8 commented on #426
@rachadele and @willrockout is this ticket now complete with the import forms sent for all the tickets?

[2021-09-20 10:05] ESapenaVentura commented on #411
Updated with the latest ontologies, both the ones requested by @Wkt8 and the one requested by me. Trying to ingest it now!

[2021-09-20 10:37] jacobwindsor commented on #445
I think this should be on the dev board

[2021-09-20 11:22] ami-day commented on #265
Decided to go ahead and upload this dataset to the September release milestone using the fastqs available in ENA given no response from the authors. Currently re-uploading ~80 fastq files which were displayed as invalid in ingest prod.

[2021-09-20 11:24] ami-day commented on #378
Uploaded the fastq files and matrix to ingest prod. Jacob is currently working on an ingest issue which seemed to be triggered when an extra incorrect fastq file was uploaded then removed. We can submit it once the issue is fixed.

[2021-09-20 11:25] ami-day commented on #317
Keeping this in the secondary review column as it still needs secondary review while the imaging tabs issues are investigated.

[2021-09-20 12:01] ami-day commented on #240
This has been updated (bulk updates).

[2021-09-20 12:42] ESapenaVentura commented on #411
Uploaded submission

- Files are ok

Run ingest graph validator:
- Failed 2 tests: `contains_cell_barcode` (This technology has another type of barcodes) and `paired_end_2_files` due to linking to analysis files

Other than that, submission is valid. Hitting submit!

[2021-09-20 13:21] ESapenaVentura commented on #406
Kylee sent an email asking for a meeting, waiting for other pipeline members to confirm availability

[2021-09-20 13:26] Wkt8 commented on #339
Ready for secondary review.
I have had trouble determining which tabs to use for the image files.
I have used the following experimental design of
Donor -> specimen -> Cell suspension -> sequencing protocol + library prep protocol + imaging protocol + analysis protocol -> analysis file

Please let me know your thoughts!

![Screenshot 2021-09-20 at 14.25.27.png](https://images.zenhubusercontent.com

[2021-09-20 13:41] ESapenaVentura commented on #339
Taking the secondary reviewer role for this dataset!

[2021-09-20 14:01] Wkt8 commented on #317
Assigning self for secondary review.

[2021-09-20 14:27] ami-day commented on #230
The latest library_preparation_protocol schema is here: https://schema.humancellatlas.org/module/process/sequencing/5.2.6/barcode The umi and cell barcode offset and length value types have not yet been updated to enable a range in values.

[2021-09-20 15:10] ami-day commented on #33
I was able to get the 10X technology version from the GEO metadata based on the barcode lengths info. The metadata also describes it as being from 1 human male donor. Have requested the fastq files from NCBI cloud delivery as they are not available in the correct format from ENA.

[2021-09-20 15:27] ami-day commented on #418
Hi @jahilton I am not sure what this means either, as we are not able to validate and submit datasets without organ metadata via dcp ingest. This description originally came from Valerie Reeves, are you/your team able to get in touch with Valerie about this?

[2021-09-20 15:28] ami-day commented on #418
I think for now it is useful to have this 1 ticket with all the info., if there are any longer term issues that we can't fix now (including submitting multiplexed data, we're meeting with pipelines about this on Weds) then I will create new separate tickets.

[2021-09-20 15:42] ami-day commented on #418
Creating a new separate ticket for the snRNA-seq_for_human_retina dataset. The submission in ingest prod. is here: https://contribute.data.humancellatlas.org/submissions/detail?uuid=7d515499-b5b6-4083-95cd-6a393344865e&project=9c20a245-f2c0-43ae-82c9-2232ec6b594f and it was wrangled by Zina. However it is very old, a DCP1 dataset. We cannot currently update DCP1 datasets. Hence, creating a separat

[2021-09-20 15:44] ami-day opened #447 "snRNA-seq_for_human_retina: needs update (DCP1 dataset)"
This DCP1 dataset: **snRNA-seq_for_human_retina** needs updating. Specifically lane indices are needed to distinguish the multiple files per input cell suspension. However it is a **DCP1 dataset**, we cannot update DCP1 datasets currently. The submission in ingest prod. is here: https://contribute.data.humancellatlas.org/submissions/detail?uuid=7d515499-b5b6-4083-95cd-6a393344865e&project=9c20a245

[2021-09-20 16:06] ESapenaVentura commented on #339
Hi Wei! I have reviewed your dataset, overall I have some comments and a suggestion for the visium:

## Review

### Project
Missing “estimated_cell_count"

### Project - Contributors
Added “No” to all missing values on corresponding contributor

### Donor organism
Changed embryo’s age to “gestational age”. Happy to discuss about it, but Age in that field is measured since birth, which I think it’s

[2021-09-20 20:29] rachadele commented on #426
@Wkt8 yes!

[2021-09-21 06:03] ofanobilbao commented on #422
@ami-day any updates on this?

[2021-09-21 06:04] ofanobilbao commented on #442
@ami-day could you, please, add link to the dataset?

[2021-09-21 08:16] ESapenaVentura opened #448 "geo_to_hca tools throws unboundLocalError"
**Description of the issue**
When running the tool on the GEO_to_HCA repository, some accessions throw an error:
[code]

And the spreadsheet for that project does not generate

**How to reproduce this bug**
1. Clone the `geo_to_hca` repository or pull latest version
1. Run the following command: `python apps/geo_to_hca.py --accession GSE172176 --output_dir ~/geo_to_hca_test_area/`

[2021-09-21 09:00] ami-day commented on #442
It's done

[2021-09-21 09:00] #442 closed

[2021-09-21 09:50] ESapenaVentura opened #449 "Prepare possible graphs for demux meeting"

[2021-09-21 10:31] ami-day commented on #420
As listed above, the species, organ and organ part for this project are not showing up properly:
**uuid:** e57dc176-ab98-446b-90c2-89e0842152fd
**hca portal link:** https://data.humancellatlas.org/explore/projects?filter=%5B%7B%22facetName%22:%22project%22,%22terms%22:%5B%22KidneyOrganoidsPlasticity%22%5D%7D%5D

It looks from the spreadsheet that this is likely because:

- A cell line is used as t

[2021-09-21 10:50] ami-day commented on #422
This is now sorted so I am closing the ticket.

[2021-09-21 10:51] ami-day commented on #440
Moving this back to in progress because I want to have a look at it too.

[2021-09-21 10:55] #445 closed

[2021-09-21 10:58] ami-day commented on #378
Exported and submitted import form.

[2021-09-21 12:10] ESapenaVentura commented on #429
Started wrangling but it's a difficult dataset - Contains assembloids

I will contact @ami-day when capacity allows

[2021-09-21 12:40] ESapenaVentura opened #450 "earlyBrainDevelopment"
### Project short name:
earlyBrainDevelopment

### Primary Wrangler:
@ESapenaVentura

### Secondary Wrangler:
@Wkt8

### Associated files

* Google Drive: https://drive.google.com/drive/folders/17UGY7aXl9kBZ4G6Rtz_1aZX4BpsG14vy

### Published study links

* Paper: https://www.nature.com/articles/s41593-020-00794-1

* Accessioned data: https://assets.nemoarchive.org/dat-0rsydy7

### Key Events

- [

[2021-09-21 15:45] hannes-ucsc commented on #420
https://humancellatlas.slack.com/archives/C9XD6L0AD/p1630016648010200

[2021-09-22 08:34] ofanobilbao commented on #420
@willrockout and @rachadele can you, please, confirm if you are done with your datasets? If you could tick the boxes and confirm that would be great.

[2021-09-22 08:49] ESapenaVentura commented on #391
@jacobwindsor what is the status on this?

[2021-09-22 08:59] Wkt8 commented on #420
@ami-day this is related to this conversation in slack (https://embl-ebi-ait.slack.com/archives/C9XD6L0AD/p1630486450020300?thread_ts=1630016648.010200&cid=C9XD6L0AD) about how the browser obtains the value for genus_species from donor_organism or specimen_from_organism - they currently do not obtain it from organoid.genus_species

This ticket was made for fixing this issue: https://github.com/Hum

[2021-09-22 09:03] ESapenaVentura opened #451 "Dataset "FetalCellAtlas" stuck on export"
**What's the issue?**
The dataset [A human cell atlas of fetal gene expression](https://contribute.data.humancellatlas.org/submissions/detail?uuid=9e323308-3c9f-4a59-933d-8a30c60b85be&project=a9301beb-e9fa-42fe-b75c-84e8a460c733) is stuck in exporting status

**What submission?**
* [A human cell atlas of fetal gene expression](https://contribute.data.humancellatlas.org/submissions/detail?uuid=9e32

[2021-09-22 09:09] aaclan-ebi commented on #451
The wait for data transfer to complete timed out.

[code]

[2021-09-22 09:09] Wkt8 opened #452 "E-MTAB-9389_FetalDownSyndrome"
### Project short name:
FetalDownSyndrome

### Primary Wrangler:
Wei Kheng Teh

### Secondary Wrangler:

### Associated files
* Google Drive:

### Published study links
* Paper: Intrinsic and extrinsic regulation of human fetal bone marrow
haematopoiesis and perturbations in Down syndrome
https://www.biorxiv.org/content/10.1101/2021.06.25.449771v1

* Accessioned data:
E-MTAB-9389

### Key Events

[2021-09-22 09:17] ESapenaVentura opened #453 "Clean up unused labels in the repository"
**Description of the issue**
There are several labels that are not used in the repository, or are duplicates. We need to clean these up as they may lead to confusion

**Acceptance criteria**
- [ ] Unused/duplicated etc labels have been identified and deleted

[2021-09-22 09:20] aaclan-ebi commented on #451
I'll restart the pods which failed.

[code]

[2021-09-22 09:20] aaclan-ebi commented on #451
It's exported now.

[2021-09-22 09:22] aaclan-ebi commented on #451
@ESapenaVentura i noticed the project shortname is `dcp6600438190759903` . Is it intended?

[2021-09-22 09:52] ESapenaVentura commented on #451
yup! thanks @aaclan-ebi

[2021-09-22 10:02] ESapenaVentura commented on #451
(Also, checksum for the big file seems alright, so I think everything went right!)

[2021-09-22 12:36] #426 closed

[2021-09-22 12:36] #430 closed

[2021-09-22 12:36] #416 closed

[2021-09-22 12:37] #428 closed

[2021-09-22 12:37] #434 closed

[2021-09-22 12:37] #414 closed

[2021-09-22 12:37] aaclan-ebi commented on #265
@ami-day I've removed the extra files for this submission: https://contribute.data.humancellatlas.org/submissions/detail?uuid=d3dc95e5-7154-4d2a-b684-81a852cfb9d9

[2021-09-22 12:37] #441 closed

[2021-09-22 12:37] #208 closed

[2021-09-22 12:38] #443 closed

[2021-09-22 12:38] #405 closed

[2021-09-22 13:46] ami-day commented on #265
Thanks @aaclan-ebi , it's now exporting :)

[2021-09-22 16:30] ami-day opened #454 "Update all relevant docs re: dealing with / rejecting multiplexed data"
We need to update all relevant SOPs/docs on how to deal with and when to reject multiplexed data from contributors or public archives.

https://www.ebi.ac.uk/humancellatlas/project-catalogue/about

[2021-09-22 17:03] hannes-ucsc commented on #420
Azul only considers `donor_organism.genus_species`. You can fix this issue without fixing HumanCellAtlas/metadata-schema#1415.

[2021-09-23 08:43] ESapenaVentura opened #455 "Review DCP/2 PRs"
- [ ] https://github.com/HumanCellAtlas/dcp2/pull/43

[2021-09-23 08:46] Wkt8 commented on #404
Dataset selected and Wei/Enrique to wrangle the information into a metadata spreadsheet with analysis files. Metadata to be sent over to the Broad for them to handle linking samples and files.

[2021-09-23 08:49] Wkt8 commented on #387
Alberta is 7hours behind us (9:49am UK 2:49am Alberta)

[2021-09-23 08:52] Wkt8 commented on #406
There is an action to document the [outcomes](https://docs.google.com/document/d/1qyT2yqbnr0MK5gzsVPrcQd62-TsS2KnFM1XVADzrxA0/edit#heading=h.ff1ee0r777h1) (when to wrangle what data shapes, what to do with demultiplexed data, etc.) probably included in [Wrangling SOPs ](https://ebi-ait.github.io/hca-ebi-wrangler-central/SOPs/SOPs.html) or eligibility criteria.

[2021-09-23 08:54] Wkt8 commented on #33
Needs ontologies then @Wkt8 to secondary review

[2021-09-23 08:55] Wkt8 commented on #450
Lacking metadata on samples - might get through on today then needs secondary review.

[2021-09-23 08:56] Wkt8 commented on #265
Successfully exported and just needs the import form which ami is completing now.

[2021-09-23 09:16] ofanobilbao commented on #419
@Wkt8 The diagram looks very good!

My main doubts also come in the same scenario that Enrique mentioned above.

Also, are all living donors treated equally regardless of origin? What if the donors are non European?

And last question, on the left of the diagram, what if a contributor reaches out, and their data is already archived in ENA etc but they add extra metadata without us asking, and we c

[2021-09-23 12:13] ami-day commented on #229
Closing this ticket as there is no raw fastq data or gene expression matrices.

[2021-09-23 12:13] #229 closed

[2021-09-23 12:50] ami-day opened #456 "Updates to E-HCAD-19"
Created merge request: https://gitlab.ebi.ac.uk/ebi-gene-expression/scxa-metadata/-/merge_requests/216

Waiting for SCEA review.

[2021-09-23 13:03] ami-day opened #457 "Updates needed to E-HCAD-39"
Hi @Wkt8 I think updates need to be made to this dataset you uploaded to the SCEA Gitlab: https://gitlab.ebi.ac.uk/ebi-gene-expression/scxa-metadata/-/merge_requests/152

[2021-09-23 13:10] Wkt8 commented on #33
Have had a look at this now. It seems quite bizarre that there's only one cell suspension, but according to the GEO accession there is only one. They also have another GEO accession for seemingly total RNA sequencing, but that is less helpful. Did the authors never get back to you on your questions?

Anyway, just a few comments!
Project - Publications:
Could use the project.publications.official_h

[2021-09-23 13:28] ami-day commented on #265
Curating to SCEA format. Assigning it E-HCAD-42.

[2021-09-23 13:37] ami-day commented on #265
Moving this to stalled as I'm not sure if this experimental design is suitable for scea. Have messaged them and waiting for a reply.

[2021-09-23 14:57] ESapenaVentura commented on #450
Project is here - https://contribute.data.humancellatlas.org/projects/detail?uuid=ef1d9888-fa86-47a4-bb72-0ab0f20f7004&tab=project

[2021-09-23 15:06] ami-day commented on #33
Thanks @Wkt8 !
I made most of your suggested changes. But a few points on what I didn't change:

- The sample was taken from a normal part of the liver outside of the disease area, so I have kept the specimen_from_organism disease status as 'normal;.
- I didn't change the name of the file because I have uploaded the tar file to an hca-util upload area already and it needs to match. I'm not sure wh

[2021-09-23 15:35] ami-day commented on #397
@ofanobilbao shall I close this ticket? I think you are working on this, I think I opened it when I ran the script and it gave some errors in the output due to a lack of cell count for some projects.

[2021-09-23 15:54] Wkt8 commented on #450
Found a few areas and had a chat with Enrique - will secondary review again when they are fixed!

[2021-09-23 16:05] ami-day commented on #454
Pull request: https://github.com/ebi-ait/projects-index/pull/76

[2021-09-23 16:10] ami-day commented on #448
The reason why this error occurs is because there is no SRA study accession or open sequencing data for this project. On the GEO project page it says: *Submitter declares that the raw data were deposited in the European Genome-phenome Archive (EGA ID EGAS00001005258) due to patient privacy concerns*
https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi

The tool requires both an SRA study ID and access t

[2021-09-23 20:26] willrockout commented on #420
@jacobwindsor Can you kick  9bab0f03-a725-4a13-9ab1-196e46cd80ed? Once that has been re-submitted everything will be done from our side. @ofanobilbao for some reason, I'm not able to check the boxes.

[2021-09-24 05:43] ofanobilbao commented on #420
Thanks for the update @willrockout. I have checked the boxes, with the exception of 9bab0f03-a725-4a13-9ab1-196e46cd80ed that needs kicking. @aaclan-ebi could you, please, kick this so that it can be re-submitted?

[2021-09-24 05:45] ofanobilbao commented on #397
Please, keep it there for now. As it is not resolved. It's just not done yet. Thanks!

[2021-09-24 07:42] ESapenaVentura commented on #448
Great catch @ami-day ! I will only add to this, that remember you can use the ingest UI to add projects by DOI, and it loads a lot of project info! (Although you need to check collaborators and fill a couple of fields out, but it saves a lot of time!)

[2021-09-24 08:47] amnonkhen opened #458 "b7259878-436c-4274-bfff-ca76f4cb7892 not showing species, organ/part, disease in the data browser"
**Description of the issue**
The project `Fate-mapping within human iPSC-derived kidney organoids reveals conserved mammalian nephron progenitor lineage relationships.` (`b7259878-436c-4274-bfff-ca76f4cb7892`) is not showing species, organ/part, disease in the data browser.

**Ingest**
[Fate-mapping within human iPSC-derived kidney organoids reveals conserved mammalian nephron progenitor lineage r

[2021-09-24 08:47] amnonkhen opened #459 "9bab0f03-a725-4a13-9ab1-196e46cd80ed (Will) ANALYSIS FILE FORMAT .H5"

[2021-09-24 08:48] amnonkhen opened #460 "e57dc176-ab98-446b-90c2-89e0842152fd Not showing some biomaterial information in browser"
**Description of the issue**
The project `Plasticity of distal nephron epithelia from human kidney organoids enables the induction of ureteric tip and stalk` (`e57dc176-ab98-446b-90c2-89e0842152fd`) is not showing species, organ/part, disease in the data browser.

**Ingest**
[Plasticity of distal nephron epithelia from human kidney organoids enables the induction of ureteric tip and stalk.](https:

[2021-09-24 08:50] amnonkhen commented on #420
@ESapenaVentura to update new tickets with proper names and actions

[2021-09-24 08:53] amnonkhen commented on #387
@amnonkhen to have a conf call with XQ today

[2021-09-24 08:55] amnonkhen commented on #391
reassigning to @aaclan-ebi

[2021-09-24 09:03] amnonkhen commented on #33
@ami-day to submit the form and verify export

[2021-09-24 09:49] aaclan-ebi commented on #420
@ofanobilbao @willrockout , the submission for project `9bab0f03-a725-4a13-9ab1-196e46cd80ed` is now Exported.

Dev notes:
"Kicking" is just the term we use when we do the workaround to set a 'Complete' submission back to Valid and make it submittable again. At the moment, only Exported -> Valid transition is allowed. This happens when you edit metadata and it's revalidated.

Steps:
1. Force set s

[2021-09-24 09:55] aaclan-ebi commented on #459
This submission has been exported.

[2021-09-24 13:39] ESapenaVentura commented on #459
Thanks @aaclan-ebi ! I was gonna update the ticket information but since it's finished, I'll just move it to done

[2021-09-24 13:41] ami-day commented on #397
Ok, can I unassign myself though, I think there is not anything I should do further on this?

[2021-09-24 14:09] ESapenaVentura opened #461 "EGAS00001004481 - COVID_19AirwayEpitheliumImmune"
### Project short name:
COVID-19AirwayEpitheliumImmune
### Primary Wrangler:
@Wkt8
### Secondary Wrangler:
@ESapenaVentura

### Associated files

* Google Drive: https://drive.google.com/drive/folders/1ou0wngCn4doty64158WrhTl14RpjPhgO

### Published study links

* Paper: [COVID-19 severity correlates with airway epithelium–immune cell interactions identified by single-cell analysis](https://www.na

[2021-09-24 15:29] Wkt8 commented on #450
Collection Protocol
rather than the subdissection, I'd put that human fetal tissues were received from the  Human Developmental Biology Resource, staged using crown-rump length and shipped overnight on ice in Rosewell Park Memorial Institute media or in 4% paraformaldehyde.

Maybe add this url to the collection protocol as well
https://www.hdbr.org/uploads/default/factsheets/fixation_and_sectionin

[2021-09-27 08:19] ESapenaVentura commented on #450
Many thanks for the review @Wkt8 !

I have added a new collection protocol (HDBR tissue collection), with the factsheet you mention uploaded as an attached supplementary file!

Good catch on the typos regarding IDs and disease, I have fixed them as well

Also moved the dissociation protocol's papaine manufacturer and catalog number to the proper fields.

I'm going to upload it to ingest and check

[2021-09-27 08:28] ami-day commented on #420
We have separated the 2 pending tickets so this ticket can be moved to done.

[2021-09-27 12:47] ESapenaVentura commented on #450
The dataset has been exported - I have filled the import form, but it's not appearing in the dcp-ops channel

[2021-09-27 13:27] Wkt8 opened #462 "Restrict the number of 'organ' ontology terms being used"
**Description of the task:**
Feedback from the HCA exec office: There are currently 76 organs listed at data.humancellatlas.org and the human body doesn't have 76 organs (based on most people's recognition of what "organ" means)

- [ ] We have a clear understanding of which organ ontologies to use (align with ontologies? align with hca biological networks?) and have documented this somewhere. Need

[2021-09-27 14:22] Wkt8 commented on #461
Added to the google drive!

[2021-09-27 14:24] amnonkhen commented on #387
Call scheduled for 27/9.

[2021-09-27 14:57] #452 closed

[2021-09-27 15:02] Wkt8 commented on #84
Accessions are now public

[2021-09-27 15:46] ESapenaVentura commented on #461
After a hard day of collaboration, @Wkt8 and I managed to curate the metadata and data!

Ingest-graph-validator throws an error for the analysis files, but this is a known issue with one of the tests not being specific enough (Should apply only to sequence files, not analysis files)

[2021-09-27 16:07] ESapenaVentura commented on #461
Dataset is exported!

[2021-09-27 16:10] Wkt8 commented on #461
Import form completed for release 10!

[2021-09-28 07:49] amnonkhen commented on #387
From Rachel Schwartz:

No data has been submitted yet.
No project exist in ingest-ui.
DOI is not known yet.

[2021-09-28 09:49] Wkt8 opened #463 "Managed Access Taskforce DAC EGAS00001004481"
**Description of the task:**
For the Managed Access Taskforce (https://docs.google.com/document/d/15NsoqNYKAh1-tesj9H-G9lw3Nmt_Gu9uyzxcaqDM8hs/edit#heading=h.r43bcafrvlxd) we have selected and wrangled a specific dataset (https://ega-archive.org/studies/EGAS00001004481)

Need to reach out to the Data Access Committee (DAC) and get the Data Access Agreement (DAA) and see what fields are required.

[2021-09-28 10:09] ami-day opened #464 "check Release 10 datasets are published correctly in the data portal"
Wranglers to check datasets are published correctly in the data portal

- [x] #498
- [x] #499
- [x] #500
- [x] #501
- [ ] #502
- [x] #503
- [x] #504
- [x] #505
- [ ] #506
- [ ] #507

[2021-09-28 10:15] ami-day commented on #406
I have edited our wrangling SOPs to reflect this, and have opened a pull request for updates to the project catalogue eligibility criteria.

[2021-09-28 10:15] #406 closed

[2021-09-28 10:16] ami-day commented on #460
I need to look into Hannes response about this

[2021-09-28 10:16] ami-day commented on #458
I need to look into Hannes response about this

[2021-09-28 10:17] ami-day commented on #391
@Wkt8  to check with @jacobwindsor if this is in progress or done?

[2021-09-28 15:51] Wkt8 opened #465 "Sending Imaging Test Data"
**Description of the task:**

We want to start submitting and exporting datasets with imaging data to the DCP. Before we do this in prod, we want to make sure we send the appropriate test data.

**Acceptance criteria for the task:**
Figure out:
- what metadata-schema-changes are necessary
- prioritise them in the 'Schema prioritisation SOP' and make a PR involving those changes
- are we going to s

[2021-09-29 08:58] Wkt8 commented on #418
snRNA-seq_for_human_retina has a separate ticket
CrohnsTherapyResistance is complete
TxDynEndotheilialCellsFromPluriStem is a UCSC dataset (wei to notify)

KidneyOrganoidsBioprinting is complete

Stress-inducedRNA–chromatininteractionspromoteendo is submitted directly to Terra by Stanford and they are using an out-of-date version of the schema (2019) which is missing model_organs.

[2021-09-29 08:58] #418 closed

[2021-09-29 09:04] Wkt8 commented on #419
Who do we ask about GDPR concerns? @Wkt8 to check with tony again

[2021-09-29 09:07] Wkt8 commented on #455
@amnonkhen to also review

[2021-09-29 09:09] aaclan-ebi commented on #391
I'll work on this today but I'll prioritise the fix for verify.py script silent failure and makes sure it reports to Slack.

[2021-09-29 09:10] Wkt8 commented on #446
We need to inform stanford about next actions / future actions for now
- will this work if they're still using an older version of the schema?

[2021-09-29 14:39] ESapenaVentura opened #466 "Review onboarding ticket and create tickets for new wranglers"
**Description of the issue**
The onboarding template ticket document is outdated and needs a revision before the new wranglers join in on **Monday October 4th**

**Acceptance criteria**
- [ ] The onboarding template ticket has been updated
- [ ] The 2 tickets for the new wranglers have been created

[2021-09-29 15:15] ESapenaVentura commented on #466
Onboarding ticket PR https://github.com/ebi-ait/hca-ebi-wrangler-central/pull/467

[2021-09-29 16:07] ESapenaVentura opened #468 "Onboarding tasks for Irene Perez"
Welcome to the HCA DCP! We are pleased to introduce you to the data wrangling team. Before beginning to work by yourself, you'll be asked to complete a set of tasks and meetings. These will guide you through both the general and specifics of your role, and it will help us make sure you understand how we work in the team. You will perform these tasks on your own, but feel free to ask @ESapenaVentur

[2021-09-29 17:12] aaclan-ebi commented on #391
Some fixes are already applied in dev. There's a PR for the changes. I will apply them to staging and prod once merged.

[2021-09-30 00:07] willrockout commented on #448
@ami-day @ESapenaVentura  I don't believe that is the issue except for in this case. I've had other GSE's that have had this error come up that have SRA Study IDs and experiment accession. Here are some examples GSE76381, GSE146123, and GSE176509.

[2021-09-30 09:05] #450 closed

[2021-09-30 09:05] #461 closed

[2021-09-30 09:06] #411 closed

[2021-09-30 09:07] ofanobilbao commented on #33
@ami-day will this be brokered into SCEA or can it be closed?

[2021-09-30 09:07] ofanobilbao commented on #378
@ami-day will this be brokered to SCEA or it can be closed?

[2021-09-30 09:09] ofanobilbao commented on #240
@ami-day was this dataset submitted to SCEA? If so, would the SCEA submission require update? Or can this ticket be closed?

[2021-09-30 09:12] ofanobilbao commented on #220
@ami-day does the SCEA submission that you originally did need an update? Or this ticket can be closed?

[2021-09-30 09:53] ami-day commented on #448
OK thanks Will I'll try running the script I have locally on those examples and see if I get this error, will get back

[2021-09-30 09:58] ami-day commented on #378
It can be closed, it's not really suitable for SCEA. Btw, when I move a ticket to the finished column in this board, is there a way keep it in the finished column AND move it queued for wrangling in the SCEA board? Otherwise you will keep having to ask this question every time I move a dataset to finished.

[2021-09-30 10:00] ami-day commented on #240
The updates I made are not relevant to the SCEA format, so this can be closed.

[2021-09-30 10:00] ami-day commented on #220
This can be closed, the SCEA files do not need to be updated.

[2021-09-30 10:01] #378 closed

[2021-09-30 10:03] ami-day commented on #378
Right ok I see. So from now on, can we assume a dataset ticket can be closed if the "scea" label is not selected? and I will make sure I label future datasets that are suitable with this label.

[2021-09-30 12:43] ami-day opened #469 "Ami to test scATAC-Seq dataset: https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE129785"
As a wrangler I want to test curating and validating a scATAC-Seq dataset in HCA ingest: https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE129785

**Google Sheet:**
https://docs.google.com/spreadsheets/d/1UZi_HaFrKj6aU_KHc5Z1uaXlmM4zgtBR/edit#gid=255646849

[2021-09-30 15:43] Wkt8 opened #471 "Onboarding tasks for Ida Zucchi"
Welcome to the HCA DCP! We are pleased to introduce you to the data wrangling team. Before beginning to work by yourself, you'll be asked to complete a set of tasks and meetings. These will guide you through both the general and specifics of your role, and it will help us make sure you understand how we work in the team. You will perform these tasks on your own, but feel free to ask @Wkt8  if you

[2021-09-30 19:01] rachadele opened #472 "contributor account for: Leah Marquez-Curtis"
Please create an account a contributor.

*Contributor details:*
* name: Leah Marquez-Curtis
* email: marquezc@ualberta.ca

Request Details:
* Requested by: Rachel Schwartz
raschwar@ucsc.edu

[SOP link](https://ebi-ait.github.io/hca-ebi-wrangler-central/SOPs/dataset_wrangling_SOP.html#aws-user-for-contributors)

[2021-10-04 09:05] ESapenaVentura commented on #193
@ESapenaVentura To pick this one for the SCEA testing

[2021-10-04 09:25] ami-day opened #473 "Preparing scea test cases for scea tool unit tests"
We want to further develop the hca-to-scea tool. To do this we need to add more test inputs to the characteristic test. I need to find and run test inputs which cover alternative experimental designs.

[2021-10-04 09:53] Wkt8 commented on #384
Performing the brokering to SCEA and capturing time!

[2021-10-04 10:20] ami-day commented on #473
Closing this as I had already done this before and have found the relevant directory.

[2021-10-04 10:20] #473 closed

[2021-10-04 10:36] ESapenaVentura opened #474 "Review DCP/2 PR 44"
- [ ] https://github.com/HumanCellAtlas/dcp2/pull/44 @ESapenaVentura
- [ ] https://github.com/HumanCellAtlas/dcp2/pull/44 @amnonkhen

[2021-10-04 11:17] ipediez opened #475 "Watch HCA Metadata Standard 101 video"
**Watch HCA Metadata Standard 101:**

Watch HCA Metadata Standard 101 [video](https://drive.google.com/open?id=12hGA3_ARTKl-W0JxMKm8fHqvx31L3Ohf), with the [supporting slides](https://drive.google.com/open?id=1CJZfFpVFPolYPf30NSNn3A4CPVHmbfbaHUKlzCqBz_c).

[2021-10-04 11:23] ipediez opened #476 "Projects and SOPs at hca-ebi-wrangler-central"
Familiarise yourself with the projects and Standard Operating Procedures (SOPs) inside the [hca-ebi-wrangler-central repository](https://github.com/ebi-ait/hca-ebi-wrangler-central/)

[2021-10-04 11:28] ipediez opened #477 "FAIR Data Principles"
**Read up on FAIR Data Principles:**

- [ ] [The FAIR Guiding Principles for scientific data management and stewardship (Wilkinson 2016)](https://www.nature.com/articles/sdata201618)
- [ ] [A design framework and exemplar metrics for FAIRness (Wilkinson 2018)](https://www.nature.com/articles/sdata2018118)
- [ ] [Quick summary](https://www.force11.org/group/fairgroup/fairprinciples) of FAIR Data Pr

[2021-10-04 12:19] Wkt8 commented on #465
There are 3 schema-change tickets related to imaging schemas:
- Updates to imaging protocol schema #1405
- New schema update to specimen_from_organism schema #1406
- Schema update: update library preparation protocol barcode fields #1407

#1405 and #1406 are related to NanoString and RNAScope, whilst #1407 is focused on spatial barcodes and Visium. There may be additional metadata schema changes n

[2021-10-04 12:22] idazucchi opened #478 "Watch HCA Metadata Standard 101 video"

[2021-10-04 12:25] idazucchi commented on #478
video: https://drive.google.com/open?id=12hGA3_ARTKl-W0JxMKm8fHqvx31L3Ohf

[2021-10-04 13:31] idazucchi opened #479 "Familiarise with the projects and SOPs"

[2021-10-04 13:31] idazucchi commented on #479
See  [hca-ebi-wrangler-central repository](https://github.com/ebi-ait/hca-ebi-wrangler-central/)

[2021-10-04 13:33] idazucchi opened #480 "Read up on FAIR Data Principles"

[2021-10-04 14:30] ESapenaVentura commented on #308
I have tried running the SOP to convert [this dataset](https://app.zenhub.com/workspaces/brokering-to-scea-60af47517f6e370017b3d5bf/issues/ebi-ait/hca-ebi-wrangler-central/193)

I am currently stuck at the point of SDRF curation, due to the files not being publicly available as fastqs. In the original submission, we converted the files to fastqs using `bamtofastq` from nunofonseca's toolset.

So f

[2021-10-05 10:21] aaclan-ebi commented on #472
As of now, all devs should still have permission to create accounts and access keys.

@rachadele I cc-ed you on the email containing the zipped file of the access keys. I've also already emailed the contributor with the password to open the zip file.

[2021-10-05 10:29] aaclan-ebi commented on #391
Update: This is in dev and staging. But there was an issue deploying to prod.
![Screenshot 2021-09-30 at 17.07.29.png](https://images.zenhubusercontent.com/5b042c754b5806bc2bd426e2/1b141823-49ff-4422-be11-453e28a696ae)

[2021-10-06 05:58] #420 closed

[2021-10-06 05:58] #387 closed

[2021-10-06 05:58] #425 closed

[2021-10-06 05:58] #449 closed

[2021-10-06 05:59] #404 closed, assigned to Wkt8

[2021-10-06 06:00] #451 closed

[2021-10-06 06:00] #478 closed

[2021-10-06 06:01] #472 closed

[2021-10-06 07:33] Wkt8 commented on #303
Closing until it comes back up again as it makes no sense to be in the Queued for wrangling column as opposed to other tickets which are higher priority

[2021-10-06 07:33] #303 closed

[2021-10-06 08:03] Wkt8 opened #481 "scFetalPaedIBDGut_E-MTAB-8901"
This needs investigation as there is already an older curated version done by Marion of this in prod but had living European donors. We may be able to handle just the processed data files.
Previous tickets: https://github.com/ebi-ait/hca-ebi-wrangler-central/issues/93
https://github.com/HumanCellAtlas/hca-data-wrangling/issues/412

### Project short name: scFetalPaedIBDGut

### Primary Wrangler:

[2021-10-06 08:04] ofanobilbao opened #482 "phs000424 - Single-nucleus cross-tissue molecular reference maps to decipher disease gene function"
### Project short name:

CrossTissueReferenceMap

### Primary Wrangler:
Ami

### Secondary Wrangler:
@ESapenaVentura

### Associated files

**Google Drive:**
https://docs.google.com/spreadsheets/d/1ZTLK4tU105aa5oTviyOfbaYSwb1xG9WBZ4CgAEse5Wc/edit#gid=1095193694

### Published study links

* Paper: https://doi.org/10.1101/2021.07.19.452954

* Accessioned data: Raw sequence data are available at AnV

[2021-10-06 08:05] Wkt8 opened #483 "GSE120386_Genomic programming of IRF4-expressing human Langerhans cells."
### Project short name:

### Primary Wrangler:

### Secondary Wrangler:

### Associated files

* Google Drive:

### Published study links

* Paper: https://doi.org/10.1038/s41467-019-14125-x

* Accessioned data: GSE120386.

### Key Events

- [ ] Convert published metadata to HCA spreadsheet
- [ ] Manually curate dataset to meet HCA metadata standard
- [ ] Collect any matrix and cell-type annotatio

[2021-10-06 08:10] Wkt8 opened #484 "EGAS00001004772_Hypertension delays viral clearance and exacerbates airway hyperinflammation in patients with COVID-19"
### Project short name:

### Primary Wrangler:

### Secondary Wrangler:

### Associated files

* Google Drive: https://drive.google.com/drive/folders/1IiJBwe7HP2P1eO8-DiEENU2zobV1MPZk

### Published study links

* Paper: https://www.nature.com/articles/s41587-020-00796-1

* Accessioned data: EGAS00001004772

Processed data: https://figshare.com/articles/dataset/Hypertension_delays_viral_clearance_

[2021-10-06 08:14] Wkt8 opened #485 "phs001908_Spatial and single-cell transcriptional landscape of human cerebellar development"
### Project short name:
CerebellarDevLandscape
### Primary Wrangler:
@ipediez

### Secondary Wrangler:

### Associated files

* Google Drive: https://drive.google.com/drive/folders/1zGQpeqRoySCgXlLnPO10pY_l9y5X_-te

### Published study links

* Pre-print: https://www.biorxiv.org/content/10.1101/2020.06.30.174391v1.full
* Paper: https://www.nature.com/articles/s41593-021-00872-y

* Accessioned data

[2021-10-06 08:16] Wkt8 opened #486 "EGAS00001004419_SARS‐CoV‐2 receptor ACE2 and TMPRSS2 are primarily expressed in bronchial transient secretory cells"
### Project short name:
SARS_COV_2_receptorsBronchial
### Primary Wrangler:
@ESapenaVentura
### Secondary Wrangler:
@Wkt8

### Associated files

* Google Drive: https://drive.google.com/drive/u/0/folders/1AxrBpN_pgH237xcEfg4xQkM5S1Z3zRRJ

* Ingest project page: https://contribute.data.humancellatlas.org/projects/detail?uuid=58028aa8-0ed2-49ca-b60f-15e2ed5989d5&tab=project

### Published study link

[2021-10-06 08:19] ofanobilbao opened #487 "GSE164829 - Integrated Single Cell Atlas of Endothelial Cells of the Human Lung"
### Project short name: LungEndothelialCells

### Primary Wrangler:

Ami

### Secondary Wrangler:

@Wkt8

### Associated files

**Google Drive:**

https://docs.google.com/spreadsheets/d/1w6peXCe6elE1eiWjhkqMkKEystrHALxk/edit#gid=805828623

https://contribute.data.humancellatlas.org/submissions/detail?uuid=c9033c6f-08f7-4a33-bb55-aab37f80c3e5

### Published study links

* Paper: https://www.ahajour

[2021-10-06 08:38] Wkt8 commented on #463
Waiting for contributor to get back to us

[2021-10-06 08:55] ESapenaVentura opened #488 "Message to pipelines for demultiplexing SS2"
- [x] Send a message to Farzaneh to ask about demultiplexing SS2 files, scripts/tools

**Acceptance criteria**
- [ ] A decision is reached about how to proceed with the multiplexed SS2 dataset

[2021-10-06 09:01] Wkt8 commented on #424
Enrique to speak to Gabs about progress / keeping open

[2021-10-06 09:01] Wkt8 commented on #391
@aaclan-ebi is there a lot of work left on this??

[2021-10-07 08:46] amnonkhen commented on #388
@ESapenaVentura to set up a discussion following deletions/cleanups etc.

[2021-10-08 10:30] ESapenaVentura opened #489 "Curation of auto-imports"
**Description of the issue**
Related to the work being done in https://github.com/ebi-ait/dcp-ingest-central/issues/382, this new import will cause hundreds of new projects to be added to the ingest database.

The script will carry on filling most of the projects data. The projects will not immediately appear on the project catalogue,  as the metadata is incomplete, but the objective of this task

[2021-10-08 13:07] ESapenaVentura commented on #488
Sent a message today, waiting for reply

[2021-10-08 13:47] Wkt8 commented on #84
There's really three accessions to the paper:
10x (E-MTAB-9389)
SS2 (E-MTAB-9801)
10x (E-MTAB-10042)

[2021-10-08 22:25] rachadele opened #490 "kick project 504e0cee-1688-40fa-b936-361c4a831f87 from 'complete' to 'valid'"
@aaclan-ebi @jacobwindsor @ESapenaVentura

needs CGM metadata update; submission is currently 'complete' but needs to be 'valid' for re-export

[2021-10-11 10:17] ESapenaVentura opened #491 "Several organoid datasets show species = Unspecified"
**Description of the issue**
Some release 10 datasets have an issue with the species not showing in the data portal:
- https://data.humancellatlas.org/explore/projects/b7259878-436c-4274-bfff-ca76f4cb7892
- https://data.humancellatlas.org/explore/projects/e0c74c7a-20a4-4505-9cf1-38dcdd23011b
- https://data.humancellatlas.org/explore/projects/e57dc176-ab98-446b-90c2-89e0842152fd
- https://data.huma

[2021-10-11 11:30] idazucchi opened #492 "PRJNA694128 - Co-evolution of tumor and immune cells during progression of multiple myeloma"
### Project short name:
MultipleMyelomaCoevolution

### Primary Wrangler: @idazucchi

### Secondary Wrangler:
@ipediez

### Associated files

* Google Drive: https://drive.google.com/drive/folders/15YF3CExkNVKc0fh21vBKv2v0S5Ej6-bH

### Published study links

* Paper: https://doi.org/10.1038/s41467-021-22804-x

* Accessioned data: [PRJNA694128](https://www.ncbi.nlm.nih.gov/bioproject/?term=PRJNA694

[2021-10-11 14:22] Wkt8 opened #493 "Schema update priority ticket - 2021-10-11"
**What are the next schema updates?**
Update number 1) Loading the barcode module for spatial_barcode fields: https://github.com/HumanCellAtlas/metadata-schema/issues/1407
Update number 2) Change sequence_file.read_index enum to include Read3/Read4: https://github.com/HumanCellAtlas/metadata-schema/issues/1401

These changes will affect the following schemas:
- type/protocol/sequencing/library_pre

[2021-10-11 14:55] ESapenaVentura opened #494 "Delete duplicated entries in ingest"
**Description of the task:**

Project entries are being duplicated in ingest. We need to delete the duplicated entries for the following projects:

**Easy to delete: only 1 project contains a submission**

I have marked the one that **shouldn't be deleted**

- lymphaticEndothelialCells
   - [ ] https://contribute.data.humancellatlas.org/projects/detail?uuid=23062add-79c2-40da-955e-e17254171521

[2021-10-12 08:14] ipediez opened #495 "GSE132065 - Sampling time-dependent artifacts in single-cell genomics studies"
### Project short name:

### Primary Wrangler: @ipediez

### Secondary Wrangler:

### Associated files

* Google Drive: https://drive.google.com/drive/folders/1LuIdzCrdUig-aFgSZuHy6mGfCDNTt5VB?usp=sharing

### Published study links

* Paper: [Sampling time-dependent artifacts in single-cell genomics studies](https://genomebiology.biomedcentral.com/articles/10.1186/s13059-020-02032-0#availability-o

[2021-10-12 11:49] ESapenaVentura opened #496 "Delete submission associated with a non-valid project"
**Description of the issue**

There is a project that has a submission exported. This export was never imported and is a duplication of an actual project that was exported. We need to clean that up.

**Acceptance criteria**

- [x] Delete submission https://contribute.data.humancellatlas.org/submissions/detail?uuid=8755a961-5355-4a36-ba7b-3a126630bce8&project=e07897dc-c25e-453d-b04c-27ca33adb630
-

[2021-10-12 12:25] ESapenaVentura commented on #489
Spreadsheet with a link to all projects [here](https://docs.google.com/spreadsheets/d/1ktD7Ld74HLJLA5Kl_Mn5ij4i1semiNkXMj6VgmQeLbI/edit#gid=0)

TBD how the datasets will be distributed

[2021-10-12 13:47] ofanobilbao commented on #397
Closing this for the same reasons as closing the blocking issue. Will be addressed in a separate ticket in the Development board

[2021-10-12 13:47] #397 closed

[2021-10-12 13:53] ofanobilbao commented on #308
@ESapenaVentura @Wkt8 happy to move this to Review/QA so that Ami can take your feedback and improve/amend the SOP?

[2021-10-12 14:53] Wkt8 commented on #494
Who is currently working on this? Is it you @ESapenaVentura ?

[2021-10-13 09:34] Wkt8 commented on #489
Blocked by https://github.com/ebi-ait/dcp-ingest-central/issues/478

[2021-10-13 12:52] ke4 opened #497 "Release Ontology Service for October"
Release/re-deploy Ontology service according to SOP: https://ebi-ait.github.io/hca-ebi-dev-team/operations_tasks/HCAO-release.html

**Acceptance Criteria**:
- [ ] Release in dev environment
- [ ] Release in staging environment
- [ ] Release in prod environment

[2021-10-13 16:32] #497 closed, assigned to ke4

[2021-10-14 08:47] amnonkhen opened #498 "d7845650-f6b1-4b1c-b2fe-c0795416ba7b: "A molecular single-cell lung atlas of lethal COVID-19" (Update) wteh@ebi.ac.uk"

[2021-10-14 08:47] amnonkhen opened #499 "d3446f0c-30f3-4a12-b7c3-6af877c7bb2d: "A single cell atlas of human teeth" (New Metadata,Updated Metadata): enrique@ebi.ac.uk"

[2021-10-14 08:48] amnonkhen opened #500 "992aad5e-7fab-46d9-a47d-df715e8cfd24: "CrohnsTherapyResistance" (Update): ami@ebi.ac.uk"

[2021-10-14 08:48] amnonkhen opened #501 "c893cb57-5c9f-4f26-9312-21b85be84313: "EpithelialDiversityHealthInflammation" (Update): ami@ebi.ac.uk"

[2021-10-14 08:48] amnonkhen opened #502 "a9301beb-e9fa-42fe-b75c-84e8a460c733: "A human cell atlas of fetal gene expression" (New): enrique@ebi.ac.uk"

[2021-10-14 08:48] amnonkhen opened #503 "e0c74c7a-20a4-4505-9cf1-38dcdd23011b: "GSE117211_KidneyMicroOrganoids" (New): ami@ebi.ac.uk"
Project: Kidney micro-organoids in suspension culture as a scalable source of human pluripotent stem cell-derived kidney cells

Short name: GSE117211_KidneyMicroOrganoids

[2021-10-14 08:48] amnonkhen opened #504 "20f37aaf-caa1-40e6-9123-be6ce8feb2d6: "DopaminergicNeuronDifferentiation" (New): ami@ebi.ac.uk"

[2021-10-14 08:48] amnonkhen opened #505 "074a9f88-729a-455d-bca5-0ce80edf0cea: "HumanHepatocyteDifferentiation" (New): ami@ebi.ac.uk"

[2021-10-14 08:48] amnonkhen opened #506 "ef1d9888-fa86-47a4-bb72-0ab0f20f7004: "Single-cell atlas of early human brain development highlights heterogeneity of human neuroepithelial cells and early radial glia" (New): enrique@ebi.ac.uk"

[2021-10-14 08:48] amnonkhen opened #507 "7ac8822c-4ef0-4194-adf0-74290611b1c6: "COVID-19AirwayEpitheliumImmune" (New): wteh@ebi.ac.uk"

[2021-10-14 13:27] ESapenaVentura opened #508 "Curation of Auto-Imports - #1"
**Projects to be curated**
- [x] https://contribute.data.humancellatlas.org/projects/detail?uuid=27e2e0ae-5971-4927-aac1-19e81804097b
- [x] https://contribute.data.humancellatlas.org/projects/detail?uuid=81962a88-9d10-493f-9d6c-a94275a0191d
- [x] https://contribute.data.humancellatlas.org/projects/detail?uuid=22ae032f-a09a-4f2f-9f01-fa404e12f7ff
- [x] https://contribute.data.humancellatlas.org/pro

[2021-10-14 13:30] ESapenaVentura opened #509 "Curation of Auto-Imports -#2"
**Projects to be curated**
- [x] https://contribute.data.humancellatlas.org/projects/detail?uuid=1eb673d2-6c82-4617-bd03-0092b06d300a
- [x] https://contribute.data.humancellatlas.org/projects/detail?uuid=c65c16a9-912a-420f-98c9-dfe512f39ec8
- [x] https://contribute.data.humancellatlas.org/projects/detail?uuid=266fcbe4-bfc7-409e-86a9-b6c0e4882a40
- [x] https://contribute.data.humancellatlas.org/pro

[2021-10-14 13:31] ESapenaVentura opened #510 "Curation of Auto-Imports - Ida"
**Projects to be curated**
- [x] https://contribute.data.humancellatlas.org/projects/detail?uuid=a8aaa1e5-a28e-4b51-861f-9811952e2169
- [x] https://contribute.data.humancellatlas.org/projects/detail?uuid=bd308491-ffcb-41a9-95e6-84c8f834b8c2
- [x] https://contribute.data.humancellatlas.org/projects/detail?uuid=3373e59c-525f-4a83-8c9c-d8b280454697
- [x] https://contribute.data.humancellatlas.org/pro

[2021-10-14 13:33] ESapenaVentura opened #511 "Curation of Auto-Imports - Oihane"
**Projects to be curated**
- https://contribute.data.humancellatlas.org/projects/detail?uuid=1eb69a39-b5b2-41ec-afae-5fe37f272756
- https://contribute.data.humancellatlas.org/projects/detail?uuid=3d7cb308-d4e5-4764-8751-d302f179ff9c
- https://contribute.data.humancellatlas.org/projects/detail?uuid=d2801b3a-ef64-428c-93dc-93b8be0cd236
- https://contribute.data.humancellatlas.org/projects/detail?uui

[2021-10-14 13:53] Wkt8 opened #512 "An Interactive Single Cell Web Portal Identifies Gene and Cell Networks in COVID-19 Host Responses"
### Project short name: InteractiveCovidPortal

### Primary Wrangler: Wei Kheng Teh

### Secondary Wrangler:

### Associated files:

* Google Drive:
Paper: https://pubmed.ncbi.nlm.nih.gov/34522848/
Data: https://cellxgene.cziscience.com/collections/b9fc3d70-5a72-4479-a046-c2cc1ab19efc
https://data.mendeley.com/datasets/vrxdg7mm6x/1

### Key Events

- [ ] Send initial instructions about contributin

[2021-10-14 14:56] #498 closed, assigned to nobody

[2021-10-14 15:11] Wkt8 commented on #507
Done and import form completed

[2021-10-15 11:15] ofanobilbao commented on #417
I believe this Organoid dataset has the same issues as the others on this ticket so I have added the ticket compiling all the issues as a blocker for this one as well. If I have not understood correctly, please, feel free to remove the dependency.

[2021-10-15 18:30] pnejad opened #513 "Incorrect biomaterial mapping (cell suspension <-> file)"
**Description of the task:**

@hannes-ucsc  pointed out that these 4 datasets have at least 1 specimen which was the sequencing input.

https://data.humancellatlas.org/explore/projects/6c040a93-8cf8-4fd5-98de-2297eb07e9f6 **(EBI)**
https://data.humancellatlas.org/explore/projects/71eb5f6d-cee0-4297-b503-b1125909b8c7  **(EBI)**
https://data.humancellatlas.org/explore/projects/c4077b3c-5c98-4d26-a61

[2021-10-18 08:54] amnonkhen commented on #488
still waiting for an answer

[2021-10-18 08:56] Wkt8 commented on #481
Spoke to Tony - this is the exact GDPR situation where we have archived a dataset with living data and now should not put it into the DCP

[2021-10-18 10:23] ESapenaVentura commented on #513
@Wkt8 I can confirm the 3 EBI datasets were Bulk + single cell RNA seq!

[2021-10-18 16:49] pnejad commented on #513
@hannes-ucsc  cell suspensions are not limited to single cells. So even for bulk experiments, the specimen is processed into suspensions of cells before the bulk-RNA-seq is carried out.

[2021-10-18 17:23] willrockout commented on #513
@Wkt8 @ESapenaVentura Why would you set specimen as sequencing input for bulk data? A cell suspension is just a pool of cells that would still need to be created for library prep even in bulk. The only difference is they didn't separate them into single cells but that's how we handle 10x data.

[2021-10-18 18:33] pnejad commented on #513
I do not agree with Mallory's blood example. Blood that is collected from a donor still needs to be enriched for PBMC's and put into cell suspensions before the library prep protocol is carried out.

I do agree with her statement that "...there will most likely never be cell suspensions prior to an imaging assay". But then again, I don't think an imaged specimen would be the sequencing_input. Wran

[2021-10-19 05:44] ofanobilbao opened #514 "HumanGumsNormalandDiseased (UCSC dataset) - Needs Update"
Slack conversation from UCSC wranglers:

"we want to make some changes to HumanGumsNormalandDiseased– would it be possible to revert it from complete status?

It’s part of this next release wasn’t sure if we just go about updating stuff the normal way or if because it hasn’t entered the rest of the dcp we can just revert.

Project UUID - 783c9952-a4ae-4106-a6ce-56f20ce27f88"

[2021-10-19 08:52] ESapenaVentura commented on #463
@Wkt8 to have a look at the DAA and come back to them

[2021-10-19 08:53] ESapenaVentura commented on #488
@ESapenaVentura to answer to Farzaneh's questions regarding SS2 demux

[2021-10-19 13:06] #501 closed, assigned to ami-day

[2021-10-19 13:10] ami-day commented on #504
Looks ok to me, except I think we need to discuss how we represent "anatomical entity" for datasets which are iPSCs or organoids derived from reprogrammed cells. E.g. the anatomical entity is showing as "skin of body", because skin cells were reprogrammed to generate the iPSCS, which were then differentiated to neurons, and so the "model organ" is shown as "brain", which is correct. I am just wond

[2021-10-19 14:11] ESapenaVentura opened #515 "Priorities for Use cases and features - X-consortia"
**Description of the task**
Summarise, detect themes, highlight important information from the `Priorities for Use cases and features` section of the discussions in the breakout rooms.

**Acceptance criteria**
- [x] Review the themes
- [x] Summarise the discussion/key points in a list
- [x] (Optional) Prepare small presentation for next meeting

**Deadline**

2 November 2021

[2021-10-19 14:33] Wkt8 opened #516 "Converting bam to fastq in bulk"
**Description of the task:**
As a wrangler I want to be able to download bam files and convert them into fastq files in bulk. We previously used the EC2 instance to do this, but have encountered a dataset with a large number of bam files (~500GB), 29 bam files, which may prove problematic for the EC2 due to its limited processing power.

This is blocking https://github.com/ebi-ait/hca-ebi-wrangler

[2021-10-20 06:23] ofanobilbao commented on #511
Even if it was not priority yet I wanted to try and do one before going on annual leave. Had issues after saving bypassing validation. I will report today

[2021-10-20 09:07] #504 closed

[2021-10-20 09:09] Wkt8 commented on #464
Have checked all - three tickets left which are open.

[2021-10-20 12:18] ESapenaVentura opened #517 "Check MRC projects for data"

[2021-10-20 12:31] yusra-haider commented on #514
@ESapenaVentura we can go ahead with the update, it should work okay now.

Please let me know when the submission occurs so I can keep an eye on the logs

[2021-10-20 15:54] ESapenaVentura opened #518 "Projects in DCP not in catalogue"
**Description of the issue**
There are 38 projects in the the data portal that do not appear in the project catalogue. From these, 4 are not in ingest either, so they are probably datasets from lattice.

List of the 34 remaining projects:

- https://contribute.data.humancellatlas.org/projects/detail?uuid=8a40ff19-e614-4c50-b23b-5c9e1d546bab
- https://contribute.data.humancellatlas.org/projects/det

[2021-10-21 08:27] #506 closed

[2021-10-21 08:28] #499 closed, assigned to ESapenaVentura

[2021-10-21 08:55] ofanobilbao commented on #446
Enrique sent an email to Jason yesterday. A meeting will take place today to make sure that we capture all the metadata that they have gathered from the contributors etc so that we can update the dataset not to mess the UUID

[2021-10-21 08:55] ofanobilbao commented on #463
Wranglers waiting for now

[2021-10-21 08:58] ofanobilbao commented on #250
@ofanobilbao will split the ticket into one ticket per dataset, so that we can tackle 1-2 datasets per sprint fixed

[2021-10-21 09:10] yusra-haider commented on #502
@ESapenaVentura , I think you want to re-export this now? Please make sure to use the `export only metadata` option

[2021-10-21 09:17] #391 closed

[2021-10-21 09:18] #496 closed, assigned to nobody

[2021-10-21 09:33] ofanobilbao opened #519 "Fix BAM to FASTQ - 20a871b4-5684-4630-96bd-146f94debf1c"

[2021-10-21 09:33] ofanobilbao opened #520 "Fix BAM to FASTQ - 7dbcf5ae-f8d7-487c-a3d4-794d8639a1e2"

[2021-10-21 09:33] ofanobilbao opened #521 "Fix BAM to FASTQ - 7e02989b-7855-4a87-ae62-d5e361454222"
SOP: https://ebi-ait.github.io/hca-ebi-wrangler-central/SOPs/update_ena_runs_SOP.html
ENA project: https://www.ebi.ac.uk/ena/browser/view/PRJEB38994?show=reads

[2021-10-21 09:33] ofanobilbao opened #522 "Fix BAM to FASTQ - 85e72912-9f91-4489-8169-3b43cc65a16a"
SOP: https://ebi-ait.github.io/hca-ebi-wrangler-central/SOPs/update_ena_runs_SOP.html
ENA project:  https://www.ebi.ac.uk/ena/browser/view/PRJEB39470?show=reads

[2021-10-21 09:33] ofanobilbao opened #523 "Fix BAM to FASTQ - a15dd7b4-1e84-429f-802a-388a8725cd59"
SOP: https://ebi-ait.github.io/hca-ebi-wrangler-central/SOPs/update_ena_runs_SOP.html
ENA Project URL: https://www.ebi.ac.uk/ena/browser/view/PRJEB39719?show=reads

[2021-10-21 09:33] ofanobilbao opened #524 "Fix BAM to FASTQ - b2140c13-c7f7-4b9f-a5ec-5727328c9174"
SOP: https://ebi-ait.github.io/hca-ebi-wrangler-central/SOPs/update_ena_runs_SOP.html
ENA project: https://www.ebi.ac.uk/ena/browser/view/PRJEB39323?show=reads

[2021-10-21 09:33] ofanobilbao opened #525 "Fix BAM to FASTQ - cb156730-90b0-4b77-944c-bfc263204c61"
SOP: https://ebi-ait.github.io/hca-ebi-wrangler-central/SOPs/update_ena_runs_SOP.html
ENA project: https://www.ebi.ac.uk/ena/browser/view/PRJEB36885?show=reads

[2021-10-21 09:33] ofanobilbao opened #526 "Fix BAM to FASTQ - d5410c6e-612d-421a-a66f-2de5e04dd050"
SOP: https://ebi-ait.github.io/hca-ebi-wrangler-central/SOPs/update_ena_runs_SOP.html

[2021-10-21 09:33] ofanobilbao opened #527 "Fix BAM to FASTQ - dfb86fe3-ef1f-42ed-b559-d74f4b3b3a11"
SOP: https://ebi-ait.github.io/hca-ebi-wrangler-central/SOPs/update_ena_runs_SOP.html

[2021-10-21 09:33] ofanobilbao opened #528 "Fix BAM to FASTQ - ee32b5da-696f-4f65-bf0e-83be66e88122"
see [SOP](https://ebi-ait.github.io/hca-ebi-wrangler-central/SOPs/update_ena_runs_SOP.html)

Links:

- Wrangling ticket - ebi-ait/hca-ebi-wrangler-central#163
- project in [ingest ui](https://contribute.data.humancellatlas.org/projects/detail?uuid=b176d756-62d8-4933-83a4-8b026380262f)
- [submission in ingest](https://contribute.data.humancellatlas.org/submissions/detail?uuid=ee32b5da-696f-4f65-bf0

[2021-10-21 09:45] ESapenaVentura commented on #502
Done, hit export and filled out import form

[2021-10-21 10:25] ESapenaVentura opened #529 "contributor account for: ckuppe"
Please create an account a contributor.

*Contributor details:*
* name: C. Kuppe
* email: ckuppe@ukaachen.de

Request Details:
* Requested by: C. Kuppe

[SOP link](https://ebi-ait.github.io/hca-ebi-wrangler-central/SOPs/dataset_wrangling_SOP.html#aws-user-for-contributors)

[2021-10-21 10:35] ESapenaVentura commented on #31
@Wkt8 about your review!

Donor organism tab:
- I got it from inferring from the name of the samples (MRC_Endo). Good eye catching the third donor, I mislabelled it!

Dissociation protocol:
- I have moved that part of the protocol to enrichment :)

I'm going to create the submission!

[2021-10-21 12:19] ESapenaVentura commented on #146
Pre-curated spreadsheet, sent instructions to upload matrix and asked for review of the pre-filled template

[2021-10-21 14:56] ESapenaVentura commented on #482
@ami-day I have started secondary review but stopped at specimen from organism.

So far:
Project
- Added || to separate supplementary links
- Added version to dbGap accession

Donor organism
- Corrected biological sex to match enum
- Corrected ages based on info found on the GTEX biobank. Please review the ones marked in yellow because the age difference was significative, the other ones were 1 ye

[2021-10-21 15:07] ami-day opened #531 "Update fastq validation requirements doc."
I created a fastq file validation requirements doc. and shared it with Tony, the HCA devs and ENA devs.
Tony and ENA devs have given me feedback.
This ticket is to update the requirements doc. and share it with Gabs and Amnon as the fastq validation work will be a dev task soon.
Document is here: https://docs.google.com/document/d/1FW5r6dqoTfQ7PffW3wHIXkHX9QlQBD32CqADPfzKpbg/edit

[2021-10-22 10:07] ipediez opened #533 "Script to fill 'File name' at wrangling spreadsheet"
There's a new script that can fill for you the File name column at the 'Sequence file' tab if you have already filled the INSDC experiment accesion ID at the 'Cell suspension' tab. This is particularly useful for spreadsheets generated with the tool geo_to_hca, and a lot of files from different technologies. It requieres to download a report in JSON format from ENA, including the list of available

[2021-10-25 10:48] Wkt8 opened #534 "GSE143380_GSE143356_Female human primordial germ cells display X-chromosome dosage compensation despite the absence of X-inactivation"
### Project short name:

### Primary Wrangler:

### Secondary Wrangler:

### Associated files

* Google Drive:

### Published study links

* Paper:
https://www.nature.com/articles/s41556-020-00607-4

* Accessioned data:
GSE143380, GSE143356

### Key Events

- [ ] Convert published metadata to HCA spreadsheet
- [ ] Manually curate dataset to meet HCA metadata standard
- [ ] Collect any matrix and c

[2021-10-25 14:58] #534 closed, assigned to idazucchi

[2021-10-25 15:02] Wkt8 opened #535 "GSE137720_GSE136103_Single-Cell Transcriptomics Uncovers Zonation of Function in the Mesenchyme during Liver Fibrosis"
### Project short name: LiverFibrosisZonation

### Primary Wrangler: Ida

### Secondary Wrangler:
@ESapenaVentura

### Associated files

* Google Drive: https://drive.google.com/drive/folders/1A_R52KVUp8ctpSRdCTqAz_-fWCyRnIrP

### Published study links

* Paper: https://doi.org/10.1016/j.celrep.2019.10.024

* Accessioned data: GSE137720

**Ingest**
https://contribute.data.humancellatlas.org/projec

[2021-10-26 14:40] ESapenaVentura opened #536 "SCP259 - RewiringHumanColon"
### Project short name:
HumanColonRewiringUlcerativeColitis
### Primary Wrangler:
Irene
### Secondary Wrangler:

### Associated files

* Google Drive: https://drive.google.com/drive/folders/1A8okIFou6pr8KOr_SVLhLI982tyu_5Dn

### Published study links

* Paper: 10.1016/j.cell.2019.06.029

* Accessioned data: [SCP259](https://singlecell.broadinstitute.org/single_cell/study/SCP259/intra-and-inter-cel

[2021-10-26 14:43] ESapenaVentura opened #537 "GSE130148,EGAS00001001755 - lungCellularCensus"
### Project short name:
lungCellularCensus
### Primary Wrangler:
Ida
### Secondary Wrangler:

### Associated files

* Google Drive: https://drive.google.com/drive/folders/1LXtmfaRLMLGPkc1Zq_7dCd5NGFHFkAWQ

### Published study links

* Paper: https://doi.org/10.1038/s41591-019-0468-5

* Accessioned data:
   * [GSE130148](https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE130148)
   * [EGAS000010

[2021-10-26 14:49] ESapenaVentura opened #538 "lungFibrosisProteinSignatures"
### Project short name: LungFibrosisProteinSignatures

### Primary Wrangler: Wei Kheng Teh

### Secondary Wrangler:

### Associated files

* Google Drive: https://drive.google.com/drive/folders/1WFzOjfExCwj3ODzln_iSz5D611mL9YlQ

### Published study links

* Paper: [Needs registering for sneak peak](https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3538700&download=yes)

* Accessioned data: [Matr

[2021-10-26 14:53] ESapenaVentura opened #539 "GSE121611,GSE122960 - pulmonaryFibrosisPathobiology"
### Project short name:
pulmonaryFibrosisPathobiology
### Primary Wrangler:
@ESapenaVentura
### Secondary Wrangler:
@idazucchi

### Associated files

* Google Drive: https://drive.google.com/drive/folders/1YgokNPGtmo0bslk_1JCun6EmQfzuCEP8

### Published study links

* Paper: https://doi.org/10.1164/rccm.201712-2410OC

* Accessioned data:
   * [GSE121611](https://www.ncbi.nlm.nih.gov/geo/query/acc.

[2021-10-26 14:55] ESapenaVentura opened #540 "EGAS00001004082 - healthyAirwaysAtlas"
### Project short name:

healthyAirwaysAtlas

### Primary Wrangler:

Irene Perez Diez

### Secondary Wrangler:

### Associated files

* Google Drive: https://drive.google.com/drive/folders/1p_x2VznKkUlhpqMIImjLUJ4aCxpl01d3

https://www.genomique.eu/cellbrowser/HCA/

### Published study links

* Paper: https://www.atsjournals.org/doi/10.1164/rccm.201911-2199OC

* Accessioned data: [EGAS00001004082]

[2021-10-27 08:20] ESapenaVentura opened #541 "Document undocumented wrangling choices"
**Description of the issue**

Due to the length of the project, and the many people coming and going, there are "unspoken rules/best practices" for wrangling that have been kept undocumented and may re-surface as problems when they are not being followed

For this purpose, we are writing guidelines on best practices.

**Acceptance criteria**
- [x] A dump of all best practices is done before christ

[2021-10-27 12:25] ESapenaVentura opened #542 "Wrangle urgent project SCEA - PulmonaryFibrosis"
**Description of the issue**
Wrangle this dataset to SCEA https://app.zenhub.com/workspaces/brokering-to-scea-60af47517f6e370017b3d5bf/issues/ebi-ait/hca-ebi-wrangler-central/87

Was partially wrangled to SCEA before, got stopped for a metadata issue.

More or less urgent

**Acceptance criteria**
- [ ] Dataset has been uploaded to SCEA's GitLab
- [ ] Dataset is approved and merged into SCEA

[2021-10-28 14:51] ESapenaVentura opened #543 "Discuss inclusion of snippets into FAIRbook"
**Description of the issue**
- Context [here](https://embl-ebi-ait.slack.com/archives/CGKP7EZ54/p1635429308012900)

**Acceptance criteria**
- [ ] A decision has been reached within the team
- [ ] Someone contacts @tburdett and @FuqiX about the decision

[2021-11-01 09:52] amnonkhen commented on #533
waiting for PR review

[2021-11-01 09:56] amnonkhen commented on #542
@ami-day to investigate today

[2021-11-01 09:59] amnonkhen commented on #516
@yusra-haider uploaded the files on Friday, will check status today.

[2021-11-01 10:01] amnonkhen commented on #446
- Meeting with Jason took place on Friday

[2021-11-01 11:09] ke4 opened #544 "No experiment and data files for dataset fce97270-fce0-4744-8a4e-a93d95521852 in ENA"
@ke4 has submitted the new replacement FASTQ files for this dataset (fce97270-fce0-4744-8a4e-a93d95521852) to ENA and asked to suppress the old BAM files.
ENA help desk accidentally suppressed the data in experiment level. @ke4 contacted with them and they are going to fix this issue and contact with @ke4 when they are ready.

This is the project link in ENA: https://www.ebi.ac.uk/ena/browser/view

[2021-11-01 11:15] ke4 commented on #544
Reply from ENA help desk:

Dear Karoly,

Thanks for contacting me via Slack about this suppression. Apologies for our
oversight in suppressing the Experiments here.

As I explained over slack - suppressing raw data via the experiment is
standard procedure as most runs are tightly coupled with experiments in a 1-1
ratio. However, we recognise that there are exceptions to this where multiple
runs ar

[2021-11-01 11:25] ke4 commented on #544
My reply to ENA help desk:

Dear Josie,

I double checked and I can confirm that the above experiments and runs you listed in your email are the correct one to re-release.

On 1 Nov 2021, at 11:05, Josephine Burgin via RT <ena-helpdesk@ebi.ac.uk> wrote:

ERR7124931 - ERX3266488
ERR7124932  - ERX3266487
ERR7124933 - ERX3266486
ERR7124934 - ERX3266489
ERR7124935 - ERX3266490
ERR7124936 - ERX3266491

[2021-11-01 15:32] ESapenaVentura commented on #484
I have taken a look at the dataset and I think still needs a couple of adjustments:

### Project
- Label needs to be changed
- EGA accession and paper DOI needs to be removed from supplementary links
- Contributor metadata needs to be reviewed and filled
- Grant metadata needs to be reviewed and filled
- Admin area needs to be updated

### Donor organism
- Corrected covid patient 14 (Had asterisk

[2021-11-01 16:18] yusra-haider commented on #516
files uploaded to hca-util upload area with id 869ebec1-19bc-4549-8106-d13107415b79.

@idazucchi , please take a look and verify

[2021-11-01 16:44] ESapenaVentura commented on #495
I have reviewed the dataset! A couple of notes:

### Donor organism
- If you could link the donor to the ID given in the study it would be great (Not a must, but may help scientists looking at the matrices + our metadata)

### Collection protocol
- Description: Please correct the format of the protocol description (There are newlines in weird places)
- pbmc activation protocol: Please correct the

[2021-11-02 08:19] ESapenaVentura commented on #515
No meeting today - Delayed

[2021-11-02 08:23] ESapenaVentura commented on #446
Lattice has regenerated the project - @ESapenaVentura to add this topic to the demo next tuesday

[2021-11-02 09:49] ESapenaVentura commented on #533
@ESapenaVentura to work on this today - tag @ipediez when finished

[2021-11-02 09:50] ESapenaVentura commented on #493
@Wkt8 Merged 1 PR into staging - Other had conflicts. Fixed that issue, will check with @ESapenaVentura .

Once conflicts solved will merge into staging then prod

[2021-11-02 09:51] ESapenaVentura commented on #520
DCP1 dataset - Files on download from Data browser, waiting on that for further action @yusra-haider

[2021-11-02 09:52] ESapenaVentura commented on #544
tl;dr: @ke4 was in contact, there was an error, runs will re-appear in ~48 hours. Waiting on ENA.

[2021-11-02 09:54] ESapenaVentura commented on #516
@idazucchi to review!

[2021-11-02 09:59] ESapenaVentura commented on #543
@ESapenaVentura to create poll to set up meeting to discuss this

[2021-11-02 11:11] ipediez commented on #495
New term requested: [T cell activation](https://github.com/EBISPOT/efo/issues/1324)

[2021-11-02 15:56] ESapenaVentura opened #545 "Check UCSC datasets to avoid duplication of effort"
**Description of the issue**
UCSC wranglers have given us a list of datasets they are working on:

- GSE76381
- GSE166175
- GSE165045
- GSE169396
- GSE176308
- GSE150212
- GSE174332
- GSE148907
- GSE108041
- GSE136314
- GSE102580
- GSE117498
- GSE129447
- phs000424
- GSE172176
- GSE185477
- GSE156753
- GSE184462
- GSE145154
- GSE179565
- GSE152290
- GSE166895
- GSE157329
- GSE163587

We need to ch

[2021-11-02 17:04] Wkt8 commented on #484
Have updated the project in prod and the brokering drive based on your comments!
Project in prod: https://contribute.data.humancellatlas.org/submissions/detail?uuid=d07d2c6f-ff0b-483d-a961-f1a09117a919&project=769a08d1-b8a4-4f1e-95f7-6071a9827555
Brokering Drive:
https://drive.google.com/drive/folders/1IiJBwe7HP2P1eO8-DiEENU2zobV1MPZk

[2021-11-03 09:55] #464 closed

[2021-11-03 09:55] #514 closed

[2021-11-03 09:55] #308 closed

[2021-11-03 09:55] #529 closed

[2021-11-03 09:56] #454 closed

[2021-11-03 09:57] #531 closed

[2021-11-03 10:22] ESapenaVentura commented on #260
@ESapenaVentura to check with alegria

[2021-11-03 15:58] ofanobilbao commented on #545
I have created a spreadsheet after checking all the accessions in Ingest. Sharing the spreadsheet here so that it can be shared with UCSC wranglers. It specifies if the project is or not in Ingest, and the state. For those projects that were already in Ingest I have assigned them to Rachel (except for one that was assigned to Paris already) and changed the status to Eligible, for UCSC Wranglers to

[2021-11-03 17:04] ESapenaVentura commented on #545
@ofanobilbao That's exactly what I was thinking we could do. I have double checked and seems alright, it would be good to tell them to create the projects + assign a UCSC wrangler and an status to them!

[2021-11-03 19:40] gabsie commented on #545
hey peeps I have created a meeting for us all for next wednesday to talk to them about all recent things ingest. if you guys wanted to do that sooner, while I am away, please feel free :). then next wednesday we can discuss generally other things, like the graph validator.

[2021-11-04 09:47] prabh-t commented on #463
Wei - meeting yesterday. Couple of actions @wei can comment here.

[2021-11-04 09:48] prabh-t commented on #446
Enrique - will speak about how to proceed with deletion in the next dcp demo.

[2021-11-04 09:54] prabh-t commented on #485
Irene mostly finish with this one and to move to secondary review soon.

[2021-11-04 11:21] ipediez opened #546 "standardisation of ontology choices"
**Description of the task:**

There's no centralized documentation about what ontology terms we are using in each type of file content, analysis, or process. It would be great to have a table where we can look up this information, include new entries, and include discrepancies as comments, so we can have a discussion and agree on a standardised way of doing the annotation.

A discussion between @E

[2021-11-04 16:36] ipediez commented on #485
Needs an update of Ingest Graph Validator. There's already a [PR](https://github.com/ebi-ait/ingest-graph-validator/pull/35) by @ESapenaVentura that has been already approved by @Wkt8 but it's missing another approval. I'll review it tomorrow.

[2021-11-05 09:06] Wkt8 commented on #463
Tony/Wei will draft a data flow diagram - Friday 5th
Enrique/Nikelle/Marcos will provide input on the figure - Weds 10th

[2021-11-05 09:11] ipediez commented on #546
Spreadsheet proposal: https://docs.google.com/spreadsheets/d/1X-lDkdykICWsCXEBYov4-FiwSdzR6czxN4uVk8RA9gg/edit?usp=sharing

[2021-11-05 09:20] ESapenaVentura opened #547 "Create project checking template for all releases"
a template with the list of checks for verifying the successful release of a dataset to the Browser.

@ESapenaVentura to compile list

[2021-11-05 09:52] ESapenaVentura opened #548 "Rui-chen retina dataset - Lattice import"
**Description of the issue**
Similar to lavaert dataset (#446), Lattice wants to update a dataset.

This dataset needs a deletion and a re-upload, as it includes deletion of subgraphs

More details on the subgaph structure [here](https://docs.google.com/drawings/d/1ZppCC7FswX4mFQKZqmr9RHecPOjTI7dbWJiw33G8014/edit)

**Acceptance criteria**
- [x] The dataset has been discussed at the demo
- [ ] Acti

[2021-11-05 09:52] ofanobilbao commented on #511
3/4 done

[2021-11-05 09:54] amnonkhen commented on #250
@ESapenaVentura to convert ticket to epic and attach sub tickets :)

[2021-11-08 09:43] ofanobilbao commented on #533
Irene working on this

[2021-11-08 09:44] ofanobilbao commented on #545
@gabsie meeting will need to be re-scheduled as Paris and Will can't make it

[2021-11-08 09:47] ofanobilbao commented on #545
Enrique had a brief discussion with UCSC and they would appreciate if we could add them to Ingest this time

[2021-11-08 09:49] ofanobilbao commented on #520
@jacobwindsor will re-download the files as some of the files that Yusra downloaded failed checksums

[2021-11-08 09:55] ofanobilbao commented on #548
@ESapenaVentura will raise this in the DCP demo

[2021-11-08 15:02] ipediez commented on #485
For secondary review, pay attention to:
- It is managed access, so I have not found any sequence file.
- Only 50 cell suspensions seem to be indexed in Biosamples, the rest do not have accession number.
- The individuals are of prenatal stage, and the 'Age' column is defined as 'Age of organism in Age units measured since birth'. I've written the age of the individuals under 'Gestational age', but

[2021-11-09 09:13] ESapenaVentura commented on #506
Verified, everything seems alright

[2021-11-09 09:19] ESapenaVentura commented on #507
Missing cell count (Missed that in previous release)

[2021-11-09 09:26] idazucchi commented on #516
I uploaded the files in ingest. Ingest points out some errors about the files being truncated or the length of quality and sequence not matching. I wrote a new script to concatenate the fastq

[2021-11-09 09:52] idazucchi commented on #520
Problems with ENA, the files failed validation on checksum. It could be a metadata error. Two different checksum in Azul and Ingest

[2021-11-09 09:56] idazucchi commented on #485
@ipediez to contact BioSamples and SRA about potentially missing cell suspension.

[2021-11-09 10:34] ESapenaVentura commented on #507
Actually, forget that

Data browser is still not indexing `project.estimated_cell_count`, so this is expected

[2021-11-09 10:48] ESapenaVentura commented on #482
Please next time use the existing project entity:
- https://contribute.data.humancellatlas.org/projects/detail?uuid=75a9c8d0-50d5-48d9-bff0-462b90330e81&tab=project (Existing)
- https://contribute.data.humancellatlas.org/projects/detail?uuid=31887183-a72c-4308-9eac-c6140313f39c&tab=project (Exported one)

And remember to fill out the missing overall project fields (Organ, technology, species, etc)

[2021-11-09 10:52] ESapenaVentura commented on #482
Checked the project in the data portal:
- 2 expression matrices (expected)
- Contains a donor with an unspecified organ. Is this expected?

[2021-11-09 11:03] ESapenaVentura commented on #487
The project description seems a bit too short (and it's equal to the project title?) but if it was agreed that that's ok, it's fine to me

Another issue is that the fields were not filled for the project catalogue and the flag was not used. Please remember to fill out these and click on the flag for future datasets

Other than that, looks fine in the browser

[2021-11-09 11:05] ESapenaVentura commented on #502
Looks fine in data browser, added release to project

[2021-11-09 11:18] ESapenaVentura commented on #31
Looks great in the browser

Closing!

[2021-11-09 11:21] ESapenaVentura commented on #315
EGA accessions now are showing up properly

Closing!

[2021-11-09 11:24] #315 closed

[2021-11-09 11:24] #502 closed

[2021-11-09 11:27] #507 closed

[2021-11-09 11:28] #487 closed

[2021-11-09 15:52] idazucchi commented on #492
I uploaded the metadata spreadsheet.
The graph validation is currently blocked by the missing fastq files [#516](https://app.zenhub.com/workspaces/operations-5fa2d8f2df78bb000f7fb2b5/issues/ebi-ait/hca-ebi-wrangler-central/516).
I contacted the authors again, since 2 weeks have passed from their last reply. The missing information I am trying to obtain is the sequencing platform for each sample, s

[2021-11-09 16:35] idazucchi commented on #535
I filled out almost all the spreadsheet fields I can at this time and I run fill_ontology.py

##### Problems
1. Ontology term for Liver fibrosis
Is the liver fibrosis the same as cirrhosis? If yes there already is an otology term available, if not there is no suitable ontology term.

2. GEO accession represent multiple sample - donor untraceable
Rather than having one GEO accession per donor or sa

[2021-11-09 17:14] ESapenaVentura commented on #446
AI
- Ask for deletion to Andrew (Data import team)
- Ask lattice to re-export to their staging area with SAME PROJECT UUID(May be done already)
- Ask Lattice to fill an import form

[2021-11-09 17:15] ESapenaVentura commented on #548
AI
- Ask for deletion to Andrew (Data import team)
- Ask Lattice to re-export to their staging area WITH THE SAME PROJECT UUID
- Ask Lattice to fill an import form

[2021-11-10 09:02] ESapenaVentura opened #549 "Continue conversation with HUTER"
**Description of the issue**
Around Jan this year, we started a conversation with HUTER about their submission to the HCA DCP. Since then, we have not maintained a conversation, but there was an H2020 meeting recently and we were informed they are closer to being ready for submission.

In order to make the submission process faster and easier, we need to continue with the conversation and gather t

[2021-11-10 09:15] ESapenaVentura opened #550 "Update data file for DCP2 MVP dataset (83f5188e-3bf7-4956-9544-cea4f8997756)"
**Description of the issue**

Related to dataset https://github.com/ebi-ait/hca-ebi-wrangler-central/issues/109 and the conversation carried in https://embl-ebi-ait.slack.com/archives/C9XD6L0AD/p1636400461045700

### Summary of the issue
- One file is displaying as gzipped (`28284_1#34.cram-2.fastq.gz`)
- When using the command file | grep -q compressed it doesn't show as compressed
- Decompressin

[2021-11-10 10:03] Wkt8 opened #551 "Duplicate projects in ingest"
**Description of the task:**
https://embl-ebi-ait.slack.com/archives/C01360XN04S/p1636481936082700

There are duplicate projects in ingest:
A single-cell atlas of the healthy breast tissues reveals clinically relevant clusters of breast epithelial cells / Single cell atlas of the healthy breast
- https://data.humancellatlas.org/explore/projects/a004b150-1c36-4af6-9bbd-070c06dbc17d
- https://data.h

[2021-11-10 10:54] Wkt8 commented on #540
Unable to obtain pdf of the publication / we don't have access to it at the moment.

[2021-11-10 11:01] Wkt8 commented on #538
Drop-seq paper, only has Munich Cohort - but took data from two other papers (Nashville and Chicago) for integration

[2021-11-10 11:49] jacobwindsor commented on #519
- Project is https://contribute.data.humancellatlas.org/projects/detail?uuid=ad98d3cd-26fb-4ee3-99c9-8a2ab085e737
- [ENA project](https://www.ebi.ac.uk/ena/browser/view/PRJEB39602?show=reads)
- [List of sequencing runs to be supressed]([https://app.zenhub.com/files/261790554/85f09db2-b214-4eb4-a2fb-d5b2c0aef4b1/download](https://app.zenhub.com/files/261790554/85f09db2-b214-4eb4-a2fb-d5b2c0aef4b1/d

[2021-11-10 12:25] jacobwindsor commented on #519
Download to `/nfs/production/hca/20a871b4-5684-4630-96bd-146f94debf1c`

[2021-11-10 12:27] jacobwindsor commented on #519
I haven't performed step 8 in the [SOP](https://ebi-ait.github.io/hca-ebi-wrangler-central/SOPs/update_ena_runs_SOP.html#steps) yet since I haven't been able to get the script to function

[2021-11-10 14:02] idazucchi commented on #516
The fastq have been concatenated and transferred to the hca-util area 4bfbef98-8699-4c0c-8519-8899d187b020

[2021-11-10 15:10] idazucchi commented on #535
**Ontology term for Liver fibrosis**
From this [paper](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC546435/)

From this I think we can conclude that _liver fibrosis needs a separate ontology term_ from liver cirrhosis. There are two possible ways to include liver fibrosis in the HCAO:

1.  Importing a term from EFO

[2021-11-11 09:51] ipediez commented on #519
This is in process

[2021-11-11 09:51] ipediez commented on #520
@jacobwindsor to upload today files to ENA

[2021-11-11 09:52] ipediez commented on #549
@ESapenaVentura to have a meeting with @gabsie and @tburdett

[2021-11-11 09:54] ipediez commented on #550
They won't process this file, as it blocks the pipelines. @gabsie will suggest the team to bypass this to fix the file

[2021-11-11 09:57] ipediez commented on #485
@Wkt8 to have a look today

[2021-11-11 10:01] ipediez commented on #535
@idazucchi to discuss with @Wkt8 and @ESapenaVentura on slack channel

[2021-11-11 13:40] ESapenaVentura commented on #31
Updated metadata of 3 of the donors (E1, E2, E3) to normal

[2021-11-11 15:14] ESapenaVentura commented on #260
Projects updated in ingest (left in valid):
- f2fe82f0-4454-4d84-b416-a885f3121e59

Projects that had an update in the project metadata and have been re-exported:
- f48e7c39-cc67-4055-9d79-bc437892840c: Sent import request

Projects that had an update in the project metadata **AND COULDN'T BE RE-EXPORTED**:
- c41dffbf-ad83-447c-a0e1-13e689d9b258: 10x_has_more_than_2_files.adoc
- c1a9a93d-d9de-4e65

[2021-11-11 15:22] ESapenaVentura commented on #260
Need to act on:
- c41dffbf-ad83-447c-a0e1-13e689d9b258: 10x_has_more_than_2_files.adoc
- c1a9a93d-d9de-4e65-9619-a9cec1052eaa: "Exported" status won't change
- 95f07e6e-6a73-4e1b-a880-c83996b3aa5c: Stuck in "Exported" status
- ad98d3cd-26fb-4ee3-99c9-8a2ab085e737: Stuck in "Archived". @aaclan-ebi this is a dataset that couldn't be exported in the migration process
- 5b5f05b7-2482-468d-b76d-8f68c04

[2021-11-11 15:34] Wkt8 commented on #485
Hello! I kind of went deep into this and buried my head in it. There was a lot! I thought you did a good job modelling it - it was a huge project and quite complicated with the TruSeq and SplitSeq. Feel free to discuss about my comments, and drop me any questions.

Publication Funders -
I don't think MR/R006237/1 (MRC and Wellcome Trust) is a grant or funder. The project obtained specimens from th

[2021-11-12 09:55] ofanobilbao commented on #533
Needs reviewing by @ESapenaVentura again

[2021-11-12 09:56] ofanobilbao commented on #516
@idazucchi to reach out to a dev for help

[2021-11-12 09:57] ofanobilbao commented on #31
@ESapenaVentura updated and sent import form for Release 12

[2021-11-12 10:31] jacobwindsor commented on #519
Uploading to ENA. See `screen -r 188486` for progress

[2021-11-12 10:50] jacobwindsor commented on #520
Uploading to ENA. See `screen -r 136970.webin-upload-7dbcf5ae-f8d7-487c-a3d4-794d8639a1e2` for progress

[2021-11-12 11:41] ipediez commented on #485
Thank you! I'll check all your comments and make the appropriate changes. Regarding some of the points:

- About the funders: you are right, MRC and Wellcome Trust are not funders. Thanks for noticing!
- About the dounce homogenisser, Wheaton: I think I mixed it from another paper, because in this work is only specified that they used a ceramic mortar and pestle. I'll change it.
- About the analys

[2021-11-12 12:27] idazucchi opened #552 "Deleting a submission from ingest"
**Description of the task:**
PRJNA694128 - Co-evolution of tumor and immune cells during progression of multiple myeloma [#492](https://app.zenhub.com/workspaces/dataset-wrangling-status-5f994cb88e0805001759d2e9/issues/ebi-ait/hca-ebi-wrangler-central/492)

The fastq files uploaded in ingest for this project have mistakes and need to be substituted with new ones. The files' metadata have to be mod

[2021-11-12 13:17] idazucchi commented on #535
**Ontology term for Liver fibrosis - in MONDO**
Enrique pointed out that the only ontologies admitted by the [schema](https://github.com/HumanCellAtlas/metadata-schema/blob/master/json_schema/module/ontology/disease_ontology.json) in the known disease field are MONDO and PATO.
Since the aim of requesting the liver fibrosis term is modelling the animal disease model, the only viable option is the f

[2021-11-12 14:59] ipediez commented on #495
The new term is EFO:0030037 (T cell activation assay).
It will be in HCAO following the release scheduled for Tue 16th.

[2021-11-12 17:00] idazucchi commented on #492
Newly concatenated fastq files uploaded to ingest: **109/121 validated**

#### Problem: Fastq files truncated
Fastq for 3 SRRun accession are invalid. Errors again about files being truncated or sequence and quality length not matching.

- **SRR13509448** --> puzzling as there fastq file was split in just one part, so files can only be truncated if something went wrong with bam-to-fastq conversion

[2021-11-12 17:18] idazucchi commented on #516
Fastq for 3 SRRun accession are invalid. Errors again about files being truncated or sequence and quality length not matching.

- **SRR13509448** --> puzzling as there fastq file was split in just one part, so files can only be truncated if something went wrong with bam-to-fastq conversion
- SRR13509424
- SRR13509453

[2021-11-15 09:56] ESapenaVentura commented on #260
@ESapenaVentura to create ticket on actions and put in ops backlog

[2021-11-15 09:57] ESapenaVentura commented on #551
@Wkt8 took a look, will get an answer by noon about UCSC/EBI wrangled dataset

[2021-11-15 10:02] ESapenaVentura commented on #516
@idazucchi to try manually converting the bams for the runs above

[2021-11-15 10:08] ESapenaVentura commented on #535
There's more discussion needed around the term - Need Wranglers to meet about it

[2021-11-15 10:38] ESapenaVentura opened #553 "Export ad-hoc update projects"
**Description of the issue**

Related to #260, I have updated all the projects in ingest that had ad-hoc updates from the DCP MVP

There are 5 projects that need a re-export:
- [ ] c41dffbf-ad83-447c-a0e1-13e689d9b258: 10x_has_more_than_2_files.adoc
- [ ] c1a9a93d-d9de-4e65-9619-a9cec1052eaa: "Exported" status won't change
- [ ] 95f07e6e-6a73-4e1b-a880-c83996b3aa5c: Stuck in "Exported" status
- [

[2021-11-15 12:28] ESapenaVentura commented on #495
I have reviewed the dataset again, this time to the very end :) First of all, congrats, this is a very big dataset and I think you've done an outstanding job on describing the experimental design!

I have just a couple of comments and corrections:

### Enrichment protocol
- Added facs sorting and linked it in Cell line enrichment protocols

### Cell line
- Missing ontology and ontology_label for t

[2021-11-15 14:49] Wkt8 commented on #551
For the Single cell atlas of the healthy breast, the two projects are from Lattice and UCSC. Going by the seed-network funding rules, we should remove the one curated by Tiana Pereira.

- [ ] Remove https://data.humancellatlas.org/explore/projects/9bab0f03-a725-4a13-9ab1-196e46cd80ed

For the Crohn's disease lesions EBI/UCSC dataset, there are some missing metadata from both sides. However, the UC

[2021-11-15 15:34] ESapenaVentura opened #554 "Investigate issue with dataset c893cb57-5c9f-4f26-9312-21b85be84313"
**Description of the issue**
As described [here](https://embl-ebi-ait.slack.com/archives/C01360XN04S/p1636989524104300), analysis of the files from dataset [220](https://app.zenhub.com/workspaces/dataset-wrangling-status-5f994cb88e0805001759d2e9/issues/ebi-ait/hca-ebi-wrangler-central/220) has brought up an issue with the R1 files.

I need to investigate if the length is correct and, if not, devis

[2021-11-15 15:34] ESapenaVentura commented on #220
Re-opening to investigate this https://github.com/ebi-ait/hca-ebi-wrangler-central/issues/554

[2021-11-15 16:54] ipediez opened #556 "K-anonymity of HCA's database"
**Description of the task:**

We are interested in knowing what's currently our k-anonymity score, based on donor and project information.

**Acceptance criteria for the task:**

- [x] The full database has been downloaded, with one row per donor including the project information
- [x] A screening of the features that have to be dropped or added has been performed
- [x] Current k-anonymity score h

[2021-11-15 17:28] idazucchi commented on #516
bam file download not done yet

[2021-11-16 09:51] aaclan-ebi commented on #446
@ESapenaVentura to send Andrew the list of projects that needs to be deleted. This may include submissions from #541 and #551

[2021-11-16 09:53] aaclan-ebi commented on #556
Gabs, Tony, Irene and Enrique had a meeting and discussed this yesterday. Irene and Enrique to meet tomorrow to see if this is possible with the expected timeframe.

[2021-11-16 09:55] aaclan-ebi commented on #516
Some files may need to be converted again due to errors in the fastq files when uploaded to Ingest. @idazucchi tried yesterday but a file couldn't be downloaded to her machine. Need dev support from @jacobwindsor .

[2021-11-16 09:57] aaclan-ebi commented on #553
2 projects were from project 15.0.0 migration status spreadsheets.

[2021-11-16 09:59] aaclan-ebi commented on #554
The issue is brought about by pipelines. There were read files that weren't trimmed.

[2021-11-16 10:00] aaclan-ebi commented on #539
@ESapenaVentura worked on curating the spreadsheet.

[2021-11-16 14:22] idazucchi commented on #516
There are three files that need be converted from bam to fastq format following the [SOPs](https://ebi-ait.github.io/hca-ebi-wrangler-central/tools/handy_snippets.html#downloading-10x-files-from-archives) using the option `--reads-per-fastq=500000000`

**Where**
The files are in the cluster in the folder /nfs/production/hca/multiple_myeloma_immune_cells_coevolution/bam_files

**Which files**
SRR13

[2021-11-16 15:43] idazucchi commented on #535
**Update - MONDO Ontology term for Liver fibrosis**
It is not possible to import a human phenotype directly in the MONDO HCAO subset.
Paola Roncaglia suggested to request a new term in MONDO called 'hepatic fibrosis (disease)' to distinguish it from the HP phenotype term.
She opened a [new term request ticket](https://github.com/monarch-initiative/mondo/issues/4000) in the MONDO repo on our behalf

[2021-11-16 16:03] ESapenaVentura commented on #535
@idazucchi this means that this dataset won't make it for release 12 (Dec 6th). Is it ok if I delete the milestone from the ticket?

[2021-11-16 20:34] jacobwindsor commented on #516
Running on screens `SRR13509448`, `SRR13509424`, and `SRR13509453`

[2021-11-17 06:44] #493 closed

[2021-11-17 06:44] #552 closed

[2021-11-17 06:44] #471 closed

[2021-11-17 06:45] #468 closed

[2021-11-17 06:45] #260 closed

[2021-11-17 06:46] ofanobilbao commented on #545
I feel like probably we should close this ticket. The only step missing is talk to UCSC on Friday. But we have already kind of hinted to it. Did we share the spreadsheet with them @ESapenaVentura ?

[2021-11-17 06:54] ofanobilbao commented on #489
Moving to In Progress, as at least my ticket is on that state.

[2021-11-17 07:01] ofanobilbao commented on #295
Still around 70 projects don't show a Cell Count Estimation in the Browser

[2021-11-17 07:05] ofanobilbao commented on #465
@Wkt8 is this still stalled?

[2021-11-17 09:00] ESapenaVentura commented on #545
Just to clarify, what are the outcomes of this ticket? Is it the idea that we'll speak with them on Friday and convince them to add those datasets when they can?

[2021-11-17 09:01] ESapenaVentura commented on #544
Runs have been re-released, moving to done :)

[2021-11-17 09:05] ofanobilbao commented on #545
The ticket was mostly to avoid duplications. Not how we avoided them or how we created the missing projects in ingest. So I'd say, that sharing the SPS with UCSC should be enough to cover what this ticket was about. I think going forward the idea would be that they check ingest themselves not to duplicate. And that they create entries in Ingest when they are working on a project, right @gabsie ? B

[2021-11-17 09:13] ESapenaVentura opened #557 "Updates needed to improve the data in the system"
**Description of the epic**

This epic will serve as a collection of all the tickets that we will target in the update release. This release (Still TBD) will be focused on improving the existing metadata in the system by pushing updates that we have been postponing for some time now.

[2021-11-17 09:21] idazucchi commented on #535
Yes, the release 12 milestone makes no sense for this dataset

[2021-11-17 09:24] Wkt8 commented on #465
I need to check in with will from UCSC about the progress of the metadata schema update, because we are sending the data with that.

[2021-11-17 09:49] ESapenaVentura commented on #554
Pipelines will omit analysis for these files

[2021-11-17 09:56] idazucchi commented on #535
**Selected cells**
In this study there are two selections protocols, one states clearly the cells selected, hepatic stellate cells, while the other doesn't.  So for some cell suspensions the information is missing

**Organ part**
The whole liver is extracted and processed but throughout the paper the authors refer to the mesenchymal liver cells as the population under study.
From what I understand

[2021-11-17 10:01] ipediez commented on #546
It would might be worth to check the work started by Marion on Zooma, it should be under the /src folder related with harvesting ontologies

[2021-11-17 10:45] jacobwindsor commented on #516
I think there is some problems with these BAMs. These files have been outputted

- `SRR13509448/fastq/27522_4_MissingLibrary_1_HCWFWDSXX`
- `SRR13509424/fastq/56203_2_MissingLibrary_1_HCMCFDSXX`
- `SRR13509424/fastq/56203_2_MissingLibrary_1_HNVV5BBXX`
- `SRR13509453/fastq/98433_MissingLibrary_1_HNJJVBBXX`

[2021-11-17 10:47] jacobwindsor commented on #516
Done!

Files have been outputted into the same directories as the BAM file under the `fastq` subdirectory

[2021-11-17 11:13] ofanobilbao commented on #519
@jacobwindsor is this finished?

[2021-11-17 11:13] ofanobilbao commented on #520
@jacobwindsor is this finished?

[2021-11-17 11:24] jacobwindsor commented on #520
This one has been uploaded to ENA in the folder `7dbcf5ae-f8d7-487c-a3d4-794d8639a1e2`.

The submit script needs to be run and then it's done

[2021-11-17 11:27] jacobwindsor commented on #519
This has been uploaded to `20a871b4-5684-4630-96bd-146f94debf1c` on the Webin FTP server.

Step 8 and step 12 need to be ran

[2021-11-17 11:35] jacobwindsor commented on #519
These are now uploaded to the Webin FTP server in folder20a871b4-5684-4630-96bd-146f94debf1c. However, the Webin FTP server was being a bit unreliable at the time of uploading so they *might* fail checksumming.

Step 8 and step 12 in the SOP need doing

[2021-11-17 13:32] ESapenaVentura commented on #554
R1 files are showing an abnormal size because the data was not trimmed.

For now, the problem is solved for the pipelines. This is something we'll need to address for the Update release, scheduled probably after christmas.

[2021-11-17 14:05] ESapenaVentura opened #558 "Investigate why 2 sets of files do not have aligned reads"
**Description of the issue**
For dataset [Distinct microbial and immune niches of the human colon](https://data.humancellatlas.org/explore/projects/83f5188e-3bf7-4956-9544-cea4f8997756), the pipelines team has started analysing the SS2 data.

For 2 sets of files, they have found out that the reads can't be aligned and that's making the pipeline to fail.

More context [here](https://humancellatlas.

[2021-11-17 14:22] idazucchi commented on #516
Fastq correctly converted for:
 - SRR13509424
 - SRR13509453

##### 3rd time conversion SRR13509448
Attempting again the bam-to-fastq conversion for **SRR13509448**
The fastq files collectively occupy 174M which is suspicious, however bam-to-fastq didn't raise errors

[2021-11-17 14:36] Wkt8 commented on #538
Ready for secondary review - see brokering drive google link!

[2021-11-17 14:58] ESapenaVentura commented on #516
It is indeed very weird

I checked the metadata provided in the ENA run selector https://www.ebi.ac.uk/ena/browser/view/SRR13509448?show=reads

Comparing the MD5 provided in their metadata (Available if you select to show the column) and the md5 of the file in the cluster, it does not seem that this has to do with the file download.

If this happens again we'll need to investigate why the file is

[2021-11-17 15:24] ke4 commented on #520
Step 8 - Clear the sequencing run accessions in file metadata also needed to be done.
It is done now + step 12 - submitted the new FASTQ files

[2021-11-17 16:12] ke4 commented on #520
I filed a ticket to ENA with the details.

[code]

[2021-11-17 16:13] ke4 commented on #520
We need to wait at least 48 hours to be able to view the new FASTQ files in the ENA browser.
Here is the link: https://www.ebi.ac.uk/ena/browser/view/PRJEB37166

[2021-11-17 16:17] ofanobilbao commented on #511
Finished with the task

[2021-11-18 09:29] idazucchi commented on #516
Conversion completed for SRR13509448!
The fastq now occupy 44GB so something definitely happened

[2021-11-18 09:39] ESapenaVentura commented on #546
@ipediez and @ESapenaVentura had a meeting yesterday for reporting this, waiting on @tburdett 's feedback

[2021-11-18 09:39] ESapenaVentura commented on #556
@ipediez and @ESapenaVentura had a meeting yesterday for reporting this, waiting on @tburdett 's feedback

[2021-11-18 09:40] ESapenaVentura commented on #520
@ke4 to check in ~30 hours

[2021-11-18 09:43] Wkt8 commented on #463
We have created a document for the usage of the EGA dataset: https://docs.google.com/document/d/1jJKOIQrb_2bxn7zkbrEMyLKuu_VYNlTwkFDjXhS10Wk/edit# and have reviewed and revised.

It requires a bit more information from the Broad side.

[2021-11-18 09:44] ESapenaVentura commented on #516
@idazucchi to test if fastq files

Need a dev to delete old submission and then @idazucchi will re-upload the submission and the files @ke4

[2021-11-18 15:01] ipediez commented on #538
Hello! I've read the pre-print and gone through the data available at GitHub. I have a few comments that I think can improve the metadata, but feel free to discuss any of them!

**Cell suspension**
- As cell size is selected, maybe we could add it to the 'cell size' column as a range with μm as the 'cell size unit' ("micrometer", UO:0000017). Nevertheless, we don't know the bottom range, so maybe

[2021-11-18 15:38] nikellepetrillo commented on #558
Thanks @ESapenaVentura! Here are the files that I believe are no good:

corrupt file:  gs://broad-datarepo-terra-prod-hca2-bucket/d30e68f8-c826-4639-88f3-ae35f00d4185/532c70fe-6f22-405b-b6ac-7051d49931d9/f40aec65-c302-4490-9412-1fb907e14d67_2020-08-06T11:33:30.247000Z_27995_2#217.cram-2.fastq.gz

its mate: gs://broad-datarepo-terra-prod-hca2-bucket/d30e68f8-c826-4639-88f3-ae35f00d4185/5e7e304c-5b0

[2021-11-18 15:55] nikellepetrillo opened #560 "Number of reads differ between fastq1 and fastq2"
**Description of the task:**
The pipelines team started processing this [melanoma mouse ss2 dataset](https://data.humancellatlas.org/explore/projects?filter=%5B%7B%22facetName%22:%22projectTitle%22,%22terms%22:%5B%22Melanoma%20infiltration%20of%20stromal%20and%20immune%20cells%22%5D%7D,%7B%22facetName%22:%22genusSpecies%22,%22terms%22:%5B%22Mus%20musculus%22%5D%7D,%7B%22facetName%22:%22libraryCons

[2021-11-18 15:57] nikellepetrillo commented on #560
In the meantime, I will process this dataset without this pair. Please let me know if this is not what we want to do!

[2021-11-18 16:19] Wkt8 commented on #465
Created imaging test data here:

https://drive.google.com/drive/folders/15MOmkLStw7AzSoK6sSEbdv_HJY0bZcZF

[2021-11-18 16:27] Wkt8 commented on #538
Thank you! I've taken on board your suggestions for library preparation protocol and analysis protocol.

- Have added the doi for the original pipeline
- Have added the primer as poly-dT
- Have moved the normalization of expression matrices and the 'SF (size factor' from the data normalization fields

I have not added 0 - 40um as the cell size because I'm not sure it adds as much, given that the i

[2021-11-18 17:00] Wkt8 commented on #538
@ESapenaVentura https://contribute.data.humancellatlas.org/submissions/detail?uuid=9f243640-a7ad-41d9-bfce-712d8794ebda&project=2f676143-80c2-4bc6-b7b4-2613fe0fadf0

https://drive.google.com/drive/folders/1WFzOjfExCwj3ODzln_iSz5D611mL9YlQ

[2021-11-18 17:15] nikellepetrillo opened #561 "missing metadata field in optimus dataset"
**Description of the task:**

the pipelines team are running into an error trying to process this dataset:
[Stress-induced RNA–chromatin interactions promote endothelial dysfunction](https://data.humancellatlas.org/explore/projects?filter=%5B%7B%22facetName%22:%22workflow%22,%22terms%22:%5B%22Unspecified%22%5D%7D,%7B%22facetName%22:%22libraryConstructionApproach%22,%22terms%22:%5B%2210X%203%27%20v

[2021-11-19 09:14] ofanobilbao commented on #561
This is a Lattice dataset

[2021-11-19 09:17] ofanobilbao commented on #560
This is a dataset that Mallory and Dani wrangled. So it was probably already analysed for DCP1

[2021-11-19 09:51] ke4 commented on #539
@ESapenaVentura almost ready with this dataset. Probably will goes to secondary review today.

[2021-11-19 15:07] ESapenaVentura commented on #539
Ready for secondary review, ingest submission: https://contribute.data.humancellatlas.org/submissions/detail?uuid=c5051364-f177-444c-bcc0-1cc2bd594296&project=daf9d982-7ce6-43f6-ab51-272577290606

[2021-11-19 17:04] Wkt8 commented on #539
Assigning self for secondary review

[2021-11-19 17:06] idazucchi commented on #516
@aaclan-ebi said that if the hca-util area is synced to the ingest area a second time it will trigger file validation again.

All fastq are ready to be transferred to the hca-util area but both me and @ke4 couldn't install pip3 which is necessary to install hca-util.

[2021-11-19 18:08] ke4 commented on #519
Step 8 has been done. Working on step 12. I have some issues, but trying to solve them as I am going along.

[2021-11-22 07:56] ofanobilbao commented on #545
I just shared the SPS with Paris, as I told her on Friday. This ticket as such is Done.

[2021-11-22 09:56] ami-day commented on #520
@ke4 will investigate what the problem is here.

[2021-11-22 09:59] gabsie commented on #465
When Will makes the PR for the metadata changes, he will attach the imaging test data and we will ask for reviews from the other components. @Wkt8  will check with Will if any help is needed.

[2021-11-22 10:00] gabsie commented on #551
@gabsie to send the email request to Dave, to arrange the redirects. Then inform @ESapenaVentura to go on with soft deletion request.

[2021-11-22 10:02] gabsie commented on #560
This will be prioritised for our Updates focus sprint, but for now this is fine.

[2021-11-22 10:07] gabsie commented on #495
@ipediez still needs to upload the files.

[2021-11-22 10:08] gabsie commented on #540
@ipediez started work on this one as well.

[2021-11-22 11:40] gabsie commented on #542
@ami-day - if you need to chat to @ESapenaVentura about this, but first take a look at the dev bug ticket.

[2021-11-22 11:44] idazucchi commented on #537
The only available data are cell by gene count matrix

[2021-11-22 12:07] ESapenaVentura commented on #538
Finished the review! Overall LGTM, just a couple of comments/corrections:

## Project main page
- Added PXD urls to the accessions in the supplementary links
Project - Publications
- Deleted `.` at the end of last contributor

## Project - Funders
- Replaced all `-` in grant ids for “unspecified”

## Admin area
- Added Irene as secondary wrangler
- Added wrangling priority (1)
- Added release numb

[2021-11-22 14:46] ipediez commented on #495
Graph validator status: pending since 12:00

[2021-11-22 15:42] ESapenaVentura opened #562 "SRP135960 - mouse_nervous_system"
### Project short name: mouse_nervous_system

### Primary Wrangler:
Ami

### Secondary Wrangler:

Google sheet: https://docs.google.com/spreadsheets/d/1sqyJAkyIrpyvt6I57UjA-SeVGBDMGsgrNOUsHb3jqdk/edit#gid=1026916226

### Associated files

* Google Drive:

### Published study links

* Paper: [Molecular architecture of the mouse nervous system](https://www.sciencedirect.com/science/article/pii/S0092

[2021-11-22 15:43] ESapenaVentura commented on #562
Please note I have assigned myself as primary wrangler to give lattice/UCSC an easy way to check if we are targeting this dataset

[2021-11-22 15:58] ESapenaVentura opened #563 "phs001790 - conservedCellTypesHumanMouse"
### Project short name:
conservedCellTypesHumanMouse
### Primary Wrangler:
Irene Perez-Diez
### Secondary Wrangler:

### Associated files

* Google Drive: https://drive.google.com/drive/folders/17RcdxQxVItpm49AJU-N-Jx2zsfKlP2I7?usp=sharing

### Published study links

* Paper: [Conserved cell types with divergent features in human versus mouse cortex](https://www.nature.com/articles/s41586-019-1506

[2021-11-23 02:05] gabsie commented on #551
I have now requested the redirect arrangement, waiting for go-ahead by Dave & Trevor

[2021-11-23 08:57] idazucchi commented on #516
To use pip3 in the cluster we used conda environments.
All the files have been uploaded in ingest and passed validation!

[2021-11-23 08:57] idazucchi commented on #516
To use pip3 in the cluster we used conda environments.
All the files have been uploaded in ingest and passed validation!

[2021-11-23 10:25] ke4 commented on #519
I tried to submit the files yesterday, but the script failed with errors. When I checked the receipt XML from ENA it shows that the files are not exists in the upload area.
I checked ENA's FTP and there is no folder with the submission uuid.
I am not sure what happened.  I need to upload them again.

[2021-11-23 11:02] ke4 commented on #519
I started to upload the files to ENA FTP and waiting for them to be uploaded.

[2021-11-23 11:33] ke4 commented on #528
Step 8 is done.

[2021-11-23 11:37] ke4 commented on #520
I checked this in the ENA browser: https://www.ebi.ac.uk/ena/browser/view/PRJEB37166?show=reads and only the BAM files are there. No FASTQs yet. :-(

[2021-11-23 14:25] ke4 commented on #528
@Wkt8 helped me to find the files. 👍
The files could be found here:
Amazon S3 -> hca-util-upload-area -> 9b7857fa-ffcc-408f-ab64-817cfae41efc/
https://s3.console.aws.amazon.com/s3/buckets/hca-util-upload-area?region=us-east-1&prefix=9b7857fa-ffcc-408f-ab64-817cfae41efc/&showversions=false

[2021-11-23 14:39] idazucchi commented on #537
For managed access data from healthy donors h5da files are available [here](https://www.covid19cellatlas.org/index.healthy.html):

- parenchyma: 6 donors as expected
- nasal: 2 donors as expected
- bronchial: includes biopsy 6 and lung brush 3

[2021-11-23 16:12] gabsie opened #564 "Check everything worked correctly for the duplicate projects, after Release 12"
Somebody should go and check whether everything works as expected after this redirect request for the Browser team:

=====Below we have identified which projects will be deleted from the two which have duplicates:

1. A single-cell atlas of the healthy breast tissues reveals clinically relevant clusters of breast epithelial cells  /  Single cell atlas of the healthy breast

a) https://data.humance

[2021-11-23 16:19] jacobwindsor opened #565 "Remove graph validator from EC2"
Since the work to include the graph validator in Ingest, it is no longer needed to be ran on the EC2 instance and the version on EC2 is out of date

[2021-11-23 16:31] idazucchi commented on #492
**Graph validation unblocked**
The graph validation returns no_orphans.adoc error. I think this is due to the sequencing_protocol_1 which isn't linked to anything while I wait for the authors reply.
Deleting the protocol is not possible from the ingest UI so @ESapenaVentura deleted it through the API. The error however is still present so I have to look into it

[2021-11-23 16:43] hannes-ucsc commented on #513
@ami-day

[2021-11-23 17:29] ke4 commented on #528
@aaclan-ebi told me that this dataset's file is already in ENA, so I need a wrangler to clarify it.
@ESapenaVentura @Wkt8 ???

[2021-11-23 17:43] ke4 commented on #527
Started to download files from the DCP browser

[2021-11-24 09:51] ESapenaVentura commented on #528
@ESapenaVentura to take a look into this issue

[2021-11-24 09:55] ipediez commented on #495
Graph validator yields three errors that shouldn't be there:
- contains_umi_barcode_info.adoc . This is related with [ingest graph validator issue #49](https://github.com/ebi-ait/ingest-graph-validator/issues/49), as this dataset also contains scATAC-seq
- ensure_seq_libr_prep_protocols.adoc . This is related with files with two associated library preparation protocols, which should be allowed.
-

[2021-11-24 10:23] ESapenaVentura commented on #540
@ESapenaVentura assigned as secondary wrangler

[2021-11-24 10:24] ke4 commented on #519
I checked and all the 768 files are on the ENA FTP server under the `/20a871b4-5684-4630-96bd-146f94debf1c` folder.

[2021-11-24 10:26] ke4 commented on #527
All the 60 files are in the EBI cluster under the `/nfs/production/hca/dfb86fe3-ef1f-42ed-b559-d74f4b3b3a11` folder.

[2021-11-24 11:29] idazucchi opened #566 "Deleting a submission from ingest"
**Description of the task:**
PRJNA694128 - Co-evolution of tumor and immune cells during progression of multiple myeloma [#492](https://app.zenhub.com/workspaces/dataset-wrangling-status-5f994cb88e0805001759d2e9/issues/ebi-ait/hca-ebi-wrangler-central/492)

There is a protocol which is not linked to anything and the graph validator raised the no_orphans error. Entities cannot be deleted from inges

[2021-11-24 11:37] ESapenaVentura commented on #528
This is Peng's hindlimb dataset - Let's leave it for now

[2021-11-24 11:41] ipediez opened #567 "Deleting submissions from ingest"
I created a set of submissions that had to be deleted due to secondary reviews or graph validator errors, so the s3 buckets have to be removed:

- [x] s3://org-hca-data-archive-upload-prod/9ee2c0ea-caac-4d2e-8ad7-c23b085bb35b/
- [x] s3://org-hca-data-archive-upload-prod/de96f68f-5fd6-4d20-8d32-9ddc6e10447f/
- [x] s3://org-hca-data-archive-upload-prod/e6e7bcf4-141a-4607-bb0e-4236dd79cc65/
- [x] s3:

[2021-11-24 12:45] ESapenaVentura commented on #495
About the errors, I have discovered that they will be solved once the changes in the error messages are deployed into production, except `contains_umi_barcode_info.adoc`, which will need to be addressed

[2021-11-24 12:55] ESapenaVentura commented on #495
`contains_umi_barcode_info.adoc` fix: https://github.com/ebi-ait/ingest-graph-validator/pull/51

[2021-11-24 13:22] ESapenaVentura opened #568 "Flow integration ingest-graph-validator documentation"
**Description of the issue**
With the new changes in the ingest-graph-validator, we need to update the documentation to make sure it stays up-to-date with the new flow of validation

**Acceptance criteria**
- [x] Determine which documents need changes
- [x] Apply those changes

[2021-11-24 13:22] ESapenaVentura commented on #565
To be coordinated with the improved graph-validation deployment

[2021-11-24 13:26] ESapenaVentura commented on #568
Documents to be updated:

- [ ] https://ebi-ait.github.io/hca-ebi-wrangler-central/SOPs/dataset_wrangling_SOP.html#experimental-graph-validation

[2021-11-24 14:20] ESapenaVentura commented on #568
Changes applied

[2021-11-24 14:46] ke4 commented on #566
Submission deleted

[2021-11-24 14:47] ke4 commented on #566
Files also removed from this S3 bucket: s3://org-hca-data-archive-upload-prod/c7d84c13-1b85-44b6-8e8b-9d2aca7987a9/

[2021-11-24 15:03] ke4 commented on #567
All the above listed S3 buckets has been removed

[2021-11-24 20:02] nikellepetrillo opened #569 "GompertsAirwatCfCells Optimus dataset fastq/participant association"
**Description of the task:**

The pipelines team is trying to process the following two projects:
[GompertsAirwatCfCells V3 chemistry](https://data.humancellatlas.org/explore/projects?filter=%5B%7B%22facetName%22:%22workflow%22,%22terms%22:%5B%22Unspecified%22%5D%7D,%7B%22facetName%22:%22libraryConstructionApproach%22,%22terms%22:%5B%2210x%203%27%20v3%22,%2210X%203%27%20v3%20sequencing%22,%2210x%2

[2021-11-25 07:18] ofanobilbao commented on #569
This dataset was wrangled by Rachel (UCSC). I don't know how to tag her.

[2021-11-25 09:42] idazucchi commented on #492
**no_orphans error**
Error due to the presence of unlinked supplementary file.
Discussed with Wei and @ESapenaVentura and we agreed that supplementary files should be allowed to be unlinked and the test needs to be modified.
I made a [ticket](https://github.com/ebi-ait/ingest-graph-validator/issues/53) in the graph validator repo.

[2021-11-25 09:56] jacobwindsor commented on #568
@ESapenaVentura has updated and it has been reviewed. Waiting on graph validator changes to be put into production to merge these changes

[2021-11-25 09:57] jacobwindsor commented on #556
@ipediez and @ESapenaVentura reviewed document and are okay with it

[2021-11-25 09:58] jacobwindsor commented on #446
@ESapenaVentura to set up a meeting to discuss how to move on from this

[2021-11-25 09:59] jacobwindsor commented on #519
@ke4 has found that this is a possible duplicate of another project as FASTQs already in ENA

[2021-11-25 10:06] jacobwindsor commented on #489
@ESapenaVentura to move this to an SOP

[2021-11-25 10:45] ke4 commented on #519
I checked in Ingest and the `Cells of the adult human heart` project has only got 1 submission: uuid:`20a871b4-5684-4630-96bd-146f94debf1c`, title: `Submission - HeartSingleCellsAndNucleiSeq` and its files are already fixed in ENA. So we can move this ticket to done. It was a duplicated ticket, but not duplicate submission. :-)

[2021-11-25 11:10] ami-day commented on #439
I have just seen this, when I am on operations again I will pick one of these datasets up for wrangling.

[2021-11-25 11:10] ami-day commented on #439
Should we (wranglers) assign outselves to  this ticket?

[2021-11-25 11:11] ami-day commented on #439
Oh I have just seen that there are separate tickets that we can pick up. Ignore me!

[2021-11-26 09:52] yusra-haider commented on #527
bam files dont exist for this project. @ke4 stuck as a result. wrangler input / intervention needed here.
@ESapenaVentura to check this

[2021-11-26 09:58] Wkt8 commented on #274
Wrangled scRNA, scATAC-seq, VDJ, and organoid data.

Still waiting on some metadata from Peng on the VISIUM donor metadata.
Need to email HDBR to get some metadata for scATAC-seq donors.

[2021-11-26 10:25] ke4 commented on #526
I started to download the files from DCP Data Browser (https://data.humancellatlas.org/explore/projects/abe1a013-af7a-45ed-8c26-f3793c24a1f4/get-curl-command) to the EBI cluster into the `nfs/production/hca/d5410c6e-612d-421a-a66f-2de5e04dd050` folder. 126 files/ 3.09 TB so it is going to take a while.

[2021-11-26 12:22] ke4 commented on #527
We found the BAM files with @ESapenaVentura . They were originally hidden by ENA Browser: https://www.ebi.ac.uk/ena/browser/view/PRJEB40376?show=reads
So we have to ask suppression, too.

[2021-11-26 12:26] ESapenaVentura opened #570 "Prepare answers for Ben Hutton (JSON schema in the HCA)"
**Description of the issue**
Ben Hutton, from the JSON Schema team, has reached to us about feedback on the JSON Schema.

I have had a meeting with him today (Friday 26th, 2021) to define the goals and ask questions about the questionnaire.

We have determined that I will send him my feedback before next Wednesday.

**Acceptance criteria**
- [x] A document is created with the questions
- [ ] The q

[2021-11-26 14:28] ke4 commented on #527
Sequencing run accessions has ben cleared (step 8 -> Done).

[2021-11-26 15:56] ke4 commented on #527
Starting checksum generation on the EBI cluster to `/nfs/production/hca/dfb86fe3-ef1f-42ed-b559-d74f4b3b3a11/md5_checksum.txt`.

[2021-11-26 15:57] ke4 commented on #526
Started checksum generation on the EBI cluster to `/nfs/production/hca/d5410c6e-612d-421a-a66f-2de5e04dd050/md5_checksum.txt`.

[2021-11-26 15:59] ke4 commented on #527
Also started uploading the files to ENA's FRP server into `/dfb86fe3-ef1f-42ed-b559-d74f4b3b3a11` folder.

[2021-11-26 16:36] idazucchi commented on #492
For some reason each fastq file was assigned to a different process ID, so the graph validator raised an error.
I modified the spreadsheet to manually assign process IDs so that the right fastqs are grouped together.

As soon as the graph validator changes are in production the no_orphan error should disappear and I will move the dataset to secondary review.

[2021-11-26 17:07] idazucchi commented on #537
### Data available

| Source      | Publication name | Source name | Tissue | #Donors |
| ----------- | ----------- | ----------- | ----------- | ----------- |
| [GEO](https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE130148) | Lung resection | Lung resection | Lung lobe | 4 |
| [covid19cellatlas](https://www.covid19cellatlas.org/index.healthy.html#vieira19-alveoli)  | Lung trasplant  | Parenc

[2021-11-28 23:36] ke4 commented on #527
All the FASTQ files in the ENA ftp server in the `/dfb86fe3-ef1f-42ed-b559-d74f4b3b3a11` folder.

[2021-11-29 07:55] ke4 commented on #526
Started uploading the files to ENA's FTP server into `/d5410c6e-612d-421a-a66f-2de5e04dd050` folder.

[2021-11-29 09:57] Wkt8 commented on #465
Will has made the PRs - he stated he has posted in the slack channel to get reviews.

[2021-11-29 11:30] idazucchi commented on #535
**Plate well ID**
The plate well ID was present in the filenames given by the authors, but this information has gone missing because SRA renamed the files according to the SRRun accession.
The data access tab reports the original name, so the plate well ID can be recovered, and along with that the donor mouse can be recovered as well.

[2021-11-29 14:56] ke4 commented on #526
Checksum calculation is done and stored here: `/nfs/production/hca/d5410c6e-612d-421a-a66f-2de5e04dd050/md5_checksum.txt`.

[2021-11-29 15:01] idazucchi commented on #537
For the nasal and lung brush no dissociation protocol is explicitly stated, I'm assuming that the bronchoscopy dissociation protocol covers these specimens as well.

[2021-11-29 15:53] ESapenaVentura commented on #570
I have created a document and began filling it - Need some help with some questions https://docs.google.com/document/d/1_oqR8mX6CqI6EAea6mR0K4oVi1KbEoIZRb_t7SMwmkA/edit#

[2021-11-29 16:04] ESapenaVentura commented on #568
Done - The screenshot has been updated and it's available [here](https://ebi-ait.github.io/hca-ebi-wrangler-central/SOPs/dataset_wrangling_SOP.html#experimental-graph-validation)

[2021-11-29 16:14] ke4 commented on #526
Files has been submitted to ENA and we got back the accessions:

[code]

[2021-11-29 16:15] ESapenaVentura commented on #489
This has been moved to an SOP: https://ebi-ait.github.io/hca-ebi-wrangler-central/SOPs/dataset_acknowledgement_SOP.html#manual-curation-after-addition

Modifying the tickets to point there and moving this to done

[2021-11-29 16:21] ke4 commented on #526
Filed ticket to ENA HelpDesk: [ENA DATA STATUS #549358]

[code]

[2021-11-29 16:24] ke4 commented on #526
We have to monitor ENA when are the new FASTQ files are available in the browser. Normally it takes at least 48 hours.
Project to check: https://www.ebi.ac.uk/ena/browser/view/PRJEB37165

[2021-11-29 16:46] ESapenaVentura opened #571 "Delete submissions/projects"
**Description of the issue**
To avoid re-exporting, we need to delete the following submissions:
- [lavaertThymus](https://contribute.data.humancellatlas.org/submissions/detail?uuid=9b0585ed-267e-4217-a384-df4c9f5acedd&project=dbd836cf-bfc2-41f0-9834-41cc6c0b235a), related to #446
   - [x] Delete the submission
   - [x] Delete the upload area associated with the submission
- [Rui chen retina](http

[2021-11-29 18:14] rachadele commented on #569
Hi– sorry, it was my mistake. The process_id column was left blank and ingest auto-completed it with incorrect IDs. How would I go about fixing this?

[2021-11-29 18:17] willrockout commented on #569
Pretty the submission will need to be deleted and re-submitted as the experimental graph will change.

[2021-11-30 09:58] idazucchi commented on #527
checksum done, have to upload the files and create ticket for ENA

[2021-11-30 10:00] idazucchi commented on #570
Many questions are about the very beginning of the project - @gabsie will help

[2021-11-30 10:04] idazucchi commented on #571
@aaclan-ebi and @ESapenaVentura to discuss further steps for some of the projects

[2021-11-30 10:10] idazucchi commented on #274
almost done with archiving Visium data
almost done with ATAC-seq data
the Visum data will not be in release 12 but the rest of the data will be

[2021-11-30 11:29] ke4 commented on #527
[code]

[2021-11-30 11:34] ke4 commented on #527
Ticket has been created :

[code]

[2021-11-30 11:36] ke4 commented on #527
We have to monitor ENA when are the new FASTQ files are available in the browser. Normally it takes at least 48 hours.
Project to check: https://www.ebi.ac.uk/ena/browser/view/PRJEB40376?show=reads

[2021-12-01 10:59] idazucchi commented on #492
The authors confirmed that all the samples were processed with Illumina NovaSeq 6000

[2021-12-01 15:32] ESapenaVentura commented on #540
I have reviewed the dataset and applied the following corrections:
## Project
- Description: I have corrected the HTML tags
- I have removed the UCSC cell browser link, we need to report it somewhere else so it appears as an analysis portal. Once this is exported talk to me and we can sort it out!

## Dissociation protocol
- Corrected protocols.io DOI with DOI (Before it was a URL)

##Sequencing p

[2021-12-02 09:13] idazucchi commented on #539
Hello, I've finished the review! I have a few notes/questions:

### Donor organism
- the IDs match with the publication but not with GEO, which is more useful? Genuine question I don't have an answer
- Donor PM_ILD: the authors refer to her disease both as polymyositis and myositis, is polymyositis an umbrella term?

### Specimen
A few fields are missing:
- Donor organism ID
- Collection process I

[2021-12-02 09:15] #489 closed

[2021-12-02 09:15] #568 closed

[2021-12-02 09:15] #556 closed

[2021-12-02 09:15] #519 closed

[2021-12-02 09:15] #567 closed

[2021-12-02 09:16] #533 closed

[2021-12-02 09:16] #566 closed

[2021-12-02 09:16] #516 closed

[2021-12-02 09:16] #545 closed

[2021-12-02 09:16] #515 closed

[2021-12-02 09:16] #544 closed

[2021-12-02 09:16] #511 closed

[2021-12-02 09:16] #520 closed

[2021-12-02 09:43] ofanobilbao commented on #570
@ESapenaVentura asked Tony for feedback. He will come back in a couple of days

[2021-12-02 09:47] ofanobilbao commented on #551
When re-direction is confirmed we can move this ticket to done.

[2021-12-02 09:48] ofanobilbao commented on #446
@ESapenaVentura to reach out to Jason for Lattice to import their version of the project

[2021-12-02 09:49] ofanobilbao commented on #548
@ESapenaVentura to reach out to Jason so that Lattice can import their version of the project

[2021-12-02 09:51] ofanobilbao commented on #571
Not urgent. This ticket is assigned to Prabhat now

[2021-12-02 09:53] ofanobilbao commented on #538
@ESapenaVentura to apply corrections and submit dataset

[2021-12-02 09:53] Wkt8 commented on #274
We are now archiving this all in Annotare - and they have to be split up into different technologies, which has added a lot more work.

[2021-12-02 09:57] ofanobilbao commented on #274
It would be useful if he could move the files from HCA-util to annotare. @Wkt8 to create a ticket in operations

[2021-12-02 09:58] ofanobilbao commented on #539
@idazucchi finished with the secondary review

[2021-12-02 10:01] Wkt8 opened #572 "Issue with moving files from hca-util-upload area to annotare"
**Description of the task:**

Attempting to move files from the hca-util-upload-area 4777804d-1b93-4bbf-955f-1c5083e2c504 to a specific ftp location: lftp ftp-private-2.ebi.ac.uk/kwkrk75w-3u4pe7e6pe9mc/ 

I am attempting to do this via moving specific files from the hca-util upload area to the data/wteh/ folder in the EC2, and then moving from the data/wteh/ folder to the ftp location.

The issue

[2021-12-02 10:28] ipediez commented on #492
A very complete submission, good job! Here you have some suggestions:

**Project**
- Add INSDC study accession field: PRJNA694128

**Project - Contributors**
- Add Ravi Vij and Li Ding the corresponding author role at the corresponding contributor field, and mark the rest as "no". You could also add them as corresponding authors in ingest.

**Project - Publications**
- Make sure that all the autho

[2021-12-02 10:51] ESapenaVentura commented on #538
Done and exported - Filled the import form as well

[2021-12-02 11:31] prabh-t commented on #571
Karel -> first 2 have ingest urls which is done now.
other 2 have dcp urls, which Karel confirmed that the project uuid is the same as the ingest project uuid, and we can find the submission uuid(s) and proceed with deletion the same way.
SOP to follow -> https://ebi-ait.github.io/hca-ebi-dev-team/operations_tasks/Delete-project.html

[2021-12-02 14:15] ESapenaVentura commented on #539
Hi Ida! About the review:
## Donor organism
- Donor ID: It doesn't really matter that much, it may help some people but at the same time an ID is just a unique identifier in our system, does not really need to match up to anything. About your question that they don't match in GEO, in GEO you usually see samples (which may not be the same as donors), so I tend to go with the paper metadata for dono

[2021-12-02 14:35] ami-day opened #573 "Elisa Laurenti lab dataset: update study S-SUBS10 with additional scRNA-Seq dataset"
Curate the metadata for new single-cell dataset from Elisa Laurenti's lab.

[2021-12-02 17:27] idazucchi commented on #539
Sorry to reply so late, I hadn't noticed your comment!

### Donor organism
- PM_ILD (polymyositis) appears as Myositis_ILD_01 in GEO and in Table 1 of the Methods section as Myositis.
 I didn't know which one was the umbrella term but I thought you knew and had already figured it out

![Screenshot 2021-12-02 at 17.14.44.png](https://images.zenhubusercontent.com/615acd999165ed463cb3f02e/2eefcbf5-72

[2021-12-03 09:03] idazucchi commented on #492
I've applied the changes and the project has been exported

[2021-12-03 09:18] ESapenaVentura commented on #446
Jason has confirmed they have sent a request to import their version of the project

[2021-12-03 09:18] ESapenaVentura commented on #548
Jason has confirmed they have sent a request to import their version of the project

[2021-12-03 09:18] ESapenaVentura commented on #551
Dave has confirmed this will be re-directed.

[2021-12-03 09:54] ami-day commented on #274
There were some issues with the uploaded fastqs, Wei is looking into this

[2021-12-03 11:28] prabh-t commented on #571
- healthyBreastTissue

sub=d9403bc2-0724-4e2a-a66b-c2ab8c1a8328
project=9bab0f03-a725-4a13-9ab1-196e46cd80ed

Ingest upload area -> deleted
Terra prod staging -> deleted
Spreadsheet in pod -> deleted

[2021-12-03 17:39] idazucchi commented on #535
### Donor tracing
The study used 27 mice:

- 12 analysed with SmartSeq2: the samples' well layout is reported in GEO. The submitted fastq file name include the well label.

- 15 analysed with 10x: the mice were grouped in threes, had the same treatment applied, and then analysed together in the same lane. For each set of three mice there are 4+ fastqs that have three donors.

[2021-12-03 17:51] ami-day commented on #562
Validated spreadsheet in ingest. Now syncing SRA object files to hca-util upload area.

[2021-12-06 09:07] ESapenaVentura opened #574 "Release tickets - Urgent"
**Description of the issue**
State the tickets and actions that need urgent attention today (2021-12-06) before the release. List of tickets:
- [x] [Delete cell barcode test in IGV](https://github.com/ebi-ait/ingest-graph-validator/issues/57)
- [x] [Improve smart-seq2 test to check only for sequence files](https://github.com/ebi-ait/ingest-graph-validator/issues/58)

[2021-12-06 09:51] Wkt8 commented on #569
- [ ] Ask Will to give us further details about the experiment to determine the best way forwards to fix this

[2021-12-06 10:19] ESapenaVentura commented on #527
Bam files have not yet been deleted as per Monday Dec 6th, 10:20 AM

[2021-12-06 10:19] ESapenaVentura commented on #526
Bam files have not yet been deleted as per Monday Dec 6th, 10:20 AM

[2021-12-06 13:39] ESapenaVentura opened #575 "Check CGMs for immune cell atlas project"

[2021-12-06 14:25] ESapenaVentura commented on #574
Both UCSC datasets are exporting - I have told Will to fill out the import form